<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/performace_skill') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Attention Skills</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Classes</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/admin/admission/registration" method="post" enctype="multipart/form-data">
                                <div class="row mt-3">
                                    <div class="col-md-9">
                                        <div class="form-group form-group-default">
                                            <label>lADS NAME</label>
                                            <select name="title"  id="lads_name" class="form-control"  required>
                                                <option value="">SELECT LAD </option>
                                                <% var option=[]
                                                  lads.forEach(function(lad){  %>
                                                     <option value="<%= lad.student_reg_Id%>"><%= lad.surname%> <%= lad.firstname%> <%= lad.middlename%></option>
                                                 <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group form-group-default">
                                            <label>Session </label>
                                            <select name="schsession" class="form-control" id="schsession" onchange="getLad()">
                                                <option value="">Select Session</option>
                                                <% var option = [];
                                                schsession.forEach(function(acdsession){ %>
                                                        <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="/loader1.gif" alt="" id="loading-image" style="width: 100px; height: 100px;" >
                                    </div>
                                </div>
                                
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->

            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">ATTENTION SKILLS</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Class</th>
                                            <th>Student</th>
                                            <th>Term</th>
                                            <th>Sesion</th>
                                            <th>concentration <br>for 3 minutes</th>
                                            <th>concentration <br>for 5 minutes</th>
                                            <th>concentration <br>for_10 minutes</th>
                                            <th>respond_to <br> correction</th>
                                            <th>easily distracted</th>
                                            <th>overcome difficulties</th>
                                            <th>enjoy listening</th>
                                            <th>willing_to paticipate</th>
                                            <th></th>
                                           
                                        </tr>
                                    </thead>
                                   
                                    <tbody id="tr">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>

<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getLad() {
  var lads_name = $("#lads_name").val();
  var schsession = $("#schsession").val();
//   console.log(classname)
$('#loading-image').show();
  $.ajax({
    url: "/api/parents/view/student_attention_skills_per-class?lads_name="+lads_name+"&schoolsession="+schsession,
    method: "GET",
    success: function(response){
      getStates(response)
      console.log(response)
    },
    complete: function(){
        $('#loading-image').hide();
      }
  })
}

function getStates(result){
  if(result.length > 0){
    var html = "";
    for(var a = 0; a < result.length; a++){
      //price = result[a].prices;
       html +='<tr>';
        html +='<td>'+result[a].className+' </td>';
         html +='<td>'+result[a].surname+" "+result[a].firstname+" "+result[a].middlename+'</td>';
         html +='<td>'+result[a].term+'</td>';
         html +='<td>'+result[a].sesion+'</td>';
         html +='<td>'+result[a].concentration_for_3_minutes+'</td>';
         html +='<td>'+result[a].concentration_for_5_minutes+'</td>';
         html +='<td>'+result[a].concentration_for_10_minutes+'</td>';
         html +='<td>'+result[a].respond_to_correction+'</td>';
         html +='<td>'+result[a].easily_distracted+'</td>';
         html +='<td>'+result[a].overcome_difficulties+'</td>';
         html +='<td>'+result[a].enjoy_listening+'</td>';
         html +='<td>'+result[a].willing_to_paticipate+'</td>';
         html +='<td></td>';
     html +='</tr>';
     
    }
    $('#tr').html(html);
  } else {
    var html = "";
    html +='<tr >';
        html +='<td colspan="12" style="text-align:center">No Record Found </td>'
    html +='</tr>';
    $('#tr').html(html);
  }
}

    $(document).ready(function() {
        $('#basic-datatables').DataTable({
            
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>