<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/performace_skill') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Performace Skills</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Classes</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/admin/admission/registration" method="post" enctype="multipart/form-data">
                                <div class="row mt-3">
                                    <div class="col-md-9">
                                        <div class="form-group form-group-default">
                                            <label>lADS NAME</label>
                                            <select name="title"  id="lads_name" class="form-control"  required>
                                                <option value="">SELECT LAD </option>
                                                <% var option=[]
                                                  lads.forEach(function(lad){  %>
                                                     <option value="<%= lad.student_reg_Id%>"><%= lad.surname%> <%= lad.firstname%> <%= lad.middlename%></option>
                                                 <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group form-group-default">
                                            <label>Session </label>
                                            <select name="schsession" class="form-control" id="schsession" onchange="getLad()">
                                                <option value="">Select Session</option>
                                                <% var option = [];
                                                schsession.forEach(function(acdsession){ %>
                                                        <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="/loader1.gif" alt="" id="loading-image" style="width: 100px; height: 100px;" >
                                    </div>
                                </div>
                                
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->

            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <h4 class="card-title">Multi Filter Select</h4> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Student Attendent</th>
                                            <th>totals</th>
                                            <th>className</th>
                                            <th>term</th>
                                            <th>sesion</th>
                                           
                                        </tr>
                                    </thead>
                                    
                                    <tbody id="table">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>

<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getLad() {
    var lads_name = $("#lads_name").val();
  var schsession = $("#schsession").val();
//   console.log(classname)
$('#loading-image').show();
  $.ajax({
    url: "/api/parents/view/performance/get_punctuality?lads_name="+lads_name+"&schoolsession="+schsession,
    method: "GET",
    success: function(response){
      getLadDetails(response)
    //   console.log(response)
    },
    complete: function(){
        $('#loading-image').hide();
      }
  })
}

function getLadDetails(result){
  if(result.length > 0){
    var html = "";
    for(var a = 0; a < result.length; a++){
      //price = result[a].prices;
       html +='<tr>';
        html +='<td>'+result[a].surname+" "+result[a].firstname+" "+result[a].middlename+' </td>';
         html +='<td>'+result[a].totals+'</td>';
         html +='<td>'+result[a].className+'</td>';
         html +='<td>'+result[a].term+'</td>';
         html +='<td>'+result[a].sesion+'</td>';
     html +='</tr>';
     
    }
    $('#table').html(html);
  } else {
    var html = "";
    html +='<option disabled selected value></option>';
    $('#state').html(html);
  }
}
</script>