<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/performace_skill') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Skill Management</h4>
                        <ul class="breadcrumbs">
                            <!-- <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/skill_management_settings">Skills Center</a>
                            </li> -->
                            <!-- <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Stuudent Registration</a>
                            </li> -->
                        </ul>
                    </div>
					<div class="row">
						<!-- <div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/accademic_session_setup">
                                <div class="card card-stats card-round">
                                    <div class="card-body ">
                                            <div class="row"> 
                                                    <div class="col-3">
                                                        <div class="icon-big text-center">
                                                            <i class="fas fa-users-cog text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-stats">
                                                        <div class="numbers">
                                                            <p class="card-title">View </p>
                                                            <h6 class=" card-category"> Created Subject Exams</h6>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </a>
						</div> -->
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="/api/parents/view/students_attention_skills">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class=" flaticon-interface-4 text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-title">Attention Skills </p>
                                                    <h4 class="card-category">View/Create Skills</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="/api/parents/view/pychomotorskills">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class=" fas fa-chart-line text-danger"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-title "> Pychomotor Skills </p>
                                                    <h4 class="card-category">View/Add </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="/api/parents/view/performance/punctuality">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="fas fa-chart-pie text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">Punctuality</h4>
                                                    <p class="card-category">View/Add</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/api/parents/view/students_workhbit">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-user-2 text-warning"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">Work Habit</h4>
                                                    <p class="card-category">View/Add</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
        </div>
    </div>
    
</div>


<%- include('../../layouts/admin/footer') %>

