<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/subjectcenter') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Subject</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Subject Center</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Course Subjects</a>
                    </li>
                </ul>
                <div class="btn-group btn-group-page-header ml-auto">
                    <button type="button" class="btn btn-light btn-round btn-page-header-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="arrow"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-file-import  "></i> Upload Course Subjecc</a>
                        <!-- <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> -->
                    </div>
                </div>
            </div>
            <!-- SELECT CLASS ROW -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Classes</a> </li>
                                  <li class="nav-item"> 
                                    <a class="btn  nav-link" style="text-align  : right;" data-toggle="modal" data-target="#addRowModal">
                                        <i class="fa fa-plus"></i> subject
                                    </a>
                                  </li>
                                   <!--<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/admin/admission/registration" method="post" enctype="multipart/form-data">
                                <div class="row mt-3">
                                    <div class="col-md-9">
                                        <div class="form-group form-group-default">
                                            <label>CLASS NAME</label>
                                            <select name="title"  id="classname" class="form-control" onchange="getsubjectcourse()" required>
                                                <option value="">SELECT CLASS NAME</option>
                                                <% var option=[]
                                                 classt.forEach(function(clss){  %>
                                                     <option value="<%= clss.Id%>"><%= clss.className%></option>
                                                 <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="/loader1.gif" alt="" id="loading-image" style="width: 100px; height: 80px; padding-bottom:20px; margin-top: 0;" >
                                    </div>
                                </div>
                                
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->
            <div class="row none" id="subj" >
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="float: right;">
                            <!-- <button class="btn btn-info btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                <i class="fa fa-plus"></i> subject
                            </button> -->
                            
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Subject Name</th>
                                            <th>Teachers Name</th>
                                            <th>Action</th>
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Subject Name</th>
                                            <th>Teachers Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="table">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            <!-- end table -->

        
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    COURSE </span> 
                    <span class="fw-light">
                        SUBJECT FORM.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/subject_center/courese_subject" method="post" >
                    <div id="addmore">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-default">
                                    <label>class</label>
                                    <select name="classid[]"   class="form-control"  required>
                                        <option value="">SELECT CLASS NAME</option>
                                        <% var option=[]
                                        classt.forEach(function(clss){  %>
                                            <option value="<%= clss.Id%>"><%= clss.className%></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-default">
                                    <label>SUBJECTS</label>
                                    <select name="subject[]" class="form-control"  required>
                                        <option value="">SELECT SUBJECTS NAME</option>
                                        <% var option=[]
                                        subjects.forEach(function(subject){  %>
                                            <option value="<%= subject.Id %>"><%= subject.subjectName%> </option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group form-group-default">
                                    <label>STAFF</label>
                                    <select name="teacher_id[]"   class="form-control"  required>
                                        <option value="">SELECT STAFF </option>
                                        <% var option=[]
                                        teachers.forEach(function(teacher){  %>
                                            <option value="<%= teacher.staff_reg_id%>"><%= teacher.surname%> <%= teacher.firstname%> <%= teacher.middlename%></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div  style="float: left;">
                                    <button type="button" name="add" id="add" class="btn "><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script>
    $(document).ready(function(){
   
     var revenue_name = $('#revenue_name').val();
    
   
       var i = 1;
       $('#add').click(function(){
           i++;
           $('#addmore').append(`
           <div class="row" id="row${i}">
            <div class="col-sm-4">
                <div class="form-group form-group-default">
                    <label>class</label>
                    <select name="classid[]"   class="form-control"  required>
                        <option value="">SELECT CLASS NAME</option>
                        <% var option=[]
                        classt.forEach(function(clss){  %>
                            <option value="<%= clss.Id%>"><%= clss.className%></option>
                        <%});%>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group-default">
                    <label>SUBJECTS</label>
                    <select name="subject[]" class="form-control"  required>
                        <option value="">SELECT SUBJECTS NAME</option>
                        <% var option=[]
                        subjects.forEach(function(subject){  %>
                            <option value="<%= subject.Id %>"><%= subject.subjectName%> </option>
                        <%});%>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-group-default">
                    <label>STAFF</label>
                    <select name="teacher_id[]"   class="form-control"  required>
                        <option value="">SELECT STAFF </option>
                        <% var option=[]
                        teachers.forEach(function(teacher){  %>
                            <option value="<%= teacher.staff_reg_id%>"><%= teacher.surname%> <%= teacher.firstname%> <%= teacher.middlename%></option>
                        <%});%>
                    </select>
                </div>
            </div>
                           
                <div class="col-sm-1">
                    <div style="flaot:left">
                        <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
                    </div>
                </div>
            </div>
        `);
       });
       
       $(document).on('click', '.btn_remove', function(){
           var button_id = $(this).attr("id"); 
           $('#row'+button_id+'').remove();
       });

       
       
       
   });
   </script>
<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getsubjectcourse() {
    var element = document.getElementById("subj");
    element.classList.remove("none");
  var classid = $("#classname").val();
//   console.log(classname)
$('#loading-image').show();
  $.ajax({
    url: "/admin/view/subject_center/get_course_subject/"+classid,
    method: "GET",
    success: function(response){
      getStates(response)
      console.log(response)
    },
    complete: function(){
        $('#loading-image').hide();
      }
  })
}

function getStates(result){
  if(result.length > 0){
    var html = "";
    for(var a = 0; a < result.length; a++){
      //price = result[a].prices;
       html +='<tr>';
         html +='<td>'+result[a].subjectName+'</td>';
         html +='<td>'+result[a].surname+" "+result[a].firstname+" "+result[a].middlename+'</td>';
         html +='<td></td>';
     html +='</tr>';
     
    }
    $('#table').html(html);
  } else {
    html +='<tr>';
        html +='<td colspan="3">No Subject  </td>';
     html +='</tr>';
    $('#table').html(html);
  }
}
</script>
<!-- <script >
   $("#subj"). hide();
    $(document).ready(function() {
        
        

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script> -->

