<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/subjectcenter') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Subject</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/subject_center">Subject Center</a>
                            </li>
                            <!-- <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Stuudent Registration</a>
                            </li> -->
                        </ul>
                    </div>
					<div class="row">
						<div class="col-sm-6 col-md-4">
                            <a href="/admin/subject_center/courese_subject">
                                <div class="card card-stats card-round">
                                    <div class="card-body ">
                                            <div class="row"> 
                                                    <div class="col-5">
                                                        <div class="icon-big text-center">
                                                            <i class="fas fa-cog text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-stats">
                                                        <div class="numbers">
                                                            <p class="card-category">Course Subjects </p>
                                                            <h4  class="card-title" style="font-size: 14px;">Manage Subject Groups</h4>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="/admin/skill_management_settings">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center">
                                                    <i class=" flaticon-interface-4 text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Skill Mangmt </p>
                                                    <h4  class="card-title" style="font-size: 14px;">Manage Skill</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
                            <a href="/admin/setting/term_setup">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center">
                                                    <i class=" flaticon-chain text-danger"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Link batches </p>
                                                    <h4 class="card-title" style="font-size: 14px;">Link Course Subjects to Batches</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
						
					</div>
        </div>
    </div>
    
</div>


<%- include('../../layouts/teacher/footer') %>