<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/admin/sidebars/certificate') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Setup</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Panel</a>
                            </li>
                            <!-- <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Stuudent Registration</a>
                            </li> -->
                        </ul>
                    </div>
					<div class="row">
						
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="#">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class=" flaticon-interface-4 text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-title"> Certificate Templates </p>
                                                    <h4 class="card-category"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="#">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="   fas fa-certificate text-danger"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-title "> Individual Certificates </p>
                                                    <h4 class="card-category"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="#">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="fas fa-layer-group text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">Bulk Generate Certificates</h4>
                                                    <p class="card-category"></p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#">
                                <div class="card card-stats card-round">
                                    <div class="card-body ">
                                            <div class="row"> 
                                                    <div class="col-3">
                                                        <div class="icon-big text-center">
                                                            <i class="fas fa-cannabis text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-stats">
                                                        <div class="numbers">
                                                            <p class="card-title">Generated Certificates </p>
                                                            <h6 class=" card-category"> </h6>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
        </div>
    </div>
    
</div>


<%- include('../layouts/teacher/footer') %>