<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/admin/sidebars/settings') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Setup</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Panel</a>
                            </li>
                            <!-- <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Stuudent Registration</a>
                            </li> -->
                        </ul>
                    </div>
					<div class="row">
						<div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/accademic_session_setup">
                                <div class="card card-stats card-round">
                                    <div class="card-body ">
                                            <div class="row"> 
                                                    <div class="col-3">
                                                        <div class="icon-big text-center">
                                                            <i class="fas fa-cog text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-stats">
                                                        <div class="numbers">
                                                            <p class="card-category">Academic Session </p>
                                                            <h6 class="card-title"> Setup</h6>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="/admin/settings/subject_setup">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class=" flaticon-interface-4 text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Subject </p>
                                                    <h4 class="card-title">Setup</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="/admin/setting/term_setup">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-calendar text-danger"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Term </p>
                                                    <h4 class="card-title">Setup</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/teacher_setup">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-user-5 text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Teachers</p>
                                                    <h4 class="card-title">Setup</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/calender_setup_panel">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="fas fa-calendar-alt text-danger"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Calender</p>
                                                    <h4 class="card-title"> Setup Panel</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/gradebook_setup_panel">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-interface-6 text-warning"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Gradebook</p>
                                                    <h4 class="card-title">Setup Panel</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/admin/payment/settings">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="fas fa-binoculars text-info"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Payment</p>
                                                    <h4 class="card-title">Item Setup</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>

                        <div class="col-sm-6 col-md-3">
                            <a href="/admin/period_settings">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-time text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Periods</p>
                                                    <h4 class="card-title">Setup</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>

                        <div class="col-sm-6 col-md-3">
                            <a href="/admin/period_settings">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-time text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">Notice Booad</p>
                                                    <h4 class="card-title">Add</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
        </div>
    </div>
    
</div>


<%- include('../layouts/teacher/footer') %>