<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/parents/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Admitted Students</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Admitted student</a>
                    </li>
                </ul>
            </div>
               

                
                        <%- messages('messages', locals) %>
                               <!-- Pricing -->
                        <h4 class="page-title">Pricing</h4>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-3 pl-md-0">
                                <div class="card card-pricing">
                                    <div class="card-header">
                                        <h4 class="card-title">Basic</h4>
                                        <div class="card-price">
                                            <span class="price">$25</span>
                                            <span class="text">/mo</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="specification-list">
                                            <li>
                                                <span class="name-specification">Customizer</span>
                                                <span class="status-specification">14 days trial</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Chat History</span>
                                                <span class="status-specification">No</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Statistics</span>
                                                <span class="status-specification">14 days trial</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Support</span>
                                                <span class="status-specification">Yes</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Live Support</span>
                                                <span class="status-specification">No</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary btn-block"><b>Get Started</b></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-md-0 pr-md-0">
                                <div class="card card-pricing card-pricing-focus card-primary">
                                    <div class="card-header">
                                        <h4 class="card-title">Professional</h4>
                                        <div class="card-price">
                                            <span class="price">$35</span>
                                            <span class="text">/mo</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="specification-list">
                                            <li>
                                                <span class="name-specification">Customizer</span>
                                                <span class="status-specification">Yes</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Chat History</span>
                                                <span class="status-specification">3 Month</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Statistics</span>
                                                <span class="status-specification">3 Month</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Support</span>
                                                <span class="status-specification">Yes</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Live Support</span>
                                                <span class="status-specification">Yes</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-light btn-block"><b>Get Started</b></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pr-md-0">
                                <div class="card card-pricing">
                                    <div class="card-header">
                                        <h4 class="card-title">Team</h4>
                                        <div class="card-price">
                                            <span class="price">$75</span>
                                            <span class="text">/mo</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="specification-list">
                                            <li>
                                                <span class="name-specification">Customizer</span>
                                                <span class="status-specification">Yes</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Chat History</span>
                                                <span class="status-specification">1 Year</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Statistics</span>
                                                <span class="status-specification">1 Year</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Support</span>
                                                <span class="status-specification">Yes</span>
                                            </li>
                                            <li>
                                                <span class="name-specification">Live Support</span>
                                                <span class="status-specification">Yes</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary btn-block"><b>Get Started</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                
        </div>
    </div>
    
</div>



<%- include('../layouts/admin/footer') %>