<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/parents/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title"> CheckPoint</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Fees</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">CheckPoint</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               
                <% if (typeof cart !== "undefined") {%>
                    <% var total = 0;  %>
					<%  var count = 0; %>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="text-transform: uppercase;">Lads fees payment record </h4>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <%- messages('messages', locals) %>
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            
                                            <th>Name</th>
                                            <th>ClassName</th>
                                            <th>Item</th>
                                            <th>Option</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        <% cart.forEach(function(lad){ %>
											<% var subtotal = parseFloat(lad.amount).toFixed(2); %>
											<%  total += +subtotal; %>
											<%  count++ %> 
                                        <tr>
                                            <td><%= lad.studentname %>  </td>
                                            <td><%= lad.classname %></td>
                                            <td><%= lad.acdsession %> <br> <%= lad.item %></td>
                                            <td>
                                                <% if(lad.options == 1){ %>
                                                    <span class="btn btn-warning btn-border btn-round btn-sm mr-2">
                                                        Compulsory fee 
                                                    </span>
                                                <%} else {%>
                                                    <span class="btn btn-primary btn-border btn-round btn-sm mr-2">
                                                        Optional fee
                                                    </span>
                                                <%}%>
                                            </td>
                                            <td>NGN <%= lad.amount.toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/cart/update/<%= lad.paymentID %>?action=clear" data-toggle="tooltip" title="" class="btn btn-link btn-danger removeProduct " data-original-title="Remove Item">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            
                                            
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pl-md-0 pr-md-0">
                    <div class="card card-pricing card-pricing-focus card-primary">
                        <div class="card-header">
                            <h4 class="card-title">GRAND TOTAL</h4>
                            <div class="card-price">
                                NGN<span class="price" style="font-size: 35px;"> <%=  parseFloat(total).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></span>
                                <!-- <span class="text">/mo</span>  -->
                            </div>
                            <div class="card-price">
                              
                                <span class="text"><%=  parentInfo.surname %>, <%=  parentInfo.firstname %> <%=  parentInfo.middlename %></span> 
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="specification-list">
                                <li>
                                    <span class="name-specification">EMAIL</span>
                                    <span class="status-specification"><%=  parentInfo.email %></span>
                                </li>
                                <li>
                                    <span class="name-specification">Phone </span>
                                    <span class="status-specification"><%=  parentInfo.phone %></span>
                                </li>
                               
                                
                            </ul>
                        </div>
                        <div class="card-footer">
                            <form action="/paystack/pay" method="POST">
                                <% cart.forEach(function(inp){ %>
                                    <input type="hidden" name="class_id[]" value="<%=  inp.class_id %>">
                                    <input type="hidden" name="class_name[]" value="<%=  inp.classname %>">
                                    <input type="hidden" name="item[]" value="<%=  inp.item %>">
                                    <input type="hidden" name="iteamAmount[]" value="<%=  inp.amount %>">
                                    <input type="hidden" name="sessions[]" value="<%=  inp.acdsession %>">
                                    <input type="hidden" name="options[]" value="<%=  inp.options %>">
                                    <input type="hidden" name="term[]" value="<%=  inp.term %>">
                                    <input type="hidden" name="studentid[]" value="<%=  inp.studentId %>">
                                    <input type="hidden" name="itemid[]" value="<%=  inp.paymentID %>">
                                <%});%>
                                <input type="hidden" name="full_name" value="<%=  parentInfo.surname %> <%=  parentInfo.firstname %> <%=  parentInfo.middlename %>">
                                <input type="hidden" name="phone" value="<%=  parentInfo.phone %>">
                                <input type="hidden" name="email" value="<%=  parentInfo.email %>">
                                <input type="hidden" name="amount" value="<%=  total %>">
                                <button type="submit" class="btn btn-success">Make Payment</button>
                            </form>
                            <!-- <button class="btn btn-light btn-block"><b>Get Started</b></button> -->
                        </div>
                    </div>
                </div>

                <%} else {%>
                <% }%>

                
            </div>
        </div>
    </div>
    
</div>


<!-- 
    <script >
   
    var inputs = document.getElementsByClassName('sum'),
        ids = document.getElementsByClassName('ids'),
        total  = document.getElementById('payment-total');
        // total1 = document.getElementById('payment-billed');
        var s = 0;
        var itemids = document.getElementById('itemid').value;
        console.log()
    for (var i=0; i < inputs.length; i++) {
        inputs[i].onchange = function() {
            var add = this.value * (this.checked ? 1 : -1);
            //  console.log(add)
            // console.log(ids[i])
                s +=add
            total.innerHTML = parseFloat(s).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            // total1.innerHTML = parseFloat(total1.innerHTML) + add
            
            console.log(s)
            // console.log(ids[i].value)
        }
        
    }
</script> -->
<%- include('../layouts/admin/footer') %>

