<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/parents/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title"> Lads Fees</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Lads Fees</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="text-transform: uppercase;">Lads fees payment record </h4>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <%- messages('messages', locals) %>
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            
                                            <th>Name</th>
                                            <th>ClassName</th>
                                            <th>Email</th>
                                            <th>Item</th>
                                            <th>Option</th>
                                            
                                            <td>Status</td>
                                            <th>Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        <% var total = 0; %>
                                        <% fees.forEach(function(fee){%>
                                         <% var sub = fee.amount %> %>
                                        <%  total += +sub ; %> 
                                        <tr>
                                            <td><%= fee.surname %> <%= fee.firstname %> <%= fee.middlename %> </td>
                                            <td><%= fee .classname %></td>
                                            <td><%= fee .email %></td>
                                            <td><%= fee .item %></td>
                                            <td>
                                                <% if(fee.option == 1){ %>
                                                    <span class="btn btn-warning btn-border btn-round btn-sm mr-2">
                                                        Compulsory fee 
                                                    </span>
                                                <%} else {%>
                                                    <span class="btn btn-primary btn-border btn-round btn-sm mr-2">
                                                        Optional fee
                                                    </span>
                                                <%}%>
                                            </td>
                                            <td> </td>
                                            <td>NGN <%= fee.amount.toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></td>
                                            
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/add?studentid=<%= fee.id %>&paymentid=<%= fee.item_id %>" data-toggle="tooltip" title="" class="btn btn-link btn-warning " data-original-title="Add to card">
                                                        <i class="flaticon-cart"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            
                                            
                                        </tr>
                                        <%});%>
                                        <tr>
                                            <td colspan="7" style="text-align: right;">GRAND TOTAL</td>
                                            <td>NGN <%= parseFloat(total).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");  %> </td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-3 pl-md-0 pr-md-0">
                    <div class="card card-pricing card-pricing-focus card-primary">
                        <div class="card-header">
                            <h4 class="card-title">GRAND TOTAL</h4>
                            <div class="card-price">
                                NGN<span class="price"  id="payment-total"> 
                                     </span>
                                <span class="text">/mo</span> 
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="specification-list">
                                <li>
                                    <span class="name-specification">Customizer</span>
                                    <span class="status-specification">Yes</span>
                                </li>
                                <li>
                                    <span class="name-specification">Chat History</span>
                                    <span class="status-specification">3 Month</span>
                                </li>
                                <li>
                                    <span class="name-specification">Statistics</span>
                                    <span class="status-specification">3 Month</span>
                                </li>
                                <li>
                                    <span class="name-specification">Support</span>
                                    <span class="status-specification">Yes</span>
                                </li>
                                <li>
                                    <span class="name-specification">Live Support</span>
                                    <span class="status-specification">Yes</span>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-light btn-block"><b>Get Started</b></button>
                        </div>
                    </div>
                </div> -->

                
            </div>
        </div>
    </div>
    
</div>


<!-- <script >
   
    var inputs = document.getElementsByClassName('sum'),
        ids = document.getElementsByClassName('ids'),
        total  = document.getElementById('payment-total');
        // total1 = document.getElementById('payment-billed');
        var s = 0;
        var itemids = document.getElementById('itemid').value;
        console.log()
    for (var i=0; i < inputs.length; i++) {
        inputs[i].onchange = function() {
            var add = this.value * (this.checked ? 1 : -1);
            //  console.log(add)
            // console.log(ids[i])
                s +=add
            total.innerHTML = parseFloat(s).toFixed(2).toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            // total1.innerHTML = parseFloat(total1.innerHTML) + add
            
            console.log(s)
            // console.log(ids[i].value)
        }
        
    }
</script> -->
<%- include('../layouts/admin/footer') %>

