<form id="test-form" method="post" action="https://www.willmaster.com/library/external/CheckboxShoppingCart.php">

    <div>
    <label>
    <input type="checkbox" onclick="AddCheckedProducts()" id="wonder-book" name="wonder_book" value="3.33"> Wonder Book, $3.33
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" onclick="AddCheckedProducts()" id="wonder-course" name="wonder_course" value="300"> Wonder Course, $300.00
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" onclick="AddCheckedProducts()" id="wonder-video" name="wonder_video" value="30.95"> Wonder Video, $30.95
    </label>
    </div>
    
    <p style="margin-top:.25em; margin-bottom:.25em;">Total: $<span id="current-total-amount"></span></p>
    
    <input type="image" src="https://www.willmaster.com/possibilities/images/20200421-issue-payatpaypal.png">
    
    </form>
    
    <script type="text/javascript">
    /*
    Checkbox Shopping Cart
    Version 1.0
    April 18, 2020
    Will Bontrager Software LLC
    https://www.willmaster.com/
    */
    
    /* Customization (two places) */
    // Place 1:
    // Specify the id value where to publish the total 
    //    amount of the order.
    
    var CSC_total_spot2 = "current-total-amount";
    
    //Place 2:
    // Specify the checkbox id values, quoted and comma 
    //    separated, all one line, within the parenthesis.
    
    var CSC_checkbox_IDs2 = new Array( "wonder-book", "wonder-course", "wonder-video" );
    
    /* End of customization */
    
    function AddCheckedProducts()
    {
       var value = 0.0;
       for( var i=0; i<CSC_checkbox_IDs2.length; i++ )
       {
          var d = document.getElementById(CSC_checkbox_IDs2[i]);
          if( d.checked ) { value += parseFloat(d.value); }
       }
       document.getElementById(CSC_total_spot2).innerHTML = value.toFixed(2);
    }
    AddCheckedProducts();
    </script>