<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/parents/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Wards<h4>
                <!-- <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Wards</a>
                    </li>
                </ul> -->
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Wards Record</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <%- messages('messages', locals) %>
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>class Name</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% students.forEach(function(student){%>
                                        <tr>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/admin/view_/registered_students/view?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a href="api/parents/kids/school/fees?student_id=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-warning " data-original-title="Make Payments">
                                                        <i class=" flaticon-coins"></i>
                                                    </a>
                                                    <a href="/api/parents/view/performance/punctuality?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link" data-original-title="Puntuality Skill">
                                                        <i class="fas fa-chart-pie text-primary"></i>
                                                    </a>
                                                    <a href="/api/parents/view/pychomotorskills?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link " data-original-title="Pychomoyor Skill">
                                                        <i class="fas fa-chart-line text-danger"></i>
                                                    </a>
                                                    <a href="/api/parents/view/students_workhbit?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link " data-original-title="Work Habit Skill">
                                                        <i class="flaticon-user-2 text-warning"></i>
                                                    </a>
                                                    <a href="/api/parents/view/students_attention_skills?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Attention">
                                                        <i class="flaticon-interface-4 text-success"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td><%= student.title %> <%= student.surname %> <%= student.firstname %> <%= student.middlename %> </td>
                                            <td><%= student.className %></td>
                                            <td><%= student.gender %></td>
                                            <td><%= student.dateofbirth %></td>
                                            
                                        </tr>
                                        <%});%>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<%- include('../layouts/admin/footer') %>
<script >
    $(document).ready(function() {
        $('#basic-datatables').DataTable({
        });
    })
</script>