
<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <% if (user.service_logo == "" || user.service_logo == null){%>
                        <img src="/avata.png" alt="..." class="avatar-img rounded-circle">
                    <%} else {%>
                        <!-- <div class="avatar-lg"><img src="/service_logo" alt="image profile" class="avatar-img rounded"></div> -->
                        <img src="/<%=  user.service_logo %>" alt="..." class="avatar-img rounded-circle">
                        
                    <%}%>
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            <%= user.name%>
                            <% if (user.group_id == 333333){%>
                                <span class="user-level">TEACHER</span> 
                            <%} else if (user.group_id == 111111) {%>
                                <span class="user-level">Administrator</span>
                            <%} else if (user.group_id == 444444) {%>
                                <span class="user-level">Parent</span>
                            <%} else {%>
                                <span class="user-level">Student</span>
                            <%}%>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>
            
                    <!-- <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div> -->
                </div>
            </div>
            <ul class="nav">
                <% if (link == '/api/parents/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/api/parents/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/parents/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Library Management</h4>
                </li>
                <% if (link == '/api/labrary/library_dashboard'){%>
                    <li class="nav-item active">
                        <a  href="/api/labrary/library_dashboard">
                            <i class="fas flaticon-users"></i>
                            <p>Library Panel</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/api/labrary/library_dashboard">
                            <i class="fas flaticon-users"></i>
                            <p>Library Panel</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>
                
                
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->