<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/library/sidebar') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title"><%= info.BOOK_TITLE.toUpperCase() %></h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Book Details</span></a> </li>
                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Academic</a> </li> -->
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Change/Update Img</a> </li>
                </ul>
              </div>
            </div>
            <%- messages('messages', locals) %>
            <div  class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <div class="card-body">
                      <form id="form">
                        <!-- <form action="/admin/update_student_personal_info?studentid=<%= info.student_reg_Id %>" method="POST"> -->
                        <div class="row mt-3">
                          <div class="col-md-6">
                              <div class="form-group form-group-default">
                                <label>BOOK TITLE</label>
                                <input type="hidden" id="BOOK_CODE" value="<%= info.BOOK_CODE %>" name="BOOK_CODE">
                                <input type="text" class="form-control" name="BOOK_TITLE" id="BOOK_TITLE" placeholder="BOOK TITLE" value="<%= info.BOOK_TITLE %>">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group form-group-default">
                                <label>CATEGORY</label>
                                <input type="text" class="form-control" name="CATEGORY" id="CATEGORY" placeholder="BOOK  CATEGORY" value="<%= info.CATEGORY %>">
                              </div>
                            </div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group form-group-default">
                                  <label>AUTHOR</label>
                                  <input type="text" class="form-control" name="AUTHOR" id="AUTHOR" placeholder="AUTHOR" value="<%= info.AUTHOR %>">
                                </div>
                            </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>PUBLICATION</label>
                              <input type="email" class="form-control" id="PUBLICATION" name="PUBLICATION" value="<%= info. PUBLICATION %>">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>PUBLISH DATE</label>
                              <input type="date" class="form-control" id="PUBLISH_DATE" name="PUBLISH_DATE" value="<%= info. PUBLISH_DATE %>" placeholder="mm/dd/yyyy">
                            </div>
                          </div>
                          
                        </div>


                        <div class="row mt-3">
                            <div class="col-md-4">
                                <div class="form-group form-group-default">
                                  <label>BOOK_EDITION</label>
                                  <input type="text" class="form-control" id="BOOK_EDITION" name="BOOK_EDITION" value="<%= info. BOOK_EDITION %>" placeholder="">
                                </div>
                              </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>PRICE</label>
                              <input type="text" class="form-control" id="PRICE" name="PRICE" value="<%= info. PRICE %>">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>RACK NUM</label>
                              <input type="text" class="form-control" value="<%= info.RACK_NUM %>" name="RACK_NUM" id="RACK_NUM" placeholder="RACK NUM">
                            </div>
                          </div>
                        </div>
                      
                        <div class="text-right mt-3 mb-3">
                          <button class="btn btn-primary" id="button1">Save Changes</button>
                          <!-- <button class="btn btn-danger">Reset</button> -->
                        </div>
                      </form>
                    </div>
                </div>

                <div  class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="line-home-tab" >
                   <div class="card-body">
                    <form action="/api/labrary/mls_updte/library_book_ing?ebook_code=<%= info.BOOK_CODE %>" method="POST" enctype="multipart/form-data">
                       
                      <div class="row mt-3">
                        <div class="col-md-8">
                          <div class="form-group form-group-default">
                            <label>IMG </label>
                            <input type="file" class="form-control" id="ProductImage" name="photo" accept="image/png, image/gif, image/jpeg" required placeholder="">
                          </div>
                          <img src="#" class="avatar-img rounded-circle" id="imgPreview" alt="User Image">
                        </div>
                        <div class="col-md-4 mt-3">
                          <button class="btn btn-success" >Upload</button>
                        </div>
                      </div>
                      
                     
                    </form>
                  </div>
                </div>
          </div>
          
        </div>
          
          
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-secondary">
            <div class="card-header" style="background-image: url('/assets/img/blogpost.jpg')">
              <div class="profile-picture">
                <div class="avatar avatar-xl">
                  <% if (info.photo == "" || info.photo == null){%>
                    <img src="/avata.png" alt="..." class="avatar-img rounded-circle">
                    <% } else {%>
                        <img src="/<%= info.photo %> " alt="..." class="avatar-img rounded-circle">
                  <%}%>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="user-profile text-center">
                <div class="name"><%= info.BOOK_TITLE %>  </div>
                <div class="job"><%= info.CATEGORY %> 
                </div>
                <div class="social-media">
                  <a class="btn btn-info btn-twitter btn-sm btn-link" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                  </a>
                  <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span> 
                  </a>
                </div>
                <!-- <div class="view-profile">
                  <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
                </div> -->
              </div>
            </div>
            <div class="card-footer">
              <!-- <div class="row user-stats text-center">
                <div class="col">
                  <div class="number">125</div>
                  <div class="title">Asignts</div>
                </div>
                <div class="col">
                    <div class="number">125</div>
                    <div class="title">Pract</div>
                  </div>
                <div class="col">
                  <div class="number">25K</div>
                  <div class="title">Text</div>
                </div>
                <div class="col">
                  <div class="number">134</div>
                  <div class="title">Exam</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<%- include('../layouts/admin/footer') %>

<script>
function readURL(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e){
        $("#imgPreview").attr('src', e.target.result).width(100).height(100);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $('#ProductImage').change(function(){
    readURL(this);
  });

$(document).ready(function(){

$("#button1").click(function (e) {
    e.preventDefault();
    var BOOK_CODE = $("#BOOK_CODE").val();
    var BOOK_TITLE = $("#BOOK_TITLE").val();
    var CATEGORY = $("#CATEGORY").val();
    var AUTHOR = $("#AUTHOR").val();
    var PUBLICATION = $("#PUBLICATION").val();
    var PUBLISH_DATE = $("#PUBLISH_DATE").val();
    var BOOK_EDITION = $("#BOOK_EDITION").val();  
    var PRICE = $("#PRICE").val();
    var RACK_NUM = $("#RACK_NUM").val();
    // var id = $("#student_reg_id").val(); 
    $.ajax({
      url: "/api/labrary/book_registration/edit",
      method: "POST",
      cache: false,
      dataType:'json',
      // timeout: 3000,
      data: {
        BOOK_CODE: BOOK_CODE,
        BOOK_TITLE: BOOK_TITLE,
        CATEGORY: CATEGORY,
        AUTHOR: AUTHOR,
        PUBLICATION: PUBLICATION,
        PUBLISH_DATE: PUBLISH_DATE,
        BOOK_EDITION: BOOK_EDITION,
        PRICE: PRICE,
        RACK_NUM:RACK_NUM
      },
      success: function (response) {
          if (response.msg == "success") {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
            })
          } else {
            Swal.fire({
              position: "top-end",
              title: response.msg,
              showCancelButton: true,
             
            })
          }
        
      },
      error: function (e) {
        Swal.fire({
                position: "top-end",
                icon: "warning",
                title: e.message,
                showConfirmButton: false,
                timer: 5000,
                
            });
      },
    });
  });



  
});
</script>
