<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/library/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Library</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">LM Book detail</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Suppliers</h4>

                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add book 
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>BOOK.CODE</th>
                                            <th>BOOK.TITLE</th>
                                            <th>CATEGORY</th>
                                            <th>AUTHOR </th>
                                            <th>PUBLICATION </th>
                                            <th>DATE.PUBLISH </th>
                                            <th>BOOK.EDITION </th>
                                            <th>PRICE</th>
                                            <th>RACK.NUM </th>
                                            <th>DATE.ARIVED</th>
                                            <th>SUPPLIER.NAME </th>
                                            <th>SUPPLIER.EMAIL </th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        <% books.forEach(function(book){%>
                                        <tr>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/api/labrary/book_registration/edit?book_code=<%= book.BOOK_CODE %>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="/api/labrary/book_registration/delete?book_id=<%= book.BOOK_CODE %>" data-toggle="tooltip" title="" class="confirmdelete btn btn-link btn-danger" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td><%= book.BOOK_CODE %> </td>
                                            <td><%= book.BOOK_TITLE  %> </td>
                                            <td><%= book.CATEGORY %> </td>
                                            <td><%= book.AUTHOR %> </td>
                                            <td><%= book.PUBLICATION %> </td>
                                            <td><%= book.PUBLISH_DATE %> </td>
                                            <td><%= book.BOOK_EDITION %> </td>
                                            <td><%= book.PRICE %> </td>
                                            <td><%= book.RACK_NUM %> </td>
                                            <td><%= book.DATE_ARRIVAL %> </td>
                                            <td><%= book.SUPPLIER_NAME %> </td>
                                            <td><%= book.EMAIL %> </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    BOOK </span> 
                    <span class="fw-light">
                        
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/api/labrary/book_registration" method="post" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>BOOK TITLE</label>
                                <input type="text" name="BOOK_TITLE" id="BOOK_TITLE" class="form-control" placeholder="e.g BOOK TITLE">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>CATEGORY</label>
                                <input type="text" name="CATEGORY" id="CATEGORY" class="form-control" placeholder="e.g CATEGORY">
                            </div>
                        </div>
                    </div>
                   
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>AUTHOR</label>
                                <input type="text" name="AUTHOR" id="AUTHOR" class="form-control" placeholder="e.g AUTHOR">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>PUBLICATION</label>
                                <input type="text" name="PUBLICATION" id="PUBLICATION" class="form-control" placeholder="e.g PUBLICATION">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>PUBLISH DATE</label>
                                <input type="date" name="PUBLISH_DATE" id="PUBLISH_DATE" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>BOOK EDITION</label>
                                <input type="number" name="BOOK_EDITION" id="BOOK_EDITION" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>PRICE</label>
                                <input type="number" name="PRICE" id="PRICE" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>RACK NUM</label>
                                <input type="number" name="RACK_NUM" id="RACK_NUM" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>DATE ARRIVAL</label>
                                <input type="date" name="DATE_ARRIVAL" id="DATE_ARRIVAL" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>SELECT SUPPLIER</label>
                                <select name="SUPPLIER_ID" id="SUPPLIER_ID" class="form-control">
                                    <option value=""></option>
                                    <%
                                    suppliers.forEach(function(result) { %>
                                        <option value="<%= result.SUPPLIER_ID %>"><%= result.SUPPLIER_NAME %></option>
                                        <%  }); %>
                                    
                                </select>
                            </div>
                        </div>
                    </div>

                    
                    <button type="submit" style="float: right;"  class="btn btn-primary">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>




