<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/library/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Bibrary</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Library</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-stats card-round">
                            <div class="card-body ">
                                <a href="/api/labrary/book_registration">
                                    <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-folder text-warning"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category" style="text-align: center;">BOOK</p>
                                                    <h4 class="card-title">Registration</h4>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-stats card-round">
                            <div class="card-body ">
                                <a href="/api/labrary/issued_books">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="flaticon-interface-2 text-success"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats">
                                            <div class="numbers">
                                                <p class="card-category">BOOK</p>
                                                <h4 class="card-title">ISSUED</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-stats card-round">
                            <div class="card-body">
                                <a href="/api/labrary/search_for_books">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="flaticon-search-1 text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats">
                                            <div class="numbers">
                                                <h4 class="card-title">Search </h4>
                                                <!-- <p class="card-category"> Student Records</p> -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="/api/labrary/library_users">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="flaticon-users text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats">
                                            <div class="numbers">
                                                <h4 class="card-title">LIBRARY</h4>
                                                <p class="card-category">MEMBERS</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="/api/labrary/upload_books">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="fas fa-upload text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats">
                                            <div class="numbers">
                                                <h4 class="card-title">UPLOAD</h4>
                                                <p class="card-category">NEW BOOKS</p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="/api/labrary/fine">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="flaticon-coins text-succes"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats">
                                            <div class="numbers">
                                                <h4 class="card-title">fINE</h4>
                                                <!-- <p class="card-category">Student info</p> -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="/api/labrary/supplier">
                            <div class="card card-stats card-round">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="icon-big text-center">
                                                <i class="flaticon-home text-danger"></i>
                                            </div>
                                        </div>
                                        <div class="col col-stats">
                                            <div class="numbers">
                                                <h4 class="card-title">Supplier</h4>
                                                <!-- <p class="card-category">Student info</p> -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                
        </div>
    </div>
    
</div>



<%- include('../layouts/admin/footer') %>