<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/library/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Bibrary</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Library Book Issued</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">ISSUED BOOKS</h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                     register book Issued 
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th></th>
                                            
                                            <th>MEMBERS </th>
                                            <th>BOOK</th>
                                            <th>DATE ISSUE</th>
                                            <th>DATE RETURN </th>
                                            <th>DATE RETURNED </th>
                                            <th>FINE RANGE</th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>action</th>
                                            <th>SUPPLIER ID's</th>
                                            <th>SUPPLIER NAMES</th>
                                            <th>SUPPLIER ADDRESSES</th>
                                            <th>SUPPLIER CONTACTS </th>
                                            <th>SUPPLIER EMAILS </th>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        <% issuedBooks.forEach(function(issuedBook){%>
                                        <tr>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/supplier/edit?supplie_id=<%= issuedBook.BOOK_ISSUE_NO%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="/supplier/delete?supplie_id=<%= issuedBook.BOOK_ISSUE_NO%>" data-toggle="tooltip" title="" class="confirmdelete btn btn-link btn-danger" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td><%= issuedBook.MEMBER_ID%> </td>
                                            <td><%= issuedBook.BOOK_CODE  %> </td>
                                            <td><%= issuedBook.DATE_ISSUE %> </td>
                                            <td><%= issuedBook.DATE_RETURN %> </td>
                                            <td><%= issuedBook.DATE_RETURNED %> </td>
                                            <td><%= issuedBook.FINE_RANGE %> </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    LMS </span> 
                    <span class="fw-light">
                        MEMBER FORM.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/api/labrary/library_users" method="post" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>MEMBER NAME</label>
                                <!-- <input type="text" name="MEMBER_NAME" id="MEMBER_NAME" class="form-control" placeholder="e.g MEMBER NAME"> -->

                                <select name="MEMBER_ID" id="MEMBER_ID" class="form-control">
                                    <option value=""></option>
                                    <% books.forEach(function(book){%>
                                        <option value="<%= book.BOOK_CODE%>"><%= book.BOOK_TITLE%> </option>
                                    <%});%>
                                </select>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>CITY</label>
                                <input type="text" name="CITY" id="CITY" class="form-control" required> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>DATE REGISTER</label>
                                <input type="date" name="DATE_REGISTER" id="DATE_REGISTER" class="form-control" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>DATE EXPIRE</label>
                                <input type="date" name="DATE_EXPIRE" id="DATE_EXPIRE" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>MEMBERSHIP_STATUS</label>
                                <input type="text" name="MEMBERSHIP_STATUS" id="MEMBERSHIP_STATUS" class="form-control" placeholder="e.g 	Permanent/Temporary">
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>




<%- include('../layouts/admin/footer') %>