<%- include('../layouts/admin/head') %>
<%- include('../layouts/admin/nav') %>
<%- include('../layouts/library/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Bibrary</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Library</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Suppliers</h4>

                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add supplier 
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>SUPPLIER ID's</th>
                                            <th>SUPPLIER NAMES</th>
                                            <th>SUPPLIER ADDRESSES</th>
                                            <th>SUPPLIER CONTACTS </th>
                                            <th>SUPPLIER EMAILS </th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>action</th>
                                            <th>SUPPLIER ID's</th>
                                            <th>SUPPLIER NAMES</th>
                                            <th>SUPPLIER ADDRESSES</th>
                                            <th>SUPPLIER CONTACTS </th>
                                            <th>SUPPLIER EMAILS </th>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        <% suppliers.forEach(function(supplier){%>
                                        <tr>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/supplier/edit?supplie_id=<%= supplier.SUPPLIER_ID%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="/supplier/delete?supplie_id=<%= supplier.SUPPLIER_ID%>" data-toggle="tooltip" title="" class="confirmdelete btn btn-link btn-danger" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td><%= supplier.SUPPLIER_ID%> </td>
                                            <td><%= supplier.SUPPLIER_NAME  %> </td>
                                            <td><%= supplier.ADDRESS %> </td>
                                            <td><%= supplier.CONTACT %> </td>
                                            <td><%= supplier.EMAIL %> </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    Calender </span> 
                    <span class="fw-light">
                        Type.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/api/labrary/supplier" method="post" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>SUPPLIER NAME</label>
                                <input type="text" name="SUPPLIER_NAME" id="SUPPLIER_NAME" class="form-control" placeholder="e.g SUPPLIER NAME">
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>ADDRESS</label>
                                <textarea type="text" name="ADDRESS" id="ADDRESS" class="form-control" required> </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>CONTACT</label>
                                <input type="text" name="CONTACT" id="CONTACT" class="form-control" placeholder="e.g 08136759553">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>EMAIL</label>
                                <input type="text" name="EMAIL" id="EMAIL" class="form-control" placeholder="e.g name@example.com">
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>




<%- include('../layouts/admin/footer') %>