<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/inventory') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Subject</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Subject</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               
                <div class="col-md-12">
                    <div class="card">
                        <div class="modal-body">
                
                            <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                            <form action="/admin/view_add/inventory/expensive/expense_limit_setup" method="post" >
                                <div id="addmore">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>Employee</label>
                                               <select name="employee_no[]" id="" class="form-control">
                                                   <option value="">SELECT EXPENSE HEAD</option>
                                                   <% staffs.forEach(function(staff){%>
                                                    <option value="<%= staff.staff_id%>"><%= staff.title%> <%= staff.surname%> <%= staff.firstname%> <%= staff.middlename%></option>
                                                    <%});%>
                                               </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>expense head</label>
                                               <select name="expense_head_id[]" id="" class="form-control">
                                                   <option value="">SELECT EXPENSE HEAD</option>
                                                   <% expHead.forEach(function(result){%>
                                                    <option value="<%= result.expense_head_id%>"><%= result.expense_head%></option>
                                                    <%});%>
                                               </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>expense limit level</label>
                                                <select name="expense_limit_level[]" id="" class="form-control">
                                                    <option value="">SELECT EXPENSE HEAD</option>
                                                    <% limitLevel.forEach(function(level){%>
                                                     <option value="<%= level.expense_limit_level%>"><%= level.expense_limit_level%></option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-default">
                                                <label>designation</label>
                                                <select name="designation_id[]" id="" class="form-control">
                                                    <option value="">SELECT EXPENSE HEAD</option>
                                                    <% designation.forEach(function(design){%>
                                                     <option value="<%= design.designation_id%>"><%= design.designation%></option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>limit amount</label>
                                                <input type="number" name="limit_amount[]" id="name" class="form-control" placeholder="e.g 10000">
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="">
                                                <button type="button" name="add" id="add" class="btn "><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-sm-11">
                                       <button type="submit" style="float: right;"  class="btn ">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Expense Limit Setup</h4>
                                <!-- <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add expense limit setup
                                </button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>staffs</th>
                                            <th>expense head</th>
                                            <th>expense limit level</th>
                                            <th>designation</th>
                                            <th>limit amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        <% limitsetup.forEach(function(limitsetup){%>
                                        <tr>
                                            <td><%= limitsetup.title%> <%= limitsetup.surame%> <%= limitsetup.firstname%> <%= limitsetup.middlename%> </td>
                                            <td><%= limitsetup.expense_head%> </td>
                                            <td><%= limitsetup.expense_limit_level%> </td>
                                            <td><%= limitsetup.designation%> </td>
                                            <td>NGN <%= limitsetup.limit_amount.toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%>%> </td>
                                            
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="<%= limitsetup.expense_head_id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="<%= limitsetup.expense_head_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    Expense </span> 
                    <span class="fw-light">
                        Head
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script>
    $(document).ready(function(){
   
     var revenue_name = $('#revenue_name').val();
    
   
       var i = 1;
       $('#add').click(function(){
           i++;
           $('#addmore').append(`
           <div class="row" id="row${i}">
            <div class="col-sm-2">
                    <div class="form-group form-group-default">
                        <label>Employee</label>
                        <select name="employee_no[]" id="" class="form-control">
                            <option value="">SELECT EXPENSE HEAD</option>
                            <% staffs.forEach(function(staff){%>
                            <option value="<%= staff.staff_id%>"><%= staff.title%> <%= staff.surname%> <%= staff.firstname%> <%= staff.middlename%></option>
                            <%});%>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-default">
                        <label>expense head</label>
                        <select name="expense_head_id[]" id="" class="form-control">
                            <option value="">SELECT EXPENSE HEAD</option>
                            <% expHead.forEach(function(result){%>
                            <option value="<%= result.expense_head_id%>"><%= result.expense_head%></option>
                            <%});%>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-default">
                        <label>expense limit level</label>
                        <select name="expense_limit_level[]" id="" class="form-control">
                            <option value="">SELECT EXPENSE HEAD</option>
                            <% limitLevel.forEach(function(level){%>
                                <option value="<%= level.expense_limit_level%>"><%= level.expense_limit_level%></option>
                            <%});%>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group form-group-default">
                        <label>designation</label>
                        <select name="designation_id[]" id="" class="form-control">
                            <option value="">SELECT EXPENSE HEAD</option>
                            <% designation.forEach(function(design){%>
                                <option value="<%= design.designation_id%>"><%= design.designation%></option>
                            <%});%>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-default">
                        <label>limit amount</label>
                        <input type="number" name="limit_amount[]" id="name" class="form-control" placeholder="!0000">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class=" ">
                        <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
                    </div>
                </div>
        </div>
        `);
       });
       
       $(document).on('click', '.btn_remove', function(){
           var button_id = $(this).attr("id"); 
           $('#row'+button_id+'').remove();
       });

       
       
       
   });
   </script>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>