<head>
    <title>MARKS SHEET USING HTML TABLES</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="html, css, html tables, table">
    <meta name="Description" content="html table">
    <!-- add icon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<style>
    table,
    th,
    td {
        border: 1px solid #cecfd5;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
    }
    th,
    td {
        padding: 5px 15px;
    }
</style>
  </head>