<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <% if (user.service_logo == "" || user.service_logo == null){%>
                        <img src="/avata.png" alt="..." class="avatar-img rounded-circle">
                    <%} else {%>
                        <!-- <div class="avatar-lg"><img src="/service_logo" alt="image profile" class="avatar-img rounded"></div> -->
                        <img src="/<%=  user.service_logo %>" alt="..." class="avatar-img rounded-circle">
                        
                    <%}%>
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            <%= user.name%>
                            <span class="user-level">
                                <% if (user.group_id == 333333){%>
                                    TEACHER
                                <%}%>
                            </span>
                            <!-- <span class="caret"></span> -->
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <!-- <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div> -->
                </div>
            </div>
            <ul class="nav">
                <% if (link == '/api/teachers/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/api/teachers/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Academics</h4>
                </li>
               
                <% if(settings== ""){%>
                <%} else {%>
                <li class="nav-item ">
                    <a href="/api/teachers/get_student_in_a_class">
                        <i class="fas fa-layer-group text-warning"></i>
                        <p>Attendance  </p>
                        <!-- <span class="badge badge-count">5</span> -->
                    </a>
                </li>
                <%}%>
               
                <% if (link == '/api/teachers/student_records'){%>
                    <li class="nav-item active">
                        <a href="/api/teachers/student_records">
                            <i class="fas fa-home"></i>
                            <p>Student Records</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/student_records">
                                <i class="fas fa-home"></i>
                                <p>Student Records</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-calendar-check text-success"></i>
                        <p>Calendar</p>
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/admin/examination/exam_panel">
                        <i class="fas fa-layer-group text-warning"></i>
                        <p>Examination</p>
                        <!-- <span class="badge badge-count">5</span> -->
                    </a>
                </li>
                
                <li class="nav-item ">
                    <a href="/api/teachers/skill_management_settings">
                        <i class="fas fa-home text-info"></i>
                        <p>Assessments</p>
                        <!-- <span class="badge badge-count">5</span> -->
                    </a>
                </li>
              
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-book-reader text-danger"></i>
                        <p>Library</p>
                        <span class="caret"></span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->