<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" type="image/png" href="./img/favicontrillo.png">
        
        <title>Human Resources Analytics</title>
    </head>
    <body>
        <div class="container">
            
            <section class="content">
                <nav class="sidebar">
                    <ul class="side-nav">
                        <li class="side-nav__item side-nav__item--active">
                            <a href="#" class="side-nav__link">
                                <svg class="side-nav__icon">
                                    <use xlink:href="./img/sprite.svg#icon-home"></use>
                                </svg>
                                <span class="side-nav__text">Home</span>
                            </a>
                        </li>

                        <li class="side-nav__item">
                            <a href="/login" class="side-nav__link">
                              
                                <svg class="side-nav__icon">
                                    <use xlink:href="./img/sprite.svg#icon-aircraft-take-off"></use>
                                </svg>
                                <span class="side-nav__text">Login</span>
                            </a>
                        </li>

                           <li class="side-nav__item">
                            <a href="/registration" class="side-nav__link">
                                <svg class="side-nav__icon">
                                    <use xlink:href="./img/sprite.svg#icon-key"></use>
                                </svg>
                                <span class="side-nav__text">Client Registration</span>
                            </a>
                        </li>

  

                    </ul>

                    <div class="legal">
                        &copy; 2019 Data . All rights reserved.
                    </div>
                </nav>
                <main class="hotel-view">
                    <div class="gallery">
                        <figure class="gallery__item">
                           <img src="./img/photoapp1.jpg" alt="hotel 1" class="gallery__photo">
                        </figure>
                        <figure class="gallery__item">
                            <img src="./img/photoapp2.jpg" alt="hotel 2" class="gallery__photo">
                        </figure>
                        <figure class="gallery__item">
                            <img src="./img/photoapp3.jpg" alt="hotel 3" class="gallery__photo">
                        </figure>
                    </div>

                    <div class="overview">
                        <h1 class="overview__heading">
                          Client Registration
                        </h1>
                    

                        <div class="overview__location">
                         
                            
                        </div>

                     
                    </div>

                    <div class="detail">
                        <div class="description">
                             <form method="post" role="form" id="addClientService" name="addClientService"
                                    action="{{ route('client_service.store') }}">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group {{ $errors->has('client') ? ' has-error' : '' }}">
                                                <label>Client Name <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-building"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="client" id="client"
                                                        value=""
                                                        placeholder="Client Name" required> </div>
                                            
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div
                                                class="form-group">
                                                <label>Service Code <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-briefcase"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="service_code"
                                                        id="service_code"
                                                        value=""
                                                        placeholder="Service Code" maxlength="5" required> </div>
                                               
                                            </div>
                                        </div>
                                        
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div
                                                class="form-group ">
                                                <label>Client Phone <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-phone"></i>
                                                    </span>
                                                    <input type="text" class="form-control"
                                                        value=""
                                                        name="client_phone" id="client_phone" maxlength="11"
                                                        placeholder="Client Phone" required> </div>
                                             
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div
                                                class="form-group {{ $errors->has('client_email') ? ' has-error' : '' }}">
                                                <label>Client Email <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="text" value=""
                                                        class="form-control" name="client_email" id="client_email"
                                                        placeholder="Client Email" required> </div>
                                           
                                            </div>
                                        </div>
                                        
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div
                                                class="form-group">
                                                <label>Country <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                    <select class="form-control" name="country_id" id="country_id"
                                                        required>
                                                        <option>COUNTRY ID.<option>
                                                      <% var option = [];
                                                        for(item of country){  %> 
                                                        <option value ="<%= item.country_id %>"><%= item.country %></option>
                                                      <% } %> 
                                                        </select>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>State <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                    <select class="form-control" name="state_id" id="state_id" required>
                                                        <option>State ID.<option>
                                                      <% var option = [];
                                                        for(item of state){  %> 
                                                        <option value ="<%= item.state_id %>"><%= item.state %></option>
                                                      <% } %> 
                                                    </select>
                                                </div>
                                            
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Local Government Area <span class="required">*</span></label>

                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                    <select class="form-control" name="lga_id" id="lga_id" required>
                                                          <option>LGA ID.<option>
                                                      <% var option = [];
                                                        for(item of lgas){  %> 
                                                        <option value ="<%= item.lga_id %>"><%= item.lga %></option>
                                                      <% } %> 
                                                    </select>
                                                </div>
                                             
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <label>City</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-globe"></i>
                                                    </span>
                                                    <select class="form-control" name="city_id" id="city_id">
                                                       <option>CITY ID.<option>
                                                      <% var option = [];
                                                        for(item of cities){  %> 
                                                        <option value ="<%= item.city_id %>"><%= item.city %></option>
                                                      <% } %> 
                                                    </select>
                                                </div>
                                               
                                            </div>
                                        </div>

                                      
                                    <div class="form-group">
                                        <label>Client Address <span class="required">*</span></label>
                                        <textarea class="form-control" rows="3" name="client_address"
                                            id="client_address"
                                            required></textarea>
                                   
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div
                                                class="form-group">
                                                <label>Admin Surname <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="admin_surname"
                                                        id="admin_surname"
                                                        value=""
                                                        placeholder="Admin Surname" required> </div>
                                              
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div
                                                class="form-group">
                                                <label>Admin First Name <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="admin_firstname"
                                                        id="admin_firstname"
                                                        value=""
                                                        placeholder="Admin First Name" required> </div>
                                           
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div
                                                class="form-group">
                                                <label>Admin Middle Name </label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="admin_middlename"
                                                        id="admin_middlename"
                                                        value=""
                                                        placeholder="Admin Middle Name"> </div>
                                           
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div
                                                class="form-group">
                                                <label>Admin Phone<span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-mobile"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="client_admin_phone"
                                                        id="client_admin_phone"
                                                        value=""
                                                        placeholder="Admin Mobile Phone" maxlength="11" required> </div>
                                           
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div
                                                class="form-group">
                                                <label>Admin Email <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="client_admin_email"
                                                        id="client_admin_email"
                                                        value=""
                                                        placeholder="Client Admin Email" required> </div>
                                           
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div
                                                class="form-group">
                                                <label>Supervisor Surname <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="supervisor_surname"
                                                        id="supervisor_surname"
                                                        value=""
                                                        placeholder="Supervisor Surname" required> </div>
                                       
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div
                                                class="form-group">
                                                <label>Supervisor First Name <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="supervisor_firstname"
                                                        id="supervisor_firstname"
                                                        value=""
                                                        placeholder="Supervisor First Name" required> </div>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div
                                                class="form-group">
                                                <label>Supervisor Middle Name </label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="supervisor_middlename"
                                                        id="supervisor_middlename"
                                                        value=""
                                                        placeholder="Supervisor Middle Name"> </div>
                                          
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div
                                                class="form-group">
                                                <label>Supervisor Phone <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-mobile"></i>
                                                    </span>
                                                    <input type="text" class="form-control"
                                                        name="client_supervisor_phone" id="client_supervisor_phone"
                                                        value=""
                                                        maxlength="11" placeholder="Supervisor Mobile Phone" required>
                                                </div>
                                            
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div
                                                class="form-group">
                                                <label>Client Supervisor Email <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="text" class="form-control"
                                                        name="client_supervisor_email" id="client_supervisor_email"
                                                        value=""
                                                        placeholder="Supervisor Email" required> </div>
                                            
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Accessible Roles <span class="required">*</span></label>
                                                <div class="mt-checkbox-inline" id="load_roles">
                                                 <!--  load roles based on selected client type -->
                                                  

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                            </div>
                            <div class="form-actions right">
                                <input type="hidden" id="_token" name="_token" value="{{ Session::token() }}">
                                <input type="hidden" id="created_by" name="created_by" value="{{ username() }}">

                                <button type="submit" class="btn blue">Submit</button>
                                <a class="btn default" href="{{ route('client_service.index') }}">Cancel</a>
                            </div>
                            </form>
                          
                        </div>
                     
                    </div>
                    <div class="cta">
                      
                     
                    </div>
                </main>
            </section>
        </div>
    </body>
</html>