
<%- include('layouts/home/head') %>
<%- include('layouts/home/regNav') %>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About</li>
        </ol>
        <!-- <h2>Portfolio Details</h2> -->

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Us</h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                 Automated IT systems management such as School Master, is the ultimate facilitator for achieving growing demand from management and end-users for 24/7 performance monitoring and proper data management for real time online access and future references.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> The system automate school's diverse operations from events calendar, classes to school  exams </li>
                <li><i class="ri-check-double-line"></i> The system automate Management's diverse operations from applicant managemt, teacher/employees settings such as teacher assignments  to payments</li>
                
              </ul>
              
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" style="border-radius: 3px; box-shadow: 5px 10px #f0ecec;">
              <p>
                Easier access to information by parents and students  without having to always seek the interaction with school management.
                This school software has a powerful modules/tools harnest to bring parents, teachers and students on a common interactive platform. 
              </p>
              <ul>
                <!-- <li><i class="ri-check-double-line"></i> The system automate school's diverse operations from events calendar, classes to school  exams </li> -->
                <li><i class="ri-check-double-line"></i> provides the facility to carry out all day-to-day activities of the school, initiating  fast, easy, efficient and accurate.</li>
                <li><i class="ri-check-double-line"></i> Paperless office automation solution for today's modern schools.</li>
              </ul>
            </div>
           
          </div>
  
        </div>
      </section><!-- End About Us Section -->

    
  
    

  </main><!-- End #main -->

	
<%- include('layouts/home/footer') %>