
<%- include('layouts/home/head') %>
<%- include('layouts/home/regNav') %>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Service</li>
        </ol>
        <!-- <h2>Portfolio Details</h2> -->

      </div>
    </section><!-- End Breadcrumbs -->

     <!-- ======= Services Section ======= -->
     <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Services</h2>
            <p>This school software has the below powerful online modules </p>
          </div>
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box" style="text-align: center;">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">ADMIN MODULE</a></h4>
                <p>
                    <i class="ri-check-double-line"></i>Register Student <br>
                    <i class="ri-check-double-line"></i>View/Edit Student <br>
                    <i class="ri-check-double-line"></i>Behavior/Progress Management  <br> 
                    <i class="ri-check-double-line"></i>Add/view and update activities. <br>
                    <i class="ri-check-double-line"></i>generate ID cards <br>
                    <i class="ri-check-double-line"></i>Post messages on the notice board <br>
                    <!-- <i class="ri-check-double-line"></i>View/Print Result<br> -->
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box" style="text-align: center;">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">PARENTS' MODULE</a></h4>
                <p>
                    <i class="ri-check-double-line"></i>Notice Board, events/news and programs <br>
                    <i class="ri-check-double-line"></i>My Ward's Fees <br>
                    <i class="ri-check-double-line"></i>View class & food timetable  <br> 
                    <i class="ri-check-double-line"></i>Ward's Assignment/Exam and result <br>
                    <i class="ri-check-double-line"></i>View Library <br>
                    <i class="ri-check-double-line"></i>Track Schoolbus <br>
                    <!-- <i class="ri-check-double-line"></i>View/Print Result<br> -->
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box" style="text-align: center;">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">TEACHERS' MODULE</a></h4>
                <p>
                    <i class="ri-check-double-line"></i>Manage Assignments <br>
                    <i class="ri-check-double-line"></i>Manage Test & Exam <br>
                    <!-- <i class="ri-check-double-line"></i>Manage  <br> -->
                    <i class="ri-check-double-line"></i>Manage Attendance <br>
                    <i class="ri-check-double-line"></i>Manage Daily Student Status <br>
                    <i class="ri-check-double-line"></i>View Class Timetable <br>
                    <i class="ri-check-double-line"></i>View/Print Result<br>
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box" style="text-align: center;">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4><a href=""> LIBRARY MODULE</a></h4>
                <p>
                    <i class="ri-check-double-line"></i>Register books <br>
                    <i class="ri-check-double-line"></i>Bookstore <br>
                    <i class="ri-check-double-line"></i>View Library stock <br>
                    <i class="ri-check-double-line"></i>Rent out books <br>
                    <i class="ri-check-double-line"></i>Renew rented books <br>
                    <i class="ri-check-double-line"></i>View books sold <br>
                    <i class="ri-check-double-line"></i>View books rented <br>
                    
                </p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box" style="text-align: center;">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href=""> HOSTEL MGT MODULEE</a></h4>
                    <p>
                        <i class="ri-check-double-line"></i>Register hostel name <br>
                        <i class="ri-check-double-line"></i>Register hostel rooms <br>
                        <i class="ri-check-double-line"></i>Allocate rooms to students <br>
                        <i class="ri-check-double-line"></i>View rooms available and non-available  <br>
                        
                    </p>
                </div>
            </div>

            
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box" style="text-align: center;">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">INVENTORY MGT MODULE</a></h4>
                    <p>
                        <i class="ri-check-double-line"></i>Purchase order <br>
                        <i class="ri-check-double-line"></i>Goods receive note <br>
                        <i class="ri-check-double-line"></i>Manage suppliers <br>
                        <i class="ri-check-double-line"></i>Manage store items <br>
                        <i class="ri-check-double-line"></i>Manage store <br>
                        <i class="ri-check-double-line"></i>Inventory report <br>
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box" style="text-align: center;">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">  ACCOUNTS' HR/PAYROLL
                        </a></h4>
                    <p>
                        <i class="ri-check-double-line"></i>Manage Fees/Print receipts <br>
                        <!-- <i class="ri-check-double-line"></i>Registered  reports <br> -->
                        <i class="ri-check-double-line"></i>Make expenditure <br>
                        <i class="ri-check-double-line"></i>Communication with Parents/Students <br>
                        <i class="ri-check-double-line"></i>Staff management, discipline/promotion <br>
                        <i class="ri-check-double-line"></i>Keep banking records <br>
                    </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box" style="text-align: center;">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href=""> REPORTS MODULE</a></h4>
                    <p >
                        <i class="ri-check-double-line"></i>Registered students/staff report <br>
                        <!-- <i class="ri-check-double-line"></i>Registered  reports <br> -->
                        <i class="ri-check-double-line"></i>Attendance report <br>
                        <i class="ri-check-double-line"></i>Fees report <br>
                        <i class="ri-check-double-line"></i>Books store report <br>
                        <i class="ri-check-double-line"></i>Inventory report <br>
                        <!-- <i class="ri-check-double-line"></i>Fees report <br> -->

                    </p>
                </div>
            </div>
    
          </div>
  
        </div>
      </section><!-- End Services Section -->

    
  
    

  </main><!-- End #main -->

	
<%- include('layouts/home/footer') %>