<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/exammination') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Payment</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/admin/panel/dashboard">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/payment_list/panel">Payment Panel</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">History</a>
                            </li>
                        </ul>
                    </div>
                <!-- payment History -->
				<div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add new staff
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>Activity</th>
                                            <th>yearOfEntry</th>
                                            <th>yearOfGraduation</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>Activity</th>
                                            <th>Entry Year</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% payments.forEach(function(paymentpayment){%>
                                        <tr>
                                            <td><%= payment.payment%> </td>
                                            <td><%= payment.payment%> <%= applicant.firstname%> <%= applicant.middlename%></td>
                                            <td><%= payment.payment%></td>
                                            <td><%= payment.payment%></td>
                                            <td><%= payment.payment%></td>
                                            <td><%= payment.payment%></td>
                                            <td><%= payment.payment%></td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/admin/aplicant_profile?applicantno=<%= payment.staff_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a  href="/admin/aplicant_update_details?applicantno=<%= payment.staff_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a href="/admin/aplicant_update_details?applicantno=<%= payment.staff_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Delete">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
					
        </div>
    </div>
    
</div>


<%- include('../../layouts/teacher/footer') %>