<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/payment_side') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Payment</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/admin/panel/dashboard">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Payment Panel</a>
                            </li>
                            <!-- <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Stuudent Registration</a>
                            </li> -->
                        </ul>
                    </div>
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-primary card-round">
								<div class="card-body">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="flaticon-coins"></i>
											</div>
										</div>
										<div class="col col-stats">
											<div class="numbers">
												<p class="card-category"> SCHOOL</p>
												<h4 class="card-title">FEES</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-info card-round">
								<div class="card-body">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="flaticon-interface-6"></i>
											</div>
										</div>
										<div class="col col-stats">
											<div class="numbers">
												<p class="card-category">HOSTEL</p>
												<h4 class="card-title">PAYMENT</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-success card-round">
								<div class="card-body ">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="flaticon-analytics"></i>
											</div>
										</div>
										<div class="col col-stats">
											<div class="numbers">
												<p class="card-category">PAYMENT</p>
												<h4 class="card-title">RECEPTS</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-secondary card-round">
								<div class="card-body ">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="flaticon-success"></i>
											</div>
										</div>
										<div class="col col-stats">
											<div class="numbers">
												<p class="card-category">History</p>
												<h4 class="card-title"></h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<a href="/admin/item/add_new/item">
								<div class="card card-stats card-warning card-round">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="flaticon-settings"></i>
												</div>
											</div>
											<div class="col col-stats">
												<div class="numbers">
													<p class="card-category">PAYMENTS</p>
													<h4 class="card-title">SETTINGS</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<!-- Card With Icon States Color -->
        </div>
    </div>
    
</div>


<%- include('../../layouts/teacher/footer') %>