<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/payment') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Payment</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/admin/panel/dashboard">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/payment_list/panel">Payment Panel</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">View Mandate</a>
                            </li>
                        </ul>
                    </div>
                <!-- payment History -->
				<div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>CLASS</th>
                                            <th>ITEM</th>
                                            <th>AMOUNT</th>
                                            <th>SESSIONS</th>
                                            <th>TERM</th>
                                            <th>STATUS</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% Mandates.forEach(function(mandate){%>
                                        <tr>
                                            <td><%= mandate.class_name%> </td>
                                            <td><%= mandate.item%> </td>
                                            <td>NGN <%= mandate.amount.toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></td>
                                            <td><%= mandate.sessions%></td>
                                            <td><%= mandate.term%></td>
                                            <td>
                                                <% if (mandate.authorized == 1){ %>
                                                    Payment Approved
                                                <%} else {%>
                                                    Yet to be approve
                                                <%}%>
                                            </td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a  href="/admin/view/generated/mandate/edit?id=<%= mandate.mandate_invoice_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a  href="/admin/view/generated/mandate/approval?id=<%= mandate.mandate_invoice_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-success " data-original-title="Approve">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a  href="/admin/view/generated/mandate/disapprove?id=<%= mandate.mandate_invoice_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-warning " data-original-title="Dis-Approve">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a href="/admin/view/generated/mandate/delete?id=<%= mandate.mandate_invoice_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Delete">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
					
        </div>
    </div>
    
</div>


<%- include('../../layouts/teacher/footer') %>