<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/exammination') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Payment</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/admin/panel/dashboard">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/payment_list/panel">Payment Panel</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">History</a>
                            </li>
                        </ul>
                    </div>
                <!-- payment History -->
				<div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <h3>Payment Records</h3>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    Manual Paymet 
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Student Name</th>
                                            <th>Method Of Payment</th>
                                            <th>Amount Paid</th>
                                            <th>Item Amount</th>
                                            <th>Item </th>
                                            <th>Receipt No.</th>
                                            
                                            <th>Source</th>
                                            <th>Transactions Date</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th  class="th">Student Name</th>
                                            <th  class="th">Method Of Payment</th>
                                            <th  class="th">Amount Paid</th>
                                            <th  class="th">Item Amount</th>
                                            <th  class="th">Item </th>
                                            <th  class="th">Receipt No.</th>
                                            
                                            <th  class="th">Source</th>
                                            <th  class="th">Transactions Date</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% payments.forEach(function(payment){%>
                                            <%
                                                var d = new Date();
                                                d.setTime(payment.logged_date);
                                                var dateN = d.toDateString(); // outputs to "Thu May 28 2015"
                                                var dated = d.toGMTString();
                                            %>
                                            <tr>
                                                <td>
                                                    <div class="form-button-action">
                                                        <a href="/admin/view/individual_print_transactions?transaction_recieptNo=<%= payment.ReceiptNo%>" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                        <a  href="/admin/aplicant_update_details?applicantno=<%= payment.ReceiptNo%>" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a href="/admin/aplicant_update_details?applicantno=<%= payment.ReceiptNo%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Delete">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td  class="th"><%= payment.title%> <%= payment.surname%> <%= payment.firstname%> <%= payment.middlename%> </td>
                                                <td><%= payment.PaymentMethod%> </td>
                                                <td>NGN <%= payment.Amount.toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%></td>
                                                <td><%= payment.ItemAmount%></td>
                                                <td><%= payment.ItemName%></td>
                                                <td><%= payment.ReceiptNo%></td>
                                                <td><%= payment.sources%></td>
                                                <td><%= dateN%></td>
                                                
                                            </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
					
        </div>
    </div>
    
</div>


<%- include('../../layouts/teacher/footer') %>