
<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title">User Profile</h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                <%- messages('messages', locals) %>
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Profile</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Academic</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Assessments</a> </li>
                </ul>
              </div>
            </div>
            <div  class="tab-content"  >
                <div class="tab-pane fade show active" id="home">
                    <div class="card-body">
                      <form action="">
                        <div class="row mt-3">
                          <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstname" placeholder="First Name" value="<%= info.firstname %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Middle Name</label>
                                <input type="email" class="form-control" name="middlename" placeholder="Middle Name" value="<%= info.middlename %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Surname</label>
                                <input type="text" class="form-control" name="surname" placeholder="Surname" value="<%= info.surname %>">
                              </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Birth Date</label>
                              <input type="text" class="form-control" id="datepicker" name="datepicker" value="<%= info. dateofbirth %>" placeholder="Birth Date">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Gender</label>
                              <select class="form-control" id="gender">
                               <option value="<%= info.gender %>" selected><%= info.gender %></option>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Guardian Numb.</label>
                              <input type="text" class="form-control" value="<%= info.phone %>" name="phone" placeholder="Phone">
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3 mb-1">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Guardian's Name</label>
                              <input type="text" class="form-control" value="<%= info.guardian_name%>" name="guardian_name" placeholder="Guardian's Name">
                              
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Guardian Address</label>
                              <textarea class="form-control" name="guardian_address" placeholder="Guardian Address" rows="3"><%= info.guardian_address%></textarea>
                            </div>
                          </div>
                        </div>
                        
                        <div class="text-right mt-3 mb-3">
                          <button class="btn btn-primary">Save Changes</button>
                          <!-- <button class="btn btn-danger">Reset</button> -->
                        </div>
                      </form>
                    </div>
                </div>
                <div  class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                    
                  </div>
                </div>
                <div  class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                   
                      
                  </div>
                </div>
          </div>
          
        </div>
          
          
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-secondary">
            <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
              <div class="profile-picture">
                <div class="avatar avatar-xl">
                  <img src="/<%= info.photo%>" alt="..." class="avatar-img rounded-circle">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="user-profile text-center">
                <div class="name"><%= info.firstname %>  <%= info.middlename %> <%= info.surname %></div>
                <div class="job"><%= info.className %> >  Student 
                </div>
                <div class="social-media">
                  <a class="btn btn-info btn-twitter btn-sm btn-link" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                  </a>
                  <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span> 
                  </a>
                </div>
                <!-- <div class="view-profile">
                  <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
                </div> -->
              </div>
            </div>
            <div class="card-footer">
              <div class="row user-stats text-center">
                <div class="col">
                  <div class="number">125</div>
                  <div class="title">Asignts</div>
                </div>
                <div class="col">
                    <div class="number">125</div>
                    <div class="title">Pract</div>
                  </div>
                <div class="col">
                  <div class="number">25K</div>
                  <div class="title">Text</div>
                </div>
                <div class="col">
                  <div class="number">134</div>
                  <div class="title">Exam</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include('../../layouts/admin/footer') %>