<%- include('../../layouts/teacher/head') %>
<%- include('../../layouts/teacher/nav') %>
<%- include('../../layouts/teacher/dsidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title"><%= classname.toUpperCase()%> STUDENT RECORDS</h4>
           

            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <h4 class="card-title">Multi Filter Select</h4> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>StudentID</th>
                                            <th>Student</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>Class</th>
                                            <th>Guardian Name</th>
                                            <th>Gaurdian Address</th>
                                            <th>Phone</th>
                                            <th>YearOfEntry</th>
                                            <th>action</th>
                                           
                                        </tr>
                                    </thead>
                                
                                    <tbody id="tr">
                                        <% studentRecords.forEach(function(student) {%>
                                       <tr>
                                           <td><%= student.studentId %></td>
                                           <td><%= student.title %> <%= student.surname %> <%= student.firstname %> <%= student.middlename %></td>
                                           <td><%= student.gender %></td>
                                           <td><%= student.dateofbirth %></td>
                                           <td><%= student.className %></td>
                                           <td><%= student.guardian_name %></td>
                                           <td><%= student.guardian_address %></td>
                                           <td><%= student.phone %></td>
                                           <td><%= student.yearOfEntry %></td>
                                           <td>
                                            <div class="form-button-action">
                                                <a href="/admin/view_/registered_students/view?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="/admin/payment_/registered_students/payment?studentghfgfh=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-warning " data-original-title="Make Payments">
                                                    <i class=" flaticon-coins"></i>
                                                </a>
                                                <a href="/admin/delete_/registered_students/delete?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove Student">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                           </td>
                                       </tr>
                                       <% });%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>

<script>


    $(document).ready(function() {
        $('#basic-datatables').DataTable({
            
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>