<%- include('../../layouts/admin/headr') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/report/exam_report') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">CLASS RESULT REPORT</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">REPORT</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="">exam report for <strong><%= classt.className %></strong></a>
                    </li>
                    
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table  border="1" cellpadding="5px" cellspacing="3px" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="4" style="text-transform: uppercase; text-align: center;">
                                                <%= classt.className %> <%= terms.term %> TERM <%= ses%> REPORT
                                            </th>
                                        </tr>
                                        <tr style="text-transform: uppercase;">
                                            <th>STUDENT NAME(S)</th>
                                            <th>STUDENT ID </th>
                                            <th><%= terms.term %> TERM <%= ses%>TOTAL SCORE  </th>
                                            <th>PRINT</th>
                                            
                                            

                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% var totInDece = [];%>
                                        <% student_details.forEach(function(detail) {%>
                                            <% var tot = 0;%>
                                            <% var subavg1 = 0;%>
                                            
                                            <% for(var i = 0; i < calresults.length;  i++) {%>
                                                <% if (detail.studsids == calresults[i].student_id){%>
                                                   <% let subtot = parseFloat(calresults[i].subject_score) ;%>
                                                   <!-- sum total subject scoles  -->
                                                   <% tot +=+ subtot %>
                                                   <% subavg1++  %>
                                                   
                                                   
                                               <%}%>
                                           <%}%>
                                           <% totInDece.push(tot) %>
                                           <% totInDece.push(tot) %>
                                        <tr>
                                            <td><%= detail.surname %> <%= detail.firstname %> <%= detail.middlename %></td>
                                            <td><%= detail.studsids %>  </td>
                                            <td><%= tot %> </td>
                                            <td> 
                                                <div class="form-button-action">
                                                    <a href=""  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fas fa-print"></i>
                                                    </a>
                                                    
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        <%});%>
                                        
                                        <%= totInDece.sort(function(a,b) {return b-a}) %> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<script>
        
    var table = document.getElementById("table"), maxVal;
    
    for(var i = 1; i < table.rows.length; i++)
    {
        // if its the first row get th value
        if(i === 1){
            maxVal = table.rows[i].cells[2].innerHTML;
        }
      // test the values
      else if(maxVal < table.rows[i].cells[2].innerHTML)
        {
            maxVal = table.rows[i].cells[2].innerHTML;
        }
    }
    // display the max val
    document.getElementById("val").innerHTML = "Max Value = "+maxVal;
    console.log(maxVal);

</script>

<%- include('../../layouts/admin/footer') %>
