<%- include('../../layouts/admin/headr') %>

<body>
<div class="">
    <div class="content">
        <div class="page-inner">
            <!-- <a href="index.html" class="btn btn-primary btn-back-home mt-4 animated fadeInUp">
                <span class="btn-label mr-2">
                    <i class="flaticon-home"></i>
                </span>
                Back To Home
            </a> <br><br> -->

            <div class="row">
                
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <!-- <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add notice 
                                </button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="">
                                <% schclass.forEach(function(schclas) {%>
                                <table width="100%" border="1" cellpadding="5px" cellspacing="3px">
                                    <thead>
                                        <tr>
                                            <th colspan="12"><strong style="margin-right: 30% ;">Teacher Name:</strong> <?php echo "" ?><strong style="margin-right: 25% ;">Broad Sheet For <%= terms.term %> TERM <%= ses%>  </strong>  <strong>Class: <%= schclas.className%></strong></th>
                                        </tr>
                                        <tr>
                                            <th>
                                                Name
                                            </th>
                                            <% subjects.forEach(function(subject) {%>
                                            <th><%= subject.subjectName %></th>
                                            <%});%>
                                            <th>
                                                Total
                                            </th>
                                            <th>
                                                Average
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            
                                        <% student_details.forEach(function(detail) {%>
                                       
                                        <tr>
                                            <td><%= detail.surname %> <%= detail.firstname %> <%= detail.middlename %></td>
                                            <% var tot = 0;%>
                                            <% var subavg1 = 0;%>
                                            
                                            <% for(var i = 0; i < calresults.length;  i++) {%>
                                                 <% if (detail.studsids == calresults[i].student_id){%>
                                                    <% let subtot = parseFloat(calresults[i].subject_score) ;%>
                                                    <!-- sum total subject scoles  -->
                                                    <% tot +=+ subtot %>
                                                    <% subavg1++  %>
                                                   <td><%= calresults[i].subject_score %></td>
                                                 
                                                <%}%>
                                                
                                            <%}%>
                                            <td><%= tot %></td>
                                            <td><%= tot/subavg1  %></td>
                                            
                                        </tr>
                                        <%});%>
                                       
                                    </tbody>
                                </table>
                                <%});%>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/report/sumarry_result" class="btn btn-primary btn-back-home mt-4 animated fadeInUp">
                    <span class="btn-label mr-2">
                        <i class=" fas fa-backward"></i>
                    </span>
                </a>
                
            </div>
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>


