<%- include('../../layouts/admin/headr') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/report/exam_report') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Exam Report Search</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Exams</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Search</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <!-- <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add notice 
                                </button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form >
                                <div id="addmore">
                                    <div class="row">
                                    
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Session</label>
                                                <select name="schsession" id="schsession" class="form-control" id="">
                                                    <option value="">Select Session</option>
                                                    <% var option = [];
                                                    schsession.forEach(function(acdsession){ %>
                                                            <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                                    <% });%>
                                                </select>
                                                <!-- <input type="text" name="acdsession" rows="2" id="notice" class="form-control" placeholder="2012/2015" required> -->
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Class</label>
                                                <select name="cls_id" id="cls_id" class="form-control" required>
                                                    <option value="">SELECT CLASS NAME </option>
                                                    <% var option = [];
                                                    classt.forEach(function(clas){ %>
                                                        <option value="<%= clas.schoolclass_id %>"><%= clas.className %></option>
                                                    <% });%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Term</label>
                                                <select name="term_id" id="term_id" class="form-control" required>
                                                    <option value="">SELECT TERM </option>
                                                    <% var option = [];
                                                    terms.forEach(function(term){ %>
                                                        <option value="<%= term.setup_id %>"><%= term.term %> </option>
                                                    <% });%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div style="float: right;">
                                    <button type="submit" id="button"  class="btn btn-primary">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="">
                                <table width="100%" border="1" cellpadding="5px" cellspacing="3px" id>
                                    <thead>
                                        <tr>
                                            <th id="theader" colspan="5" style="text-transform: uppercase; text-align: center;">
                                                
                                            </th>
                                        </tr>
                                        <tr style="text-transform: uppercase;">
                                            <th>STUDENT NAME(S)</th>
                                            <th>STUDENT ID </th>
                                            <th>TOTAL SCORE  </th>
                                            <th>POSITION</th>
                                            <th>PRINT</th>
                                            
                                            

                                        </tr>
                                    </thead >
                                    
                                    <tbody id="tr">
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
   
            </div>
            
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>


<script>
     $("#button").click(function (e) {
    e.preventDefault();
    var ses = $("#schsession").val();
    var cls_id = $("#cls_id").val();
    var tem = $("#term_id").val();


    console.log(`${ses}  ${cls_id}  ${term_id}`)
     var termResults = []
    $.ajax({
      url: "/view_class_result",
      method: "POST",
      cache: false,
      dataType:'json',
      // timeout: 3000,
      data: {
        schsession: ses,
        cls_id: cls_id,
        term_id: tem
      },
      success: function (response) {
          console.log(response)
          let stdDetails = response.student_details;
          let stdScores = response.calresults;
          stdDetails.forEach(detail => {
             var tot = 0;
             var subavg1 = 0;
             for(var i = 0; i< stdScores.length; i++) {
               if (detail.studsids == stdScores[i].student_id){
                    let subtot = parseFloat(stdScores[i].subject_score);
                     tot +=+ subtot;
                     subavg1++                                                                    
                }
             }

             let output = {
                 names : ` ${detail.surname} ${detail.firstname} ${detail.middlename} `,
                 studentid: detail.studsids,
                 semestersore: tot
             }
             termResults.push(output)
            // console.log(output)
              
          });
          termResults.sort((a, b) => parseFloat(b.semestersore) - parseFloat(a.semestersore));
          console.log(termResults)
          if (termResults.length > 0) {
              var p = 0;
          var html = '';
          for(var j = 0; j < termResults.length; j++) {
              p++
            html += '<tr>';
                html += ' <td>'+ termResults[j].names +'</td>';
               html += '<td>'+ termResults[j].studentid +'</td>';
                html += '<td>'+ termResults[j].semestersore +'</td>';
                html += '<td>'+ p+'</td>';
               html += ' <td> ';
                    html += '<div class="form-button-action">';
                        html += '<a href="/print_report_sheet?studentsid='+termResults[j].studentid+'&tem='+response.termname+'&sesions='+response.ses+'&position='+p+'&classid='+cls_id+'&temid='+tem+'"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">';
                           html += ' <i class="fas fa-print"></i>';
                        html += '</a>';
                   html += ' </div>';
               html += ' </td>';
            html += '</tr>';
          };
          $("#theader").html('<span>'+response.classname+'</span> <span>'+response.termname+'</span> TERM <span>'+response.ses+'</span> REPORT');
          $("#tr").html(html);
        } else {

        }

      },
      error: function (e) {
        console.log("process error");
      },
    });
  });
</script>