<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/report/exam_report') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Exam Report Search</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Exams</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Search</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <!-- <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add notice 
                                </button> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form action="/report/sumarry_result" method="post">
                                <div id="addmore">
                                    <div class="row">
                                    
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Session</label>
                                                <select name="schsession" class="form-control" id="">
                                                    <option value="">Select Session</option>
                                                    <% var option = [];
                                                    schsession.forEach(function(acdsession){ %>
                                                            <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                                    <% });%>
                                                </select>
                                                <!-- <input type="text" name="acdsession" rows="2" id="notice" class="form-control" placeholder="2012/2015" required> -->
                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Term</label>
                                                <select name="term_id" id="term_id" class="form-control" required>
                                                    <option value="">SELECT TERM </option>
                                                    <% var option = [];
                                                    terms.forEach(function(term){ %>
                                                        <option value="<%= term.setup_id %>"><%= term.term %></option>
                                                    <% });%>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div style="float: right;">
                                    <button type="submit"  class="btn btn-primary">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>


