<%- include('../../../layouts/head') %>
<%# include('../../../layouts/admin/headr') %>

<body>
      <table width="900" border="0"  cellpadding="0" cellspacing="0" align="center" >
      
            <tr>
                <td colspan="3" align="center"><strong><img src="images/kcisphoto.jpg" alt="" width="80" height="80"/><br />KINGDOM CITIZENS INTERNATIONAL SCHOOL <br>6 RIYOM DRIVE, ADJACENT ANDE HOSPITAL, OFF JOSEPH GOMWALK ROAD, JOS 08073514794.</strong></td>
            </tr>
            <tr>
                <td colspan="3" align="center"><strong>CONTINOUS ASSESSMENT REPORT</strong></td>
            </tr>
            <tr>
                <td width="30%"><h4>NAME: <%= student.surname %> <%= student.firstname %> <%= student.middlename %></h4></td>
                <td width="29%"><h4>CLASS: <%= classN.className.toUpperCase() %></h4></td>
                <td width="41%"><h4>ADM.NO: <%= studentid %></h4></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" id="table">
                      <tr>
                        <td width="51%"><table width="500" border="0" cellpadding="0" cellspacing="0" id="table">
                          <tr>
                            <td colspan="3">ATTENDANCE (REGULARITY &amp; PUNCTUALITY)</td>
                            </tr>
                          <tr>
                            <td width="345">NO. OF TIMES SCHOOL OPENED</td>
                            <td width="66"><%= termdetail.no_of_times_opened %></td>
                            <td width="75" rowspan="3"  align='center'></td>
                          </tr>
                          <tr>
                            <td>NO. OF TIMES CHILD PRESENT</td>
                            <td><?php echo "$nostdattened" ?></td>
                            </tr>
                          <tr>
                            <td>NO. OF TIMES CHILD ABSENT</td>
                            <td><?php echo "$noofabsent" ?></td>
                            </tr>
                      </table>
                     </td>
                      <td width="49%" align="right"><table width="500" border="0" cellpadding="0" cellspacing="0" id="table">
                        <tr>
                          <td colspan="3">&nbsp;</td>
                          </tr>
                        <tr>
                          <td>TERM/ YEAR</td>
                          <td><%= term %> TERM</td>
                          <td><%= session %></td>
                        </tr>
                        <tr>
                          <td>TERM ENDED</td>
                          <td colspan="2"><%= termdetail.term_ends.toDateString() %> </td>
                          </tr>
                        <tr>
                          <td>NEXT TERM BEGINS</td>
                          <td colspan="2"><%= termdetail.term_begins.toDateString() %> </td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="table">
                  <tr>
                    <td colspan="3">PERFORMANCE IN SUBJECTS</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>SUBJECTS</td>
                    <td align='center'>1ST</td>
                    <td align='center'>2ND</td>
                    <td align='center'>3RD</td>
                    <td align='center'>4TH</td>
                    <td align='center'>5TH</td>
                    <td align='center'>EXAM (40)</td>
                    <td align='center'>TOTAL (100)</td>
                    <td align='center'>CLASS AVERAGE</td>
                    <td align='center'>COMMENT</td>
                  </tr>
                  <% var tot = 0;%>
                  <% var subavg1 = 0;%>
                  <% result1.forEach(function(subject) {%>
                    <% let subtot = parseFloat(subject.subject_score) ;%>
                    <!-- sum total subject scoles  -->
                    <% tot +=+ subtot %>
                    <% subavg1++  %>
                  <tr>
                      <td><%= subject.subjectName %></td>
                      
                        <td><%= subject.a1 %></td>
                        <td><%= subject.a2 %></td>
                        <td><%= subject.a3 %></td>
                        <td><%= subject.a4 %></td>
                        <td><%= subject.a5 %></td>
                        <td><%= subject.a6 %></td>
                        <td><%= subject.subject_score %></td>
                        <% var subAvg = parseFloat(subject.subject_score) / 5 %>
                        <td><%= parseFloat(subAvg).toFixed(2) %></td>
                        <td align="center"><%= subject.grade_title.toUpperCase() %></td>
                </tr>
               
                <%});%>
                    </table></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="table">
                      <tr>
                        <td width="47%"><table width="450" border="0" cellpadding="0" cellspacing="0" id="table">
                            <tr>
                                <td width='307'>WORK HABITS</td>
                                <td width='133'>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Follows Instructions</td>
                                <td align='center'>
                                 
                                    <%= workh.follows_instructions %>
                                </td>
                            </tr>
                            <tr>
                                <td>Works Independently</td>
                                <td align='center'><%= workh.works_independently %></td>
                            </tr>
                            <tr>
                                <td>Does not disturb orders</td>
                                <td align='center'><%= workh.does_not_disturb %></td>
                            </tr>
                            <tr>
                                <td>Takes care of materials</td>
                                <td align='center'><%= workh.care_for_materials %></td>
                            </tr>
                            <tr>
                                <td>Completes Task Required</td>
                                <td align='center'><%= workh.completes_task %></td>
                            </tr>
                        </table>
                    </td>
                    <td width="53%" align="right" valign="top"><table width="500" border="0" cellpadding="0" cellspacing="0" id="table">
                        <tr>
                            <td>SOCIAL DEVELOPMENT</td>
                            <td align='center'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Is Courteous</td>
                            <td align='center'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Shows respect for the authority</td>
                            <td align='center'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Exhibits self control</td>
                            <td align='center'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Respond well to correction</td>
                            <td align='center'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Relates to adults outside of family circle</td>
                            <td align='center'>&nbsp;</td>
                        </tr>
                    </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
                <td colspan="3"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="table">
                  <tr>
                    <td width="47%"><table width="450" border="0" cellpadding="0" cellspacing="0" id="table">
                        <tr>
                            <td width='307'>ATTENTION SKILLS</td>
                            <td width='133'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Concentration for 3 minutes</td>
                            <td align='center'><%= attention.concentration_for_3_minutes %></td>
                        </tr>
                        <tr>
                            <td>Concentration for 5 minutes</td>
                            <td align='center'><%= attention.concentration_for_5_minutes %></td>
                        </tr>
                        <tr>
                            <td>Concentration for 10 minutes</td>
                            <td align='center'><%= attention.concentration_for_10_minutes %></td>
                        </tr>
                        <tr>
                            <td>Easily distracted</td>
                            <td align='center'><%= attention.easily_distracted %></td>
                        </tr>
                        <tr>
                            <td>Willingness to overcome difficulties &amp; Tackle problems</td>
                            <td align='center'><%= attention.overcome_difficulties %></td>
                        </tr>
                        <tr>
                            <td>Enjoy Listening, Activities E.g Stories, Poems and Ryhmes E.t.c</td>
                            <td align='center'><%= attention.enjoy_listening %></td>
                        </tr>
                        <tr>
                            <td>Willingness to participate in class activities</td>
                            <td align='center'><%= attention.willing_to_paticipate %></td>
                        </tr>
                    </table></td>
                    <td width="53%" align="right" valign="top"><table width="500" border="0" cellpadding="0" cellspacing="0" id="table">
                        <tr>
                            <td width='370'>PSYCHOMOTOR SKILLS</td>
                            <td width='120'>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Drawing and Painting</td>
                            <td align='center'><%= pycho.drawing_and_painting %></td>
                        </tr>
                        <tr>
                            <td>Games</td>
                            <td align='center'><%= pycho.games %></td>
                        </tr>
                        <tr>
                            <td>Flexibity</td>
                            <td align='center'><%= pycho.flexibility %></td>
                        </tr>
                        <tr>
                            <td>Verbal Fluency</td>
                            <td align='center'><%= pycho.verbal_fluency %></td>
                        </tr>
                        <tr>
                            <td>General Overall Progress</td>
                            <td align='center'><%= pycho.overall_progress %></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>KEY<br />G = Good Progress <br />W = Working of it <br />NA = Not Applicable</td>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <% var averg = parseFloat(tot) / parseInt(subavg1)  %> 
                    <td colspan="3" align='center'><strong>AVERAGE = <%= averg  %>  </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>CLASS AVERAGE =   <?php echo "$allstudentsubavg" ?></strong></td>
                  </tr>
                  <tr>
                    <td colspan="3">CLASS TEACHER'S COMMENT:  </td>
                  </tr>
                  <tr>
                   <td colspan="2"><?php echo "<div>CLASS TEACHER'S SIGNATURE:  <a href=''><img src='$signatur' width='130' height='25' title='Signature' alt='' /></a></div>" ?><br /> <br /> <br />
                    HEAD TEACHER'S COMMENT:    <br />  <br /> <br />
                   <div>HEAD TEACHER'S SIGNATURE:   <a href=''><img src='$signaturs' width='130' height='25' title='Signature' alt='' /></a></div>" </td>
                    <td>DATE:<br /><br /><br /><br /><br /><br /> DATE:</td>
                  </tr>
    </table>
</body>