<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../admin/side_top') %>
            <ul class="nav">
                <% if (user.group_id == 333333){%>
                    <% if (link == '/api/teachers/dashboard'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item ">
                                <a href="/api/teachers/dashboard">
                                    <i class="fas fa-home"></i>
                                    <p>Panel</p>
                                    <span class="badge badge-count">5</span>
                                </a>
                            </li>
                        <% }%>
                <% } else {%>
                    <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
                <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Student</h4>
                </li>
                <% if (link == '/report/sumarry_result'){%>
                    <li class="nav-item active">
                        <a  href="/report/sumarry_result">
                            <i class=" fas fa-tachometer-alt text-success"></i>
                            <p>Result Report</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                        <li class="nav-item">
                            <a  href="/report/sumarry_result">
                                <i class="fas fa-tachometer-alt text-success"></i>
                                <p>Result Report</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                <% }%>
                <% if (link == '/view_class_result'){%>
                    <li class="nav-item active">
                        <a  href="/view_class_result">
                            <i class=" fas fa-print text-warning" ></i>
                            <p>View/Print Class Result</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                        <li class="nav-item">
                            <a  href="/view_class_result">
                                <i class="fas fa-print text-warning" ></i>
                                <p>View/Print Class Result</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                <% }%>
               
               
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->