<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <% if (user.group_id == 333333){%>
                <ul class="nav">
                 <% if (link == '/api/teachers/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/api/teachers/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">STUDENTS</h4>
                    </li>
                    <% if (link == '/api/teachers/student_records'){%>
                    <li class="nav-item active">
                        <a href="/api/teachers/student_records">
                            <i class="fas fa-list text-info"></i>
                            <p>Student Records</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/student_records">
                                <i class="fas fa-list text-info"></i>
                                <p>Student Records</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                    <% }%>
                </ul>
            <%} else if (user.group_id == 111111) {%>
                <ul class="nav">
                    <% if (link == '/admin/panel/dashboard'){%>
                        <li class="nav-item active">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item ">
                                <a href="/admin/panel/dashboard">
                                    <i class="fas fa-home"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                        <% }%>
                   
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Student</h4>
                    </li>
                    <% if (link == '/admin/admission/panel'){%>
                        <li class="nav-item active">
                            <a  href="/admin/admission/panel">
                                <i class=" fas fa-tachometer-alt text-warning"></i>
                                <p>Admission Panel</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                    <% } else {%>
                            <li class="nav-item">
                                <a  href="/admin/admission/panel">
                                    <i class="fas fa-tachometer-alt text-warning"></i>
                                    <p>Admission Panel</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                    <% }%>
                    <% if (link == '/admin/admission/registration'){%>
                        <li class="nav-item active">
                            <a  href="/admin/admission/registration">
                                <i class=" fas fa-user-plus text-danger"></i>
                                <p>Student Admission </p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                    <% } else {%>
                            <li class="nav-item">
                                <a  href="/admin/admission/registration">
                                    <i class="fas fa-user-plus text-danger"></i>
                                    <p>Student Admission</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                    <% }%>
                    <% if (link == '/admin/view_/registered_students'){%>
                        <li class="nav-item active">
                            <a  href="/admin/view_/registered_students">
                                <i class="fas fa-users text-success"></i>
                                <p>Student Details</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item">
                            <a  href="/admin/view_/registered_students">
                                <i class="fas fa-users text-success"></i>
                                <p>Student Details</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                    <% }%>
                   
                </ul>
            <%} else if (user.group_id == 444444) {%>
                <ul class="nav">
                    <% if (link == '/api/parents/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/api/parents/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Dashboard</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/parents/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
            <%}%>
        </div>
    </div>
</div>
<!-- End Sidebar -->