<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <% if (user.group_id == 111111){%>
            <ul class="nav">

                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>

               
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">ATTENDANCE</h4>
                    </li>
                <% if (link == '/attendance/attendance'){%>
                    <li class="nav-item active">
                        <a href="/attendance/attendance">
                            <i class="fas fa-edit text-warning"></i>
                            <p>Panel</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/attendance/attendance">
                                <i class="fas fa-edit text-primary"></i>
                                <p>Panel</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                    <% }%>
                
               
            </ul>
            <% } else {%>
                <ul class="nav">

                    <% if (link == '/api/teachers/dashboard'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item ">
                                <a href="/api/teachers/dashboard">
                                    <i class="fas fa-home text-primary"></i>
                                    <p>Panel</p>
                                    <!-- <span class="badge badge-count">5</span> -->
                                </a>
                            </li>
                        <% }%>
                   
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">ATTENDANCE</h4>
                    </li>

                   
                    <!-- <li class="nav-item">
                        <a data-toggle="collapse" href="#certificates">
                            <i class="fas fa-layer-group"></i>
                            <p>Attendance Reg</p>
                            <span class="caret"></span>
                        </a>
                    </li> -->
                    
                   
                </ul>
            <% }%>
        </div>
    </div>
</div>
<!-- End Sidebar -->