<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../layouts/admin/side_top') %>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Calender Settings</h4>
                </li>
                <% if (link == '/admin/settings/calender/calender_type'){%>
                    <li class="nav-item active">
                        <a  href="/admin/settings/calender/calender_type">
                            <i class="fas fa-calendar"></i>
                            <p>Calender type</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a  href="/admin/settings/calender/calender_type">
                                <i class="fas fa-calendar"></i>
                                <p>Calender type</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                    <% }%>

                    <% if (link == '/admin/settings/calender/calender_year_settings'){%>
                        <li class="nav-item active">
                            <a  href="/admin/settings/calender/calender_year_settings">
                                <i class="fas fa-calendar-plus"></i>
                                <p>Calender Year Setup</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item">
                                <a  href="/admin/settings/calender/calender_year_settings">
                                    <i class="fas fa-calendar-plus"></i>
                                    <p>Calender Year Setup</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                        <% }%>

                        <% if (link == '/admin/settings/calender/calender_type_periods'){%>
                            <li class="nav-item active">
                                <a  href="/admin/settings/calender/calender_type_periods">
                                    <i class="fas fa-calendar-alt"></i>
                                    <p>Calender Type Period</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                            <% } else {%>
                                <li class="nav-item">
                                    <a  href="/admin/settings/calender/calender_type_periods">
                                        <i class="fas fa-calendar-alt"></i>
                                        <p>Calender Type Period</p>
                                        <!-- <span class="caret"></span> -->
                                    </a>
                                </li>
                            <% }%>

                            <% if (link == '/admin/settings/calender/calender_year_period_setting'){%>
                                <li class="nav-item active">
                                    <a href="/admin/settings/calender/calender_year_period_setting">
                                        <i class="fas fa-calendar-check"></i>
                                        <p>Year Period Setup</p>
                                        <!-- <span class="caret"></span> -->
                                    </a>
                                </li>
                                <% } else {%>
                                    <li class="nav-item">
                                        <a href="/admin/settings/calender/calender_year_period_setting">
                                            <i class="fas fa-calendar-check"></i>
                                            <p>Year Period Setup</p>
                                            <!-- <span class="caret"></span> -->
                                        </a>
                                    </li>
                                <% }%>
                
                
                
                

                
               
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->