<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Certificates</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Bulk Generate Certificates</p>
                        <span class=""></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Certificate Templates</p>
                        <span class=""></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Generated Certificates</p>
                        <span class=""></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Bulk Generate Certificates</p>
                        <span class=""></span>
                    </a>
                </li>

               
              
                
               
    
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->