<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <li class="nav-item ">
                    <a href="/admin/panel/dashboard">
                        <i class="flaticon-windows text-warning"></i>
                        <p>Acedemic</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/admin/payment/dashboard">
                        <i class="flaticon-paypal text-success"></i>
                        <p>Payments</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/admin/view_add/inventory/expense_head">
                        <i class="flaticon-agenda-1 text-danger"></i>
                        <p>Inventory</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/admin/report/dashboard">
                        <i class="flaticon-list text-primary"></i>
                        <p>Report</p>
                    </a>
                </li>
               
            </ul>

        </div>
    </div>
</div>
<!-- End Sidebar -->