<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (user.group_id == 333333){%>
                    <% if (link == '/api/teachers/dashboard'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item ">
                                <a href="/api/teachers/dashboard">
                                    <i class="fas fa-home"></i>
                                    <p>Panel</p>
                                    <span class="badge badge-count">5</span>
                                </a>
                            </li>
                        <% }%>
                <% } else {%>
                    <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
                <% }%>
                
              
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">examination</h4>
                </li>
                <% if (link == '/admin/exam/exam_management/create_exam'){%>
                    <li class="nav-item active">
                        <a href="/admin/exam/exam_management/create_exam">
                            <i class="fas fa-home"></i>
                            <p>Exam management</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/exam/exam_management/create_exam">
                                <i class="fas fa-home"></i>
                                <p>Exam management</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
                <!-- <li class="nav-item">
                    <a data-toggle="collapse" href="/admin/exam/exam_management/create_exam">
                        <i class="fas fa-layer-group"></i>
                        <p>Exam management</p>
                        <span class="caret"></span>
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Generate Report</p>
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Generated Certificates</p>
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>CCE Report</p>
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Settings</p>
                        <span class="caret"></span>
                    </a>
                </li> -->

               
              
                
               
    
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->