<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Calender Settings</h4>
                </li>
                <% if (link == '/admin/settings/gradebook/gradebook_columns'){%>
                    <li class="nav-item active">
                        <a  href="/admin/settings/gradebook/gradebook_columns">
                            <i class="fas fa-hands-helping"></i>
                            <p>gradebook columns</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a  href="/admin/settings/gradebook/gradebook_columns">
                                <i class="fas fa-hands-helping"></i>
                                <p>gradebook columns</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                    <% }%>

                    <% if (link == '/admin/settings/gradebook/gradebook_setings'){%>
                        <li class="nav-item active">
                            <a  href="/admin/settings/gradebook/gradebook_setings">
                                <i class=" fas fa-users-cog"></i>
                                <p>gradebook setings</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item">
                                <a  href="/admin/settings/gradebook/gradebook_setings">
                                    <i class=" fas fa-users-cog"></i>
                                    <p>gradebook setings</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                        <% }%>

                        <% if (link == '/admin/settings/gradebook/gradebook_template'){%>
                            <li class="nav-item active">
                                <a  href="/admin/settings/gradebook/gradebook_template">
                                    <i class="fas fa-poop"></i>
                                    <p>gradebook template</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                            <% } else {%>
                                <li class="nav-item">
                                    <a  href="/admin/settings/gradebook/gradebook_template">
                                        <i class="fas fa-poop"></i>
                                        <p>gradebook template</p>
                                        <!-- <span class="caret"></span> -->
                                    </a>
                                </li>
                            <% }%>

    
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->