<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">SETUPS</h4>
                </li>
                <% if (link == '/admin/view_add/inventory/expense_head'){%>
                    <li class="nav-item active">
                        <a  href="/admin/view_add/inventory/expense_head">
                            <i class="fas fa-cog"></i>
                            <p>Expense Head</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                        <li class="nav-item">
                            <a  href="/admin/view_add/inventory/expense_head">
                                <i class="fas fa-cog"></i>
                                <p>Expense Head</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                <% }%>
                <% if (link == '/admin/view_add/inventory/expensive/expense_limit_level'){%>
                    <li class="nav-item active">
                        <a  href="/admin/view_add/inventory/expensive/expense_limit_level">
                            <i class="fas fa-sliders-h"></i>
                            <p>Expense limit level</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/view_add/inventory/expensive/expense_limit_level">
                            <i class="fas fa-sliders-h"></i>
                            <p>Expense limit level</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>
                <% if (link == '/admin/view_add/inventory/expensive/expense_limit_setup'){%>
                    <li class="nav-item active">
                        <a  href="/admin/view_add/inventory/expensive/expense_limit_setup">
                            <i class="fas fa-calendar-plus"></i>
                            <p>Expense Limit Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/view_add/inventory/expensive/expense_limit_setup">
                            <i class="fas fa-calendar-plus"></i>
                            <p>Expense Limit Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>
                <% if (link == '/admin/view/inventory/inventory_item_categories'){%>
                    <li class="nav-item active">
                        <a  href="/admin/view/inventory/inventory_item_categories">
                            <i class="flaticon-chain"></i>
                            <p>Inventory Item Categories</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/view/inventory/inventory_item_categories">
                            <i class="flaticon-chain"></i>
                            <p>Inventory Item Categories</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>

                <% if (link == '/admin/view/inventory/raw_material_orders'){%>
                    <li class="nav-item active">
                        <a  href="/admin/view/inventory/raw_material_orders">
                            <i class="flaticon-layers-1"></i>
                            <p>Raw Material Orders</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/view/inventory/raw_material_orders">
                            <i class="flaticon-layers-1"></i>
                            <p>Raw Material Orders</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>

                <% if (link == '/admin/view/inventory/raw_material_requests'){%>
                    <li class="nav-item active">
                        <a  href="/admin/view/inventory/raw_material_requests">
                            <i class="flaticon-layers-1"></i>
                            <p>Raw Material requests</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/view/inventory/raw_material_requests">
                            <i class="flaticon-layers-1"></i>
                            <p>Raw Material requests</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>

                
                <!-- <li class="nav-item ">
                    <a  href="/admin/settings/calender_setup_panel">
                        <i class=" fas fa-calendar-alt"></i>
                        <p>Calender Setup</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a  href="/admin/settings/gradebook_setup_panel">
                        <i class="fas fa-binoculars"></i>
                        <p>gradebook Setup</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->