<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/payment/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/payment/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/payment/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Payment Item Setup</h4>
                </li>
                <% if (link == '/admin/item/add_new/item'){%>
                    <li class="nav-item active">
                        <a  href="/admin/item/add_new/item">
                            <i class="fas fa-hands-helping text-primary"></i>
                            <p>Add Payment Item</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a  href="/admin/item/add_new/item">
                                <i class="fas fa-hands-helping text-primary"></i>
                                <p>Add Payment Item</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/admin/item/item_setup_session'){%>
                        <li class="nav-item active">
                            <a  href="/admin/item/item_setup_session">
                                <i class=" fas fa-users-cog text-warning"></i>
                                <p>View Items</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item">
                                <a  href="/admin/item/item_setup_session">
                                    <i class=" fas fa-users-cog text-warning"></i>
                                    <p>View Items</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                        <% }%>
                        <!--<li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Payment</h4>
                        </li>
                         <li class="nav-item active">
                            <a  href="/admin/payment/settings">
                                <i class="fas fa-poop"></i>
                                <p>View Paymet setups </p>
                                <span class="caret"></span> 
                            </a>
                        </li> -->
                        
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Mandate</h4>
                        </li>
                        <% if (link == '/admin/search/generated/mandate' || link == '/admin/view/generated/mandate'){%>
                            <li class="nav-item active">
                                <a  href="/admin/search/generated/mandate">
                                    <i class="fas fa-poop text-success"></i>
                                    <p>View Mandate </p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                        <% } else {%>
                            <li class="nav-item">
                                <a  href="/admin/search/generated/mandate">
                                    <i class="fas fa-poop text-success"></i>
                                    <p>View Mandate</p>
                                    <!-- <span class="caret"></span> -->
                                </a>
                            </li>
                        <% }%>
    
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->