<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/payment/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/payment/dashboard">
                            <i class="flaticon-windows"></i>
                            <p>Panel</p>
                            <span class="badge badge-count"></span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/payment/dashboard">
                                <i class="flaticon-windows"></i>
                                <p>Panel</p>
                                <span class="badge badge-count"></span>
                            </a>
                        </li>
                    <% }%>
              
                

               
              
                
               
    
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->