<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <% if (user.group_id == 111111){%>
                <ul class="nav">
              
                    <% if (link == '/admin/panel/dashboard'){%>
                        <li class="nav-item active">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item ">
                                <a href="/admin/panel/dashboard">
                                    <i class="fas fa-home"></i>
                                    <p>Panel</p>
                                    <span class="badge badge-count">5</span>
                                </a>
                            </li>
                        <% }%>
                   
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Performace Skills</h4>
                    </li>
                    <% if (link == '/admin/view/students_attention_skills'){%>
                        <li class="nav-item active">
                            <a href="/admin/view/students_attention_skills">
                                <i class="flaticon-interface-4 text-success"></i>
                                <p>Attention Skill</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/view/students_attention_skills">
                                <i class="flaticon-interface-4 text-success"></i>
                                <p>Attention Skill</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/admin/view/pychomotorskills'){%>
                        <li class="nav-item active">
                            <a href="/admin/view/pychomotorskills">
                                <i class="fas fa-chart-line text-danger"></i>
                                <p>Pychomotor skills</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/view/pychomotorskills">
                                <i class="fas fa-chart-line text-danger"></i>
                                <p>Pychomotor skills</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/admin/view/performance/punctuality'){%>
                        <li class="nav-item active">
                            <a href="/admin/view/performance/punctuality">
                                <i class="fas fa-chart-pie text-primary" ></i>
                                <p>punctuality</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/view/performance/punctuality">
                                <i class="fas fa-chart-pie text-primary" ></i>
                                <p>punctuality</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/admin/view/students_workhbit'){%>
                        <li class="nav-item active">
                            <a href="/admin/view/students_workhbit">
                                <i class="flaticon-user-2 text-warning"></i>
                                <p>Workhabit</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/view/students_workhbit">
                                <i class="flaticon-user-2 text-warning"></i>
                                <p>Workhabit</p>
                            </a>
                        </li>
                    <% }%>
                  
        
                </ul>
            <% } else if (user.group_id == 333333) {%>
                <ul class="nav">
              
                    <% if (link == '/api/teachers/dashboard'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                        <% } else {%>
                            <li class="nav-item ">
                                <a href="/api/teachers/dashboard">
                                    <i class="fas fa-home"></i>
                                    <p>Panel</p>
                                    <!-- <span class="badge badge-count">5</span> -->
                                </a>
                            </li>
                        <% }%>
                   
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Performace Skills</h4>
                    </li>
                    <% if (link == '/api/teachers/view/students_attention_skills'){%>
                        <li class="nav-item active">
                            <a href="/admin/view/students_attention_skills">
                                <i class="flaticon-interface-4 text-success"></i>
                                <p>Attention Skill</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/view/students_attention_skills">
                                <i class="flaticon-interface-4 text-success"></i>
                                <p>Attention Skill</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/api/teachers/view/pychomotorskills'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/view/pychomotorskills">
                                <i class="fas fa-chart-line text-danger"></i>
                                <p>Pychomotor skills</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/view/pychomotorskills">
                                <i class="fas fa-chart-line text-danger"></i>
                                <p>Pychomotor skills</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/api/teachers/view/performance/punctuality'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/view/performance/punctuality">
                                <i class="fas fa-chart-pie text-primary" ></i>
                                <p>punctuality</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/view/performance/punctuality">
                                <i class="fas fa-chart-pie text-primary" ></i>
                                <p>punctuality</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/api/teachers/view/students_workhbit'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/view/students_workhbit">
                                <i class="flaticon-user-2 text-warning"></i>
                                <p>Workhabit</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/teachers/view/students_workhbit">
                                <i class="flaticon-user-2 text-warning"></i>
                                <p>Workhabit</p>
                            </a>
                        </li>
                    <% }%>
                  
        
                </ul>
            <% } else { %>
                <ul class="nav">
              
                    <% if (link == '/api/parents/dashboard'){%>
                        <li class="nav-item active">
                            <a href="/api/parents/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% } else {%>
                            <li class="nav-item ">
                                <a href="/api/parents/dashboard">
                                    <i class="fas fa-home"></i>
                                    <p>Dashboard</p>
                                    <span class="badge badge-count">5</span>
                                </a>
                            </li>
                    <% }%>
                   
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Performace Skills</h4>
                    </li>
                    <% if (link == '/api/parents/view/students_attention_skills'){%>
                        <li class="nav-item active">
                            <a href="/api/parents/view/students_attention_skills">
                                <i class="flaticon-interface-4 text-success"></i>
                                <p>Attention Skill</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/parents/view/students_attention_skills">
                                <i class="flaticon-interface-4 text-success"></i>
                                <p>Attention Skill</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/api/parents/view/pychomotorskills'){%>
                        <li class="nav-item active">
                            <a href="/api/parents/view/pychomotorskills">
                                <i class="fas fa-chart-line text-danger"></i>
                                <p>Pychomotor skills</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/parents/view/pychomotorskills">
                                <i class="fas fa-chart-line text-danger"></i>
                                <p>Pychomotor skills</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/api/parents/view/performance/punctuality'){%>
                        <li class="nav-item active">
                            <a href="/api/teachers/view/performance/punctuality">
                                <i class="fas fa-chart-pie text-primary" ></i>
                                <p>punctuality</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/parents/view/performance/punctuality">
                                <i class="fas fa-chart-pie text-primary" ></i>
                                <p>punctuality</p>
                            </a>
                        </li>
                    <% }%>
                    <% if (link == '/api/parents/view/students_workhbit'){%>
                        <li class="nav-item active">
                            <a href="/api/parents/view/students_workhbit">
                                <i class="flaticon-user-2 text-warning"></i>
                                <p>Workhabit</p>
                                
                            </a>
                        </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/parents/view/students_workhbit">
                                <i class="flaticon-user-2 text-warning"></i>
                                <p>Workhabit</p>
                            </a>
                        </li>
                    <% }%>
                  
        
                </ul>
            <% } %>
            
        </div>
    </div>
</div>
<!-- End Sidebar -->