<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">SETUPS</h4>
                </li>
                <% if (link == '/admin/create_and_view_classes'){%>
                    <li class="nav-item active">
                        <a  href="/admin/create_and_view_classes">
                            <i class="fas fa-edit text-danger"></i>
                            <p>Create/View Classes</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                        <li class="nav-item">
                            <a  href="/admin/create_and_view_classes">
                                <i class="fas fa-edit text-danger"></i>
                                <p>Create/View Classes</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                <% }%>
                <% if (link == '/admin/settings/accademic_session_setup'){%>
                    <li class="nav-item active">
                        <a  href="/admin/settings/accademic_session_setup">
                            <i class="fas fa-cog text-warning"></i>
                            <p> Session Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                        <li class="nav-item">
                            <a  href="/admin/settings/accademic_session_setup">
                                <i class="fas fa-cog text-warning"></i>
                                <p> Session Setup</p>
                                <!-- <span class="caret"></span> -->
                            </a>
                        </li>
                <% }%>

                
                <% if (link == '/admin/settings/subject_setup'){%>
                    <li class="nav-item active">
                        <a  href="/admin/settings/subject_setup">
                            <i class="fas fa-sliders-h text-success"></i>
                            <p>Subject Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/settings/subject_setup">
                            <i class="fas fa-sliders-h text-success"></i>
                            <p>Subject Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>
                <% if (link == '/admin/setting/term_setup'){%>
                    <li class="nav-item active">
                        <a  href="/admin/setting/term_setup">
                            <i class="fas fa-calendar-plus text-primary"></i>
                            <p>Term Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/setting/term_setup">
                            <i class="fas fa-calendar-plus text-primary"></i>
                            <p>Term Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>
                <% if (link == '/admin/settings/teacher_setup'){%>
                    <li class="nav-item active">
                        <a  href="/admin/settings/teacher_setup">
                            <i class="fas fa-users text-danger"></i>
                            <p>Teachers Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/settings/teacher_setup">
                            <i class="fas fa-users text-danger"></i>
                            <p>Teachers Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>
                <% if (link == '/admin/period_settings'){%>
                    <li class="nav-item active">
                        <a  href="/admin/period_settings">
                            <i class="flaticon-time text-warning"></i>
                            <p>Period Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/admin/period_settings">
                            <i class="flaticon-time text-warning"></i>
                            <p>Period Setup</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% }%>
                
                <li class="nav-item ">
                    <a  href="/admin/settings/calender_setup_panel">
                        <i class=" fas fa-calendar-alt text-success"></i>
                        <p>Calender Setup</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>
                <li class="nav-item ">
                    <a  href="/admin/settings/gradebook_setup_panel">
                        <i class="fas fa-binoculars text-primary"></i>
                        <p>gradebook Setup</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->