<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Staff management</h4>
                </li>
                <% if (link == '/admin/aplicant_registration'){%>
                    <li class="nav-item active ">
                        <a href="/admin/aplicant_registration">
                            <i class="fas fa-user-plus"></i>
                            <p>Staff Registration</p>
                            
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/aplicant_registration">
                                <i class="fas fa-user-plus"></i>
                                <p>Staff Registration</p>
                                
                            </a>
                        </li>
                    <% }%>
               
               
               
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->