<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="/avata.png" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Hizrian
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/panel/dashboard">
                                <i class="fas fa-home"></i>
                                <p>Panel</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Subject Center</h4>
                </li>
                <% if (link == '/admin/subject_center'){%>
                    <li class="nav-item active">
                        <a href="/admin/subject_center">
                            <i class="fas fa-layer-group"></i>
                            <p>Subject Center</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/subject_center">
                                <i class="fas fa-layer-group"></i>
                                <p>Subject Center</p>
                                <span class="badge badge-count">5</span>
                            </a>
                        </li>
                    <% }%>
                <!-- <li class="nav-item">
                    <a data-toggle="collapse" href="">
                        <i class="fas fa-layer-group"></i>
                        <p>Course/Subject</p>
                        <span class="caret"></span>
                    </a>
                </li> -->
                
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->