<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('../side_top') %>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item ">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">TimeTable</h4>
                </li>
                <% if (link == '/admin/timetable_class_set'){%>
                    <li class="nav-item active">
                        <a href="/admin/timetable_class_set" aria-disabled="true">
                            <i class="fas fa-table text-warning"></i>
                            <p>Create TimeTable</p>
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item ">
                        <a href="/admin/timetable_class_set" aria-disabled="true">
                            <i class="fas fa-table text-warning"></i>
                            <p>Create TimeTable</p>
                        </a>
                    </li>
                <% }%>

                <% if (link == '/admin/view_time_table'){%>
                    <li class="nav-item active">
                        <a href="/admin/view_time_table" aria-disabled="true">
                            <i class="fas fa-folder text-warning"></i>
                            <p>view TimeTable</p>
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item ">
                        <a href="/admin/view_time_table" aria-disabled="true">
                            <i class="fas fa-folder text-warning"></i>
                            <p>view TimeTable</p>
                        </a>
                    </li>
                <% }%>

                 
    
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->