<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/gradebook') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/gradebook_setup_panel">Gradebook</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/gradebook/gradebook_setings">gradebook setings</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add gradebook seting
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>school category</th>
                                            <th>grade title </th>
                                            <th>grade </th>
                                            <th>grade min</th>
                                            <th>grade max</th>
                                            <th>gradepoint </th>
                                            <th>grade color </th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>school category</th>
                                            <th>grade title </th>
                                            <th>grade </th>
                                            <th>grade min</th>
                                            <th>grade max</th>
                                            <th>gradepoint </th>
                                            <th>grade color </th>
                                            <th>action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% gradesettings.forEach(function(settings){%>
                                        <tr>
                                            <td><%= settings.schoolCategory%> </td>
                                            <td><%= settings.grade_title%> </td>
                                            <td><%= settings.grade%> </td>
                                            <td><%= settings.grade_min%> </td>
                                            <td><%= settings.grade_max%> </td>
                                            <td><%= settings.gradepoint%> </td>
                                            <td><%= settings.grade_color%> </td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="<%= settings.idgrade%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="<%= settings.idgrade%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                        gradebook  </span> 
                    <span class="fw-light">
                        setings
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/settings/gradebook/gradebook_setings" method="post" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>SCHOOL CATEGORY </label>
                                <select name="schoolcategory_id" id="schoolcategory_id" class="form-control" required>
                                    <option value="">SELECT SCHOOL CATEGORY </option>
                                    <% var option = [];
                                    schoolCategory.forEach(function(category){ %>
                                        <option value="<%= category.schoolcategoryid %>"><%= category.schoolCategory %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>CALENDER TYPE </label>
                                <select name="calender_year_id" id="calender_year_id" class="form-control" required>
                                    <option value="">SELECT CALENDER YEAR NAME</option>
                                    <% var option = [];
                                    year_period.forEach(function(period){ %>
                                        <option value="<%= period.id_schoolterm %>"><%= period.period_name %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>grade_title</label>
                                <input type="text" name="grade_title" id="grade_title" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>grade</label>
                                <input type="text" name="grade" id="grade" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>grade min </label>
                                <input type="number" name="grade_min" id="grade_min" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>grade max</label>
                                <input type="number" name="grade_max" id="grade_max" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>gradepoint</label>
                                <input type="number" name="gradepoint" id="gradepoint" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>grade color</label>
                                <input type="text" name="grade_color" id="grade_color" class="form-control" required>
                            </div>
                        </div>
                    </div>
                   
                    
                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>