<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/calender') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/calender_setup_panel">Calender</a>
                    </li>
                    
                </ul>
            </div>
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="/admin/settings/calender/calender_type">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class=" fas fa-calendar text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-title"> Calender Type </p>
                                                    <!-- <h4 class="card-category">Settings</h4> -->
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/calender/calender_year_settings">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="fas fa-calendar-plus text-danger"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-title ">Calender Year Setup</p>
                                                    <h4 class="card-category"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/calender/calender_type_periods">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="icon-big text-center">
                                                    <i class="fas fa-calendar-alt text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">Calender Type Period</h4>
                                                    <p class="card-category"></p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/admin/settings/calender/calender_year_period_setting">
                                <div class="card card-stats card-round">
                                    <div class="card-body ">
                                            <div class="row"> 
                                                    <div class="col-3">
                                                        <div class="icon-big text-center">
                                                            <i class="fas fa-calendar-check text-warning"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col col-stats">
                                                        <div class="numbers">
                                                            <p class="card-title">Calender Year Period Setup </p>
                                                            <h6 class=" card-category"> </h6>
                                                        </div>
                                                    </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
        </div>
    </div>
    
</div>


<%- include('../../layouts/teacher/footer') %>