<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/calender') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/calender_setup_panel">Calender</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/calender/calender_type">Calender Type</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-6">
                    <div class="card">
                        
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                                <form action="/admin/settings/calender/calender_type/edit?calender_id=<%= calender_id%>" method="post" >
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Calender Type Name</label>
                                                <input type="text" name="CalenderTypeName" value="<%= calenderT.CalenderTypeName%>" id="CalenderTypeName" required class="form-control" placeholder="e.g First Term">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Duration</label>
                                                <input type="text" name="duration" id="duration" value="<%= calenderT.duration%>" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                
                                    
                                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                                </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>


<%- include('../../layouts/admin/footer') %>
