<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/calender') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/calender_setup_panel">Calender</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/settings/calender/calender_year_settings">calender year settings</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add calender year settings
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>calender year name</th>
                                            <th>start date</th>
                                            <th>end date</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>calender year name</th>
                                            <th>start date</th>
                                            <th>end date</th>
                                            <th>action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% canlenderyearsetup.forEach(function(yearsetup){%>
                                            <tr>
                                                <td><%= yearsetup.calender_year_name%> </td>
                                                <td><%= yearsetup.start_date%> </td>
                                                <td><%= yearsetup.end_date%> </td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <a href="/admin/settings/calender/calender_year_settings/edit?yearsetupid=<%= yearsetup.id_calender_year%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <a href="/admin/settings/calender/calender_year_settings/delete?yearsetupid=<%= yearsetup.id_calender_year%>" data-toggle="tooltip" title="" class="confirmdelete btn btn-link btn-danger" data-original-title="Remove Student">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        <%});%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                        calender  </span> 
                    <span class="fw-light">
                        year settings
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/settings/calender/calender_year_settings" method="post" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>calender year name</label>
                                <input type="text" name="calender_year_name" id="calender_year_name" class="form-control" placeholder="e.g First Term">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>start date</label>
                                <input type="date" name="start_date" id="start_date" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>end date</label>
                                <input type="date" name="end_date" id="end_date" class="form-control" required>
                            </div>
                        </div>
                    </div>
                   
                    
                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>