<%- include('../../../layouts/admin/head') %>
<%- include('../../../layouts/admin/nav') %>
<%- include('../../../layouts/admin/sidebars/payment') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/payment/settings">Payment Items</a>
                    </li>
                    <!-- <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/gradebook/gradebook_columns">gradebook columns</a>
                    </li> -->
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form action="/admin/item/add_new/item" method="post" >
                                <div id="addmore">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>SESSION</label>
                                                <input type="text" name="ses" id="ses" class="form-control" placeholder="e.g 2020/2021">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default">
                                                <label>Item Name</label>
                                                <input type="text" name="item[]" id="item" class="form-control" placeholder="e.g School fees">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" name="add" id="add" class="btn btn-success">Add</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                       <button type="submit" style="float: right;"  class="btn ">submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>

<%- include('../../../layouts/admin/footer') %>
<script>
    $(document).ready(function(){
   
     var revenue_name = $('#revenue_name').val();
    
   
       var i = 1;
       $('#add').click(function(){
           i++;
           $('#addmore').append(`
           <div class="row" id="row${i}">
                <div class="col-sm-2">
                    
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-default">
                        <label>Item Name</label>
                        <input type="text" name="item[]" id="item" class="form-control" placeholder="e.g School fees">
                    </div>
                </div>
                <div class="col-sm-4">
                    <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
                </div>
            </div>
        `);
       });
       
       $(document).on('click', '.btn_remove', function(){
           var button_id = $(this).attr("id"); 
           $('#row'+button_id+'').remove();
       });

       
       
       
   });
   </script>