<%- include('../../../layouts/admin/head') %>
<%- include('../../../layouts/admin/nav') %>
<%- include('../../../layouts/admin/sidebars/payment') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">setting</a>
                    </li>
                    <!-- <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/payment/settings">Payment setup</a>
                    </li> -->
                    <!-- <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/gradebook/gradebook_columns">gradebook columns</a>
                    </li> -->
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <form action="/admin/payment/item_setup/payment_setup" method="post" >
                                <table class="display table table-striped table-hover" >
                                    
                                  
                                        <tbody id="addmore">
                                            <tr>
                                                <td> 
                                                    <div class="form-group form-group-default">
                                                        <label>Item Name</label>
                                                        <input type="text" name="item[]" id="item" value="<%= paymentitems.items %>" class="form-control" placeholder="e.g School fees">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>CLASS</label>
                                                        <select name="class_id[]" class="form-control" id="">
                                                            <option value="">SELECT CLASS </option>
                                                            <% classt.forEach(function(CLSS){%>
                                                            <option value="<%= CLSS.Id %>"><%= CLSS.className %></option>
                                                            <%});%>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>Payment Option </label>
                                                        <select name="options[]" class="form-control" id="">
                                                            <option value="">Select Payment Options</option>
                                                            <option value="1">Compulsory</option>
                                                            <option value="2">Optional</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>ACADEMIC SESSIONS</label>
                                                        <select name="sesion[]" class="form-control" id="">
                                                            <option value="term_name">SELECT SESSIONS</option>
                                                            <% term_session.forEach(function(session){%>
                                                            <option value="<%= session.id %>"><%= session.acdsession %></option>
                                                            <%});%>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>TERM</label>
                                                        <select name="setup_id[]" class="form-control" id="">
                                                            <option value="">SELECT TERM</option>
                                                            <% terms.forEach(function(term){%>
                                                            <option value="<%= term.setup_id %>"><%= term.term_name %> <%= term.term %> </option>
                                                            <%});%>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>Amount</label>
                                                        <input type="number" name="amount[]" id="amount" class="form-control" placeholder="e.g 500000">
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" name="add" id="add" class="btn btn-info">Add</button>
                                                </td>
                                               
                                               
                                            </tr>
                                        </tbody><br>
                                        
                                    

                                </table>
                                <button type="submit" style="float: right;"  class="btn ">submit</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<%- include('../../../layouts/admin/footer') %>
<script>
    $(document).ready(function(){
   
    //  var revenue_name = $('#revenue_name').val();
    
   
       var i = 1;
       $('#add').click(function(){
           i++;
           $('#addmore').append(`
            <tr id="row${i}">
                <td> 
                    <div class="form-group form-group-default">
                        <label>Item Name</label>
                        <input type="text" name="item[]" value="<%= paymentitems.items %>" id="item" class="form-control" placeholder="e.g School fees">
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-default">
                        <label>CLASS</label>
                        <select name="class_id[]" class="form-control" id="">
                            <option value="">SELECT CLASS </option>
                            <% classt.forEach(function(CLSS){%>
                            <option value="<%= CLSS.Id %>"><%= CLSS.className %></option>
                            <%});%>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-default">
                        <label>Payment Option </label>
                        <select name="options[]" class="form-control" id="">
                            <option value="">Select Payment Options</option>
                            <option value="1">Compulsory</option>
                            <option value="2">Optional</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-default">
                        <label>ACADEMIC SESSIONS</label>
                        <select name="sesion[]" class="form-control" id="">
                            <option value="term_name">SELECT SESSIONS</option>
                            <% term_session.forEach(function(session){%>
                            <option value="<%= session.id %>"><%= session.acdsession %></option>
                            <%});%>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-default">
                        <label>TERM</label>
                        <select name="setup_id[]" class="form-control" id="">
                            <option value="">SELECT TERM</option>
                            <% terms.forEach(function(term){%>
                            <option value="<%= term.setup_id %>"><%= term.term_name %> <%= term.term %> </option>
                            <%});%>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group form-group-default">
                        <label>Amount</label>
                        <input type="number" name="amount[]" id="amount" class="form-control" placeholder="e.g 500000">
                    </div>
                </td>
                <td>
                    <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
                </td>
                
                
            </tr>
        `);
       });
       
       $(document).on('click', '.btn_remove', function(){
           var button_id = $(this).attr("id"); 
           $('#row'+button_id+'').remove();
       });

       
       
       
   });
   </script>