<%- include('../../../layouts/admin/head') %>
<%- include('../../../layouts/admin/nav') %>
<%- include('../../../layouts/admin/sidebars/payment') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Settings</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/setup_panel">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/payment/settings">Payment setup</a>
                    </li>
                    <!-- <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings/gradebook/gradebook_columns">gradebook columns</a>
                    </li> -->
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add payment settings
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Item</th>
                                            <th>Amount</th>
                                            <th>ClassName</th>
                                            <th>Sesion</th>
                                            <th>Options</th>
                                            <th>Term Name</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Item</th>
                                            <th>Amount</th>
                                            <th>ClassName</th>
                                            <th>Sesion</th>
                                            <th>Options</th>
                                            <th>Term Name</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% settings.forEach(function(setting){%>
                                        <tr>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/admin/payment/settings/update?payment_setup=<%= setting.paymentsetup_id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="/admin/payment/settings/delete?payment_setup=<%= setting.paymentsetup_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger confirmdelete" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td><%= setting.item%> </td>
                                            <td>NGN <%= setting.amount.toLocaleString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");%> </td>
                                            <td><%= setting.className%> </td>
                                            <td><%= setting.acdsession%> </td>
                                            <td>
                                                <% if(setting.options == 1){%>
                                                    Compulsory Fee
                                                <%} else {%>
                                                    Optional Fee
                                                <%}%>
                                             </td>
                                            <td><%= setting.term%> </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                        Payment  </span> 
                    <span class="fw-light">
                        Settings
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/payment/settings" method="post" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Item Name</label>
                                <input type="text" name="item" id="item" class="form-control" placeholder="e.g School fees">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Amount</label>
                                <input type="number" name="amount" id="amount" class="form-control" placeholder="e.g 500000">
                            </div>
                        </div>
                        <div class="col-sm-12  row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>Payment Option </label>
                                    <select name="options" class="form-control" id="">
                                        <option value="">Select Payment Options</option>
                                        <option value="1">Compulsory</option>
                                        <option value="2">Optional</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>ACADEMIC SESSIONS</label>
                                    <select name="sesion" class="form-control" id="">
                                        <option value="term_name">SELECT ACADEMIC SESSIONS</option>
                                        <% term_session.forEach(function(session){%>
                                        <option value="<%= session.id %>"><%= session.acdsession %></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>TERM</label>
                                    <select name="setup_id" class="form-control" id="">
                                        <option value="">SELECT TERM</option>
                                        <% terms.forEach(function(term){%>
                                        <option value="<%= term.setup_id %>"><%= term.term_name %> <%= term.term %> </option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-default">
                                    <label>CLASS</label>
                                    <select name="class_id" class="form-control" id="">
                                        <option value="">SELECT CLASS </option>
                                        <% classt.forEach(function(CLSS){%>
                                        <option value="<%= CLSS.Id %>"><%= CLSS.className %></option>
                                        <%});%>
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        <!-- <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>gradebook columns title</label>
                                <input type="text" name="gradebook_columns_title" id="gradebook_columns_title" class="form-control" placeholder="e.g First Term">
                            </div>
                        </div> -->
                    </div>
                   
                    
                   
                    
                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>