<%- include('../../../layouts/admin/head') %>
<%- include('../../../layouts/admin/nav') %>
<%- include('../../../layouts/admin/sidebars/payment') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Search</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Item</a>
                    </li>
                    <!-- <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Search</a>
                    </li> -->
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-6">
                    <div class="card">
                        
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form >
                                <div id="addmore">
                                    <div class="row">
                                    
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Session</label>
                                                <select name="schsession" id="schsession" class="form-control"  onchange="getItemBySession()">
                                                    <option value="">Select Session</option>
                                                    <% var option = [];
                                                    schsession.forEach(function(acdsession){ %>
                                                            <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                                    <% });%>
                                                </select>
                                                <!-- <input type="text" name="acdsession" rows="2" id="notice" class="form-control" placeholder="2012/2015" required> -->
                                                
                                            </div>
                                        </div>
                                       
                                        
                                    </div>
                                </div>
                                
                                <!-- <div style="float: right;">
                                    <button type="submit" id="button"  class="btn btn-primary">submit</button>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>

            
        </div>
    </div>
    
</div>



<%- include('../../../layouts/admin/footer') %>


<script>
    function getItemBySession() {
        var acdsession = $("#schsession").val();
        console.log(acdsession);

        document.location.href ="/admin/item/item_setup?acdsession="+acdsession;
    }
</script>