<%- include('../../../layouts/admin/head') %>
<%- include('../../../layouts/admin/nav') %>
<%- include('../../../layouts/admin/sidebars/payment') %>

<div class="main-panel">
    <div class="content">
      <div class="page-inner">
        <h4 class="page-title">Basic Setup</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="card card-with-nav">
              <div class="card-header">
                <div class="row row-nav-line">
                  
                  <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link home active " data-toggle="tab" href="#seesion" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"> Session Setup</span></a> </li>
                    <li class="nav-item"> <a class="nav-link profile " data-toggle="tab" href="#term" role="tab" aria-controls="profile" aria-selected="false">Term Setup</a> </li>
                    <li class="nav-item"> <a class="nav-link curent_term" data-toggle="tab" href="#curent_term" role="tab" aria-controls="curent_term" aria-selected="false">Current Term & Session</a> </li>
                    <li class="nav-item"> <a class="nav-link classsetup" data-toggle="tab" href="#classsetup" role="tab" aria-controls="classsetup" aria-selected="false">Class Setup</a> </li>
                    <li class="nav-item"> <a class="nav-link feeitem" data-toggle="tab" href="#feeitem" role="tab" aria-controls="feeitem" aria-selected="false">Fee Item</a> </li>
                    <li class="nav-item"> <a class="nav-link fee" data-toggle="tab" href="#fee" role="tab" aria-controls="fee" aria-selected="false">Fee Setup</a> </li>
                    <li class="nav-item"> <a class="nav-link currency" data-toggle="tab" href="#currency" role="tab" aria-controls="currency" aria-selected="false">Currency Setup</a> </li>
                    <li class="nav-item"> <a class="nav-link account" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Account Setup</a> </li>
                  </ul>
                </div>
              </div>
              <%- messages('messages', locals) %>
              <div  class="tab-content"  >
                  <div class="tab-pane fade show active" id="seesion">
                      <div class="card-body">										
                        <button class="btn btn-primary  ml-auto" data-toggle="modal" data-target="#addRowModal">
                            <i class="fa fa-plus"></i>
                            add session
                        </button> <br><br>
                        <div class="table-responsive">
                          <table id="basic-datatables" class="display  table-striped table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">Session</th>
                                    <th scope="col">Action</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                               <% schsession.forEach(function(acdsession){ %>
                                <tr>
                                    <td><%= acdsession.acdsession %></td>
                                    <td>
                                        <div class="form-button-action">
                                            <a href="/admin/setup_edit?applicantno=<%= acdsession.id%>" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a  href="/admin/setup_delete?applicantno=<%= acdsession.id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger confirmdelete" data-original-title="Edit Info">
                                                
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <% });%>
                            </tbody>
                        </table>
                        </div>
                        
                        
                      </div>
                  </div>
                  <div  class="tab-pane fade " id="term" role="tabpanel" aria-labelledby="line-home-tab" >
                    <div class="card-body">
                      <button class="btn btn-primary  ml-auto" data-toggle="modal" data-target="#addterm">
                        <i class="fa fa-plus"></i>
                        Add Term
                      </button> <br><br>
                      <div class="table-responsive">
                        <table id="basic-datatables" class="display  table-striped table-hover" width="100%">
                          <thead>
                              <tr>
                                  <th>term</th>
                                  <th>sesion</th>
                                  <th>term begins</th>
  
                                  <th>term ends</th>
                                  <th>term name</th>
                                  <th>No Of times Open</th>
                                  <th>action</th>
                              </tr>
                          </thead>
                          
                          <tbody>
                              <% terms.forEach(function(term){%>
                              <tr>
                                  <td><%= term.term%> </td>
                                  <td><%= term.session%> </td>
                                  <td><%= term.term_begins.toDateString()%> </td>
                                  <td><%= term.term_ends.toDateString()%> </td>
                                  <td><%= term.term_name%> </td>
                                  <td><%= term.no_of_times_opened%> </td>
                                  <td>
                                      <div class="form-button-action">
                                          <a href="/admin/setting/term_setup/edit?setting_term_id=<%= term.setup_id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                              <i class="fa fa-edit"></i>
                                          </button>
                                          <a href="/admin/setting/term_setup/delete?setting_term_id=<%= term.setup_id%>" data-toggle="tooltip" title="" class="btn btn-link confirmdelete btn-danger" data-original-title="Remove Student">
                                              <i class="fa fa-times"></i>
                                          </button>
                                      </div>
                                  </td>
                              </tr>
                              <%});%>
                              
                              
                          </tbody>
                       </table>
                      </div>
                      
                    </div>
                  </div>

                  <div class="tab-pane fade " id="curent_term" role="tabpanel" aria-labelledby="line-home-tab" >
                    <div class="card-body">
                     
                      <button class="btn btn-primary  ml-auto" data-toggle="modal" data-target="#currenttermsession">
                        <i class="fa fa-plus"></i>
                          add Current Term & Session
                      </button> <br><br>
                      <table class=" table-striped " width="100%">
                          <thead>
                              <tr>
                                  <th scope="col">Plan</th>
                                  <th scope="col">Action</th>
                                
                              </tr>
                          </thead>
                          <tbody>
                            
                          </tbody>
                      </table>
                    </div>
                  </div>

                  <div  class="tab-pane fade " id="classsetup" role="tabpanel" aria-labelledby="line-home-tab" >
                    <div class="card-body">
                     
                      <button class="btn btn-primary  ml-auto" data-toggle="modal" data-target="#addclass">
                        <i class="fa fa-plus"></i>
                        add Class
                    </button><br><br>
                    <div class="table-responsive">
                      <table id="basic-datatables" class="display table-striped table-hover" width="100%" >
                        <thead>
                            <tr>
                                <th>CLASS NAME</th>
                                <th>CLASS CATEGORIES</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            <% classt.forEach(function(clss){%>
                                <tr>
                                    <td><%= clss.className%> </td>
                                    <td><%= clss.schoolCategory%> </td>
                                    <td>
                                        <div class="form-button-action">
                                            <a href="/admin/classes_edit?class_id=<%= clss.Id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <a href="/admin/classes_delete?class_id=<%= clss.Id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger confirmdelete" data-original-title="Remove Student">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <%});%>
                            
                        </tbody>
                      </table>
                    </div>
                    
                    </div>
                  </div>

                  <div  class="tab-pane fade " id="feeitem" role="tabpanel" aria-labelledby="line-home-tab" >
                    <div class="card-body">
                     
                      <button class="btn btn-primary  ml-auto" data-toggle="modal" data-target="#addfeeItem">
                        <i class="fa fa-plus"></i>
                        Add Fee Item
                    </button><br><br>
                    <div class="table-responsive">
                      <table id="basic-datatables" class="display table-striped table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>Fee Item</th>
                                <th>Item Type</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% paymentitems.forEach(function(item) {%>
                            <tr>
                                <td><%= item.items%> </td>
                                <td><%= item.acdsession%> </td>
                                <td><% if(item.options == 1){ %>
                                  General 
                                  <%} else if(item.options == 2) {%> 
                                    On Request
                                  <%} %> 
                                </td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="/admin/setup/pyment_item_setup_edit?class_id=<%= item.Id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <a href="/admin/setup/pyment_item_setup_delete?class_id=<%= item.Id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger confirmdelete" data-original-title="Remove Student">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <%});%>
                            
                        </tbody>
                      </table>
                    </div>
                    
                    </div>
                  </div>

                  <div  class="tab-pane fade " id="fee" role="tabpanel" aria-labelledby="line-home-tab" >
                    <div class="card-body">
                     
                      <button class="btn btn-primary  ml-auto" data-toggle="modal" data-target="#addfee">
                        <i class="fa fa-plus"></i>
                        Add Fee 
                    </button><br><br>
                    <div class="table-responsive">
                      <table id="basic-datatables" class="display table-striped table-hover" width="100%" >
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Term</th>
                                <th>Item</th>
                                <th>Item Levels</th>
                                <th>Fee</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% settings.forEach(function(setting) {%>
                            <tr>
                                <td><%= setting.classname%> </td>
                                <td><%= setting.term%> </td>
                                <td><%= setting.item%></td>
                                <td><%= setting.options%></td>
                                <td><%= setting.amount%></td>
                                <td>
                                    <div class="form-button-action">
                                        <a href="/admin/setup/pyment_item_setup_edit?class_id=<%= setting.paymentsetup_id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <a href="/admin/setup/pyment_item_setup_delete?class_id=<%= setting.paymentsetup_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger confirmdelete" data-original-title="Remove Student">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <%});%>
                            
                        </tbody>
                    </table>
                    </div>
                    
                    </div>
                  </div>





            </div>
            
          </div>
            
            
          </div>
         
        </div>
      </div>
    </div>
    
  </div>

  <!-- modals -->
  <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                   Session
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/settings/subject_setup" method="post" >
                    <div class="form-group">
                        <label for="comment">Session</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                            </div>
                            <input type="text" class="form-control" name="acdsession" id="acdsession" placeholder="2017/2018" required >
                        </div>
                    </div>
                    <div style="float: right;">
                        <button type="submit" id="sessionb" class="btn btn-primary">submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addterm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header ">
              <h5 class="modal-title" style="text-align: center;">
                 TERM SEUP
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form >
                <div class="row">
                  <div class="col-md-4">
                    <div class="">
                      <label for="comment"> TERM NAME</label>
                      <div class="input-group mb-3">
                          
                          <select name="term" id="term_n" class="form-control" onchange="getSecondV()">
                            <option value="">SELECT TERM</option>
                            <option value="FIRST">FIRST TERM</option>
                            <option value="SECOND">SECOND TERM</option>
                            <option value="THIRD">THIRD TERM</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="">
                      <label for="comment">SESSION</label>
                      <div class="input-group mb-3">
                          <select name="sesion" id="sesion" class="form-control" required>
                            <option value="">SELECT SESSION</option>
                            <% var option = [];
                            schsession.forEach(function(acdsession){ %>
                                <option value="<%= acdsession.id %>"><%= acdsession.acdsession %></option>
                            <% });%>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="">
                      <label for="comment">TERM ABRIVATION</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <input type="text" class="form-control" name="term_name" id="term_name" placeholder="e.g 1st, 2ND, 3TH " required disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label for="comment">TERM BEGING</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class="fas fa-calendar-alt"></i></span>
                          </div>
                          <input type="date" class="form-control" name="term_begins" id="term_begins"  required >
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <label for="comment">TERM END</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class="fas fa-calendar-alt"></i></span>
                          </div>
                          <input type="date" class="form-control" name="term_ends" id="term_ends" onchange="datess()" required >
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="">
                      <label for="comment">NUMBER OF DAYS OPENED</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class="far fa-edit"></i></span>
                          </div>
                          <input type="text" class="form-control" name="no_of_times_opened" id="no_of_times_opened" placeholder="e.g 60 " required >
                      </div>
                    </div>
                  </div>
                  
              </div>
                  
                  <div style="float: right;">
                      <button type="submit" id="termsetup" class="btn btn-primary">submit</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- add class -->
<div class="modal fade" id="addclass" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header ">
              <h5 class="modal-title" style="text-align: center;">
                 Class
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="/admin/create_and_view_classes" method="POST" >
                  <div class="form-group" id="addmore">
                      <label for="comment">SESSION</label>
                      
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class="flaticon-time"></i></span>
                          </div>
                          <select name="schCategory" id="schCategory" class="form-control" required>
                            <option value="">SELECT SESSION</option>
                            <% var option = [];
                            categories.forEach(function(acdsession){ %>
                                <option value="<%= acdsession.schoolcategoryid %>"><%= acdsession.schoolCategory %></option>
                            <% });%>
                        </select>
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                        </div>
                        <input type="text" name="className[]" class="form-control" placeholder="E.G Nursery One">
                        <button type="button" name="add" id="add" class="btn btn-success"><i class="flaticon-add"></i></button>
                      </div>
                  </div>
                  <div style="float: right;">
                      <button type="submit" id="clsss" class="btn btn-primary">submit</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="addfeeItem" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header ">
              <h5 class="modal-title" style="text-align: center;">
                 Session
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form action="/admin/settings/subject_setup" method="post" >
                  <div class="form-group row">
                    <div class="col-6">
                      <label for="comment">Fee Item</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <input type="text" class="form-control" name="item" id="item" placeholder="School Fee" required >
                      </div>
                      
                    </div>
                    <div class="col-6">
                      <label for="comment">Fee Item Level</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <select name="itemlevel" id="itemlevel" class="form-control">
                            <option value="">Select Item Level</option>
                            <option value="1">General</option>
                            <option value="2">On Request</option>
                          </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="comment">Session</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <select name="acds" id="acds" class="form-control" required>
                            <option value="">SELECT SESSION</option>
                            <% var option = [];
                            schsession.forEach(function(acdsession){ %>
                                <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                            <% });%>
                        </select>
                      </div>
                    </div>
                    
                  </div>
                  <div style="float: right;">
                      <button type="submit" id="payitem" class="btn btn-primary">submit</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="addfee" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header ">
              <h5 class="modal-title" style="text-align: center;">
                 Fee
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form >
                  <div class="form-group row">
                    <div class="col-6">
                      <label for="comment">Term</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <select name="trm" id="trm" class="form-control" onchange="getSecondV()">
                            <option value="">SELECT TERM</option>
                            <% var option = [];
                            terms.forEach(function(term){ %>
                                <option value="<%= term.setup_id %>"><%= term.term %></option>
                            <% });%>
                          </select>
                      </div>
                      
                    </div>
                    <div class="col-6">
                      <label for="comment">Class</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <select name="clname" id="clname" class="form-control">
                            <option value="">SELECT CLASS</option>
                            <% var option = [];
                            classt.forEach(function(cll){ %>
                                <option value="<%= cll.className %>"><%= cll.className %></option>
                            <% });%>
                          </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="comment">Fee Item</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <select name="feeitm" id="feeitm" class="form-control" required>
                            <option value="">SELECT ITEM</option>
                            <% var option = [];
                            paymentitems.forEach(function(item){ %>
                                <option value="<%= item.items %>"><%= item.items %></option>
                            <% });%>
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="comment">Amount</label>
                      <div class="input-group ">
                          <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                          </div>
                          <input type="text" class="form-control" name="amount" id="amount" placeholder="School Fee" required >
                      </div>
                    </div>
                    
                  </div>
                  <div style="float: right;">
                      <button type="submit" id="paymetset" class="btn btn-primary">submit</button>
                      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<%- include('../../../layouts/admin/footer') %>
<script >
   
    $('sessionb').click(function(event) {
        event.preventDefault();
        var sessions = $('#acdsession').val();
        $.ajax({
            url: "/admin/setup/session_setup",
            method: "POST",
            dataType: "json",
            data: {
              acdsession: sessions
            },
            success: function(response) {
                if (response.msg == "successful"){
                  Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                  })
                  $('.home').removeClass('active')
                  $('.profile').addClass('active');
                } else {
                  Swal.fire({
                    title: response.msg,
                    showClass: {
                      popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                      popup: 'animate__animated animate__fadeOutUp'
                    }
                  })
                }
            }
        })
    })

    function getSecondV(){
      var term = $('#term_n').val();
      if (term == "FIRST"){
        $('#term_name').val("1ST");
      } else if (term == "SECOND") {
        $('#term_name').val("2ND");
      } else if (term == "THIRD"){
        $('#term_name').val("3TH");
      } else {
        $('#term_name').val("");
      }
    }

    function datess() {
      var d1 = $("#term_begins").val();
      var d2 = $("#term_ends").val();
    // Copy date objects so don't modify originals
    var s = new Date(d1);
    var e = new Date(d2);

    // Set time to midday to avoid dalight saving and browser quirks
    s.setHours(12,0,0,0);
    e.setHours(12,0,0,0);

    // Get the difference in whole days
    var totalDays = Math.round((e - s) / 8.64e7);

    // Get the difference in whole weeks
    var wholeWeeks = totalDays / 7 | 0;

    // Estimate business days as number of whole weeks * 5
    var days = wholeWeeks * 5;

    // If not even number of weeks, calc remaining weekend days
    if (totalDays % 7) {
      s.setDate(s.getDate() + wholeWeeks * 7);
      
      while (s < e) {
        s.setDate(s.getDate() + 1);

        // If day isn't a Sunday or Saturday, add to business days
        if (s.getDay() != 0 && s.getDay() != 6) {
          ++days;
        }
      }
    }
    $("#no_of_times_opened").val(days);
    }
    // term setup 
    $('#termsetup').click(function(event) {
        event.preventDefault();
        var term = $('#term_n').val(); 
        var sesion = $('#sesion').val();
        var term_name = $('#term_name').val();
        var term_begins = $('#term_begins').val();
        var term_ends = $('#term_ends').val();
        var no_of_times_opened = $('#no_of_times_opened').val();
        console.log(term+" "+term_name )
        $.ajax({
            url: "/admin/setting/term_setup",
            method: "POST",
            dataType: "json",
            data: {
              term:term,
              sesion:sesion,
              term_name:term_name,
              term_begins:term_begins,
              term_ends:term_ends,
              no_of_times_opened:no_of_times_opened,
            },
            success: function(response) {
                if (response.msg == "successful"){
                  Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                  })
                } else {
                  Swal.fire({
                    title: response.msg,
                    showClass: {
                      popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                      popup: 'animate__animated animate__fadeOutUp'
                    }
                  })
                }
            }
        })
    })
    $(document).ready(function(){
     var i = 1;
     $('#add').click(function(){
         i++;
         $('#addmore').append(`

         <div class="input-group mb-3" id="row${i}">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
            </div>
            <input type="text" name="className[]" class="form-control" placeholder="E.G Nursery One">
            <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
          </div>
         
      `);
     });
     
     $(document).on('click', '.btn_remove', function(){
         var button_id = $(this).attr("id"); 
         $('#row'+button_id+'').remove();
     });
});


$('#payitem').click(function(event) {
        event.preventDefault();
        var item = $('#item').val();
        var itemlevel = $('#itemlevel').val();
        var acdsession = $('#acds').val();
        console.log(item +" "+itemlevel +" "+acdsession)
        $.ajax({
            url: "/admin/setup/pyment_item_setup",
            method: "POST",
            dataType: "json",
            data: {
              item: item,
              itemlevel: itemlevel,
              acdsession:acdsession
            },
            success: function(response) {
                if (response.msg == "successful"){
                  Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                  })
                } else {
                  Swal.fire({
                    title: response.msg,
                    showClass: {
                      popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                      popup: 'animate__animated animate__fadeOutUp'
                    }
                  })
                }
            }
        })
    })
 
  
$('#paymetset').click(function(event) {
    event.preventDefault();
    var term = $('#trm').val();
    var className = $('#clname').val();
    var feeitm = $('#feeitm').val();
    var amount = $('#amount').val();
    console.log(term +" "+className +" "+feeitm+" "+amount)
    $.ajax({
        url: "/admin/setup/payment_fee_settings",
        method: "POST",
        dataType: "json",
        data: {
          item: item,
          className: className,
          feeitm:feeitm,
          amount:amount
        },
        success: function(response) {
            if (response.msg == "successful"){
              Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
              })
            } else {
              Swal.fire({
                title: response.msg,
                showClass: {
                  popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                  popup: 'animate__animated animate__fadeOutUp'
                }
              })
            }
        }
    })
})
</script>

