<%- include('../../../layouts/admin/head') %>
<%- include('../../../layouts/admin/nav') %>
<%- include('../../../layouts/admin/sidebars/payment') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                <%- messages('messages', locals) %>
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> 
                      <span class="btn-label just-icon"> Update Session</span></a> </li>
                 
                </ul>
              </div>
            </div>
            <div  class="tab-content"  >
                <div class="tab-pane fade show active" id="home">
                    <div class="card-body">
                        <form action="/admin/setup_edit?applicantno=<%= ses.id%>" method="post" >
                            <div class="form-group">
                                <label for="comment">Session</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1" style="border: 1px;"><i class=" flaticon-pen"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="acdsession" id="acdsession" placeholder="2017/2018" value="<%= ses.acdsession%>" required >
                                </div>
                                <div style="float: right;">
                                    <button type="submit" id="sessionb" class="btn btn-primary">submit</button>
                                </div>
                            </div>
                            
                            <div class="form-group"></div> 
                        </form>

                    </div>
                </div>
                
               
          </div>
          
        </div>
          
          
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<%- include('../../../layouts/admin/footer') %>