<%- include('../../../layouts/admin/head') %>
<%- include('../../../layouts/admin/nav') %>
<%- include('../../../layouts/admin/sidebars/payment') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title">User Profile</h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                <%- messages('messages', locals) %>
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Profile</span></a> </li>
                 
                </ul>
              </div>
            </div>
            <div  class="tab-content"  >
                <div class="tab-pane fade show active" id="home">
                    <div class="card-body">
                        <form action="/admin/payment/settings/update?payment_setup=<%= idsetup %>" method="post" >
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Item Name</label>
                                        <input type="text" name="item" id="item" value="<%= settings.item %>"  class="form-control" placeholder="e.g School fees">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Amount</label>
                                        <input type="number" name="amount" id="amount" value="<%= settings.amount %>" class="form-control" placeholder="e.g 500000">
                                    </div>
                                </div>
                                <div class="col-sm-12  row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>Payment Option </label>
                                            <select name="options" class="form-control" id="">
                                                <option value="<%= settings.options %>">
                                                    <% if(settings.options == 1){%>
                                                        Compulsory Fee
                                                    <%} else {%>
                                                        Optional Fee
                                                    <%}%>
                                                </option>
                                                <option value="1">Compulsory</option>
                                                <option value="2">Optional</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>ACADEMIC SESSIONS</label>
                                            <select name="sesion" class="form-control" id="">
                                                <option value="<%= settings.sesion_id %>"><%= settings.acdsession %></option>
                                                <% term_session.forEach(function(session){%>
                                                <option value="<%= session.id %>"><%= session.acdsession %></option>
                                                <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-12 row">
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>TERM</label>
                                            <select name="setup_id" class="form-control" id="">
                                                <option value="<%= settings.setup_id %>"><%= settings.term %></option>
                                                <% terms.forEach(function(term){%>
                                                <option value="<%= term.setup_id %>"><%= term.term_name %> <%= term.term %> </option>
                                                <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-group-default">
                                            <label>CLASS</label>
                                            <select name="class_id" class="form-control" id="">
                                                <option value="<%= settings.class_id %>"><%= settings.className %> </option>
                                                <% classt.forEach(function(CLSS){%>
                                                <option value="<%= CLSS.Id %>"><%= CLSS.className %></option>
                                                <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>gradebook columns title</label>
                                        <input type="text" name="gradebook_columns_title" id="gradebook_columns_title" class="form-control" placeholder="e.g First Term">
                                    </div>
                                </div> -->
                                <div class="col-sm-12">
                                    <button type="submit" style="float: right;"  class="btn ">Update</button>
                                </div>
                            </div>
                           
                            
                            
                            
                            
                        </form>
                    </div>
                </div>
                
               
          </div>
          
        </div>
          
          
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<%- include('../../../layouts/admin/footer') %>