<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/staff_management') %>
<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Staffs record</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Staff record</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add new staff
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>Activity</th>
                                            <th>yearOfEntry</th>
                                            <th>yearOfGraduation</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>Activity</th>
                                            <th>Entry Year</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        <% applicant.forEach(function(applicant){%>
                                        <tr>
                                            <td><%= applicant.title%> </td>
                                            <td><%= applicant.surname%> <%= applicant.firstname%> <%= applicant.middlename%></td>
                                            <td><%= applicant.gender%></td>
                                            <td><%= applicant.dateofbirth%></td>
                                            <td><%= applicant.activity%></td>
                                            <td><%= applicant.date_Of_Entry%></td>
                                            <td><%= applicant.personal_phone_no%></td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/admin/aplicant_profile?applicantno=<%= applicant.staff_reg_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a  href="/admin/aplicant_update_details?applicantno=<%= applicant.staff_reg_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a href="/admin/aplicant_update_details?applicantno=<%= applicant.staff_reg_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Delete">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    Applicant </span> 
                    <span class="fw-light">
                        Registration Form.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/aplicant_registration" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group form-group-default">
                                <label>Title</label>
                               <select name="title" id="title" class="form-control" required>
                                   <option value="">SELECT TITLE</option>
                                   <% var option=[]
                                     titles.forEach(function(title){  %>
                                        <option value="<%= title.id%>"><%= title.titleName%></option>
                                    <%});%>
                               </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-default">
                                <label>Surname</label>
                                <input id="surname" name="surname" type="text" class="form-control" placeholder="e.g Paul">
                            </div>
                        </div>
                        <div class="col-md-3 pr-0">
                            <div class="form-group form-group-default">
                                <label>First Name</label>
                                <input id="firstname" name="firstname" type="text" class="form-control" placeholder="e.g Jude">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-default">
                                <label>Middle Name</label>
                                <input id="middlename" name="middlename" type="text" class="form-control" placeholder="e.g Ikwobe">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group form-group-default">
                                <label>Date Of Birth</label>
                                <input id="dateofbirth" name="dateofbirth" type="date" class="form-control" placeholder="e.g 22/04/1997">
                            </div>
                        </div>
                        <div class="col-md-3 pr-0">
                            <div class="form-group form-group-default">
                                <label>Gender</label>
                                <select name="gender" id="gender" class="form-control">
                                    <option value="">CHOOSE GENDER</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-default">
                                <label>Email</label>
                                <input id="email" name="email" type="email" class="form-control" placeholder="e.g info@schoolmaster.com">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-default">
                                <label>Phone Number</label>
                                <input id="personal_phone_no" name="personal_phone_no" type="number" class="form-control" placeholder="e.g 0900 000 0000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>activity</label>
                                <select name="activity" id="activity" class="form-control" required>
                                    <option value="">SELECT ACTIVITY</option>
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>designation</label>
                                <select name="designation" id="designation" class="form-control" required>
                                    <option value="">CHOOSE DESIGNATION</option>
                                    <% designations.forEach(function(designation){%>
                                        <option value="<%= designation.designation%>"><%= designation.designation%></option>
                                    <%});%>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>date_Of_Entry</label>
                                <input id="date_Of_Entry" name="date_Of_Entry" type="date" class="form-control" placeholder="e.g 2003-11-21">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>Area of Specialization</label>
                                <input id="specialization" name="specialization" type="text" class="form-control" placeholder="e.g Software Development" required>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>Highest Qualification</label>
                                <input id="highest_qualification" name="highest_qualification" type="text" class="form-control" placeholder="e.g Bsc./HND/OND etc. ">
                            </div>
                        </div>
                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>Year Of Qualification</label>
                               <input name="qualification_year" id="qualification_year" type="number" class="form-control" maxlength="4"  placeholder="e.g 2013" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>Home Address</label>
                                <input id="home_address" name="home_address" type="text" class="form-control" placeholder="e.g Afab Estate house 10 life camp, Abuja FCT" required>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>photo</label>
                                <input  type="file" id="photo" name="photo" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>Kin Name(s)</label>
                                <input type="text" id="kin_name" name="kin_name" class="form-control" placeholder="e.g Jimmy John" required>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>Kin Phone</label>
                                <input type="number" id="kin_phone"  name="kin_phone" class="form-control" placeholder="e.g 0810 000 0000">
                            </div>
                        </div>
                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>Kin Address</label>
                               <textarea name="kin_address" id="kin_address" class="form-control"  placeholder="House 18 danmunde estate" required></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="addStaff" class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>