
<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/staff_management') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title">User Profile</h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                <%- messages('messages', locals) %>
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Profile</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Academic</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Assigned</a> </li>
                </ul>
              </div>
            </div>
            <div  class="tab-content"  >
                <div class="tab-pane fade show active" id="home">
                    <div class="card-body">
                      <form>
                        <div class="row mt-3">
                          <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>First Name</label>
                                <input type="hidden" name="staff_id" id="staff_id" value="<%= staff.staff_reg_id %>">
                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" value="<%= staff.firstname %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Middle Name</label>
                                <input type="email" class="form-control" name="middlename" id="middlename" placeholder="Middle Name" value="<%= staff.middlename %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Surname</label>
                                <input type="text" class="form-control" name="surn" id="surn" placeholder="Surname" value="<%= staff.surname %>">
                              </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Birth Date</label>
                              <input type="text" class="form-control" id="dateofbirth" name="dateofbirth" value="<%= staff.dateofbirth %>" placeholder="Birth Date">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Gender</label>
                              <select class="form-control" id="gender">
                               <option value="<%= staff.gender %>" selected><%= staff.gender %></option>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>

                          </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>personal phone no</label>
                              <input type="number" class="form-control" id="personal_phone_no" name="personal_phone_no" value="<%= staff.personal_phone_no %>" placeholder="e.g 08100000000">
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3 mb-1">
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Address</label>
                              <input type="text" class="form-control" id="home_address" name="home_address" value="<%= staff.home_address %>" placeholder="">
                            </div>
                          </div>
                         
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Email </label>
                              <input type="text" class="form-control" name="email_address" id="email_address" value="<%= staff.email_address%>"  placeholder="name@gmail.com">
                              
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>kins Name</label>
                              <input type="text" class="form-control" value="<%= staff.kin_name%>" name="kin_name" id="kin_name" placeholder="Next Of Kins Name">
                              
                            </div>
                          </div>
                        </div>
                    
                        <div class="row mt-3">
                          <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Kins Phone</label>
                              <input type="text" class="form-control" value="<%= staff.kin_phone%>" name="kin_phone" id="kin_phone" placeholder="Next Of Kins Phone">
                              
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="form-group form-group-default">
                              <label>Kins Address</label>
                              <textarea class="form-control" name="kin_address" id="kin_address" placeholder="Kin's Address" ><%= staff.kin_address%></textarea>
                            </div>
                          </div>
                        </div>
                        
                        <div class="text-right mt-3 mb-3">
                          <button class="btn btn-primary" id="button1">Save Changes</button>
                        </div>
                      </form>
                    </div>
                </div>
                <div  class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                    <form action="">
                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>highest qualification</label>
                            <input type="hidden" name="staff_id" id="staff_id" value="<%= staff.staff_reg_id %>">
                            <input type="text" class="form-control" id="highest_qualification" name="highest_qualification" value="<%= staff.highest_qualification %>" placeholder="e.g Second degree">
                          </div>
                        </div>
                        
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>qualification year</label>
                              <input type="text" class="form-control" id="qualification_year" name="qualification_year" placeholder="e.g 2010" value="<%= staff.qualification_year %>">
                            </div>
                          </div>
                         
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>specialization</label>
                            <input type="text" class="form-control" name="specialization" id="specialization" placeholder="Teacher" value="<%= staff.specialization %>">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>designation</label>
                            <input type="text" class="form-control" value="<%= staff.designation %>" name="designation" id="designation" placeholder="e.g Principal">
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="text-right mt-3 mb-3">
                        <button class="btn btn-success" id="button2">Save Changes</button>
                        <!-- <button class="btn btn-danger">Reset</button> -->
                      </div>
                    </form>
                  </div>
                </div>
                <div  class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                   
                    <form action="/admin/update_staff_passport?staffid=<%= staff.staff_reg_id %>" method="POST" enctype="multipart/form-data">
                       
                      <div class="row mt-3">
                        <div class="col-md-8">
                          <div class="form-group form-group-default">
                            <label>Passport </label>
                            <input type="file" class="form-control" id="ProductImage" name="student_image" accept="image/png, image/gif, image/jpeg" required placeholder="">
                            
                          </div>
                          <img src="#" class="avatar-img rounded-circle" id="imgPreview" alt="User Image">
                        </div>
                        <div class="col-md-4 mt-3">
                          <button class="btn btn-success" >Upload</button>
                        </div>
                      </div>
                      
                     
                    </form>
                  </div>
                </div>
          </div>
          
        </div>
          
          
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-secondary">
            <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
              <div class="profile-picture">
                <div class="avatar avatar-xl">
                  <% if (staff.photo == "" || staff.photo == null){%>
                    <img src="/avata.png" alt="..." class="avatar-img rounded-circle">
                    <% } else {%>
                  <img src="/<%= staff.photo%>" alt="..." class="avatar-img rounded-circle">
                  <%}%>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="user-profile text-center">
                <div class="name"><%= staff.firstname %>  <%= staff.middlename %> <%= staff.surname %></div>
                <div class="job"><%= staff.designation %>
                </div>
                <div class="social-media">
                  <a class="btn btn-staff btn-twitter btn-sm btn-link" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                  </a>
                  <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span> 
                  </a>
                </div>
                <!-- <div class="view-profile">
                  <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
                </div> -->
              </div>
            </div>
            <div class="card-footer">
              <!-- <div class="row user-stats text-center">
                <div class="col">
                  <div class="number">125</div>
                  <div class="title">Boys</div>
                </div>
                <div class="col">
                    <div class="number">125</div>
                    <div class="title">Girls</div>
                  </div>
                <div class="col">
                  <div class="number">250</div>
                  <div class="title">Total</div>
                </div>
               
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<%- include('../../layouts/admin/footer') %>
<script>
  function readURL(input) {
    if(input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e){
        $("#imgPreview").attr('src', e.target.result).width(100).height(100);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $('#ProductImage').change(function(){
    readURL(this);
  });

$("#button1").click(function (e) {
    e.preventDefault();
    
   
    var firstname = $("#firstname").val();
    var surname = $("#surn").val();
    var middlename = $("#middlename").val();
    var email_address = $("#email_address").val();
    var personal_phone_no = $("#personal_phone_no").val();
    var dateofbirth = $("#dateofbirth").val();
    var gender = $("#gender").val();  
    var kin_name = $("#kin_name").val();
    var kin_phone = $("#kin_phone").val();
    var home_address = $("#home_address").val();
    var kin_address = $("#kin_address").val();
    var staff_id = $("#staff_id").val();
     console.log(surname)
    $.ajax({
      url: "/admin/update_staff_personal_info",
      method: "POST",
      cache: false,
      dataType:'json',
      // timeout: 3000,
      data: {
        firstname: firstname,
        surname: surname,
        middlename: middlename,
        email_address: email_address,
        personal_phone_no: personal_phone_no,
        dateofbirth: dateofbirth,
        gender: gender,
        kin_name: kin_name,
        kin_phone: kin_phone,
        home_address: home_address,
        kin_address: kin_address,
        staff_id:staff_id
      },
      success: function (response) {
          if (response.msg == "success") {
                Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Your request is successfully submited",
                showConfirmButton: false,
                timer: 5000,
                
                });
          } else {
            Swal.fire({
              position: "top-end",
              title: response.msg,
              showCancelButton: true,
             
            })
          }
        
      },
      error: function (e) {
        Swal.fire({
                position: "top-end",
                icon: "warning",
                title: e.message,
                showConfirmButton: false,
                timer: 5000,
                
            });
      },
    });
  });


  $("#button2").click(function (e) {
    e.preventDefault();
    var highest_qualification = $("#highest_qualification").val();
    var qualification_year = $("#qualification_year").val();
    var specialization = $("#specialization").val();
    var designation = $("#designation").val();
    
    var staff_id = $("#staff_id").val();
    $.ajax({
      url: "/admin/update_staff_acd_info",
      method: "POST",
      cache: false,
      dataType:'json',
      data: {
        specialization: specialization,
        qualification_year: qualification_year,
        highest_qualification: highest_qualification,
        designation: designation,
        staff_id: staff_id,
      },
      success: function (response) {
          if (response.msg == "success") {
                Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Your request is successfully submited",
                showConfirmButton: false,
                timer: 5000,
                
                });
          } else {
            Swal.fire({
              position: "top-end",
              title: response.msg,
              showCancelButton: true,
             
            })
          }
        
      },
      error: function (e) {
        Swal.fire({
            position: "top-end",
            icon: "warning",
            title: e.message,
            showConfirmButton: false,
            timer: 5000,
                
          });
      },
    });
  })


</script>
