
<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="/<%= parentInfo.photo%>" alt=".." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            <%= parentInfo.surname%>  <%= parentInfo.firstname%>  <%= parentInfo.middlename%>
                            <span class="user-level">Parent</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <% if (link == '/api/parents/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/api/parents/dashboard">
                            <i class="fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/api/parents/dashboard">
                                <i class="fas fa-tachometer-alt"></i>
                                <p>Dashboard</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                    <% }%>
               
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">LADS</h4>
                </li>
                
                
                <% if (link == '/api/parents/school_related_activity_center'){%>
                    <li class="nav-item active">
                        <a  href="/api/parents/school_related_activity_center">
                            <i class="fas flaticon-users text-danger"></i>
                            <p>View performance</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/api/parents/school_related_activity_center">
                            <i class="fas flaticon-users text-danger"></i>
                            <p>View performance</p>
                             <!-- <span class="caret"></span>  -->
                        </a>
                    </li>
                <% }%> 
                <li class="nav-item">
                    <a  href="#">
                        <i class="fas fa-book  text-warning"></i>
                        <p>Ward's Assignment</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a  href="#">
                        <i class="fas fa-users text-danger"></i>
                        <p>Ward's Daily Status</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a  href="#">
                        <i class="fas  fa-chart-line text-info"></i>
                        <p>Ward's Exam</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>
                <% if (link == '/api/parents/wards_result'){%>
                    <li class="nav-item active">
                        <a  href="/api/parents/wards_result">
                            <i class="fas  fa-folder text-success"></i>
                            <p>Ward's Result</p>
                            <!-- <span class="caret"></span> -->
                        </a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a  href="/api/parents/wards_result">
                            <i class="fas  fa-folder text-success"></i>
                            <p>Ward's Result</p>
                             <!-- <span class="caret"></span>  -->
                        </a>
                    </li>
                <% }%> 
                <li class="nav-item">
                <a  href="#">
                        <i class="fas fa-calendar text-info"></i>
                        <p>Events/news/programs</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>
                <li class="nav-item">
                <a  href="#">
                        <i class="fas fa-layer-group text-warning"></i>
                        <p>View Library</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>

                
               
               
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->