<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">social developemt</h4>
            <div class="row">
                <div class="col-md-9">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Work Habit</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/api/teachers/social_development" method="post" >
                                    <div class="row mt-3">
                                        <div class="col-md-4">
                                            <div class="form-group form-group-default">
                                                <label>Class</label>
                                                <select name="classname"  id="classname" class="form-control" onchange="getclass()" required>
                                                    <option value="">SELECT CLASS NAME</option>
                                                    <% var option=[]
                                                    classt.forEach(function(clss){  %>
                                                        <option value="<%= clss.Id%>"><%= clss.className%></option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-group-default">
                                                <label>STUDENTS</label>
                                                <select name="student"  id="student" class="form-control"  required>
                                                    <option value="">SELECT STUDENT</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
											<div class="form-group form-group-default">
												<label>TERM</label>
												<select class="form-control" name="term" id="term">
													<option value="First Term">First Term</option>
                                                    <option value="Second Term">Second Term</option>
                                                    <option value="Third Term">Third Term</option>
												</select>
											</div>
										</div>
                                    </div>
                                    <div class="row mt-3">
										<div class="col-md-4">
											<div class="form-group form-group-default">
												<label>SESSION</label>
												<select class="form-control" name="sesion" id="sesion">
													<option class="2018/2019">2018/2019</option>
													<option value="2019/2020">2019/2020</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group form-group-default">
												<label>is courteous </label>
												<input type="text" class="form-control" value="" name="is_courteous" id="is_courteous" placeholder="">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group form-group-default">
												<label>shows respect </label>
												<input type="text" class="form-control" value="" name="shows_respect" id="shows_respect" placeholder="">
											</div>
										</div>
                                    </div>
                                    
                                    <div class="row mt-3">
										<div class="col-md-4">
											<div class="form-group form-group-default">
												<label>self control </label>
												<input type="text" class="form-control" id="self_control" name="self_control" value="" placeholder="">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group form-group-default">
												<label>respond to correction </label>
												<input type="text" class="form-control" value="" name="respond_to_correction" id="respond_to_correction" placeholder="">
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group form-group-default">
												<label>relates to adults</label>
												<input type="text" class="form-control" value="" name="relates_to_adults" id="relates_to_adults" placeholder="">
											</div>
										</div>
                                    </div>
                                    <div class="text-right mt-3 mb-3">
										<button class="btn btn-info">add social developemt</button>
										<!-- <button class="btn btn-danger">Reset</button> -->
									</div>
                                   
                                
                                
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->
            <% if(count >= 1) {%>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="float: right;">
                            <h4 class="card-title">Multi Filter Select</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table  table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Class</th>
                                            <th>Student</th>
                                            <th>Term</th>
                                            <th>Sesion</th>
                                            <th>is courteous</th>
                                            <th>shows respect</th>
                                            <th>self control</th>
                                            <th>respond to correction</th>
                                            <th>relates to adults</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Class</th>
                                            <th>Student</th>
                                            <th>Term</th>
                                            <th>Sesion</th>
                                            <th>is courteous</th>
                                            <th>shows respect</th>
                                            <th>self control</th>
                                            <th>respond to correction</th>
                                            <th>relates to adults</th>
                                            <th>action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% social.forEach(function(sociald){%>
                                       <tr>
                                           <td><%= sociald.className%></td>
                                           <td><%= sociald.surname%> <%= sociald.firstname%> <%= sociald.middlename%></td>
                                           <td><%= sociald.term%></td>
                                           <td><%= sociald.sesion%></td>
                                           <td><%= sociald.is_courteous%></td>
                                           <td><%= sociald.shows_respect%></td>
                                           <td><%= sociald.self_control%></td>
                                           <td><%= sociald.respond_to_correction%></td>
                                           <td><%= sociald.relates_to_adults%></td>
                                           <td></td>
                                       </tr>
                                       <%});%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>

            <%} else {%>
            <%} %>
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>

<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getclass() {
  var classid = $("#classname").val();
  console.log(classid)
$('#loading-image').show();
  $.ajax({
    url: "/api/teachers/get_student_by_class/"+classid,
    method: "GET",
    success: function(response){
        getStudent(response)
        console.log(response)
    },
    complete: function(){
        $('#loading-image').hide();
      }
  })
}

function getStudent(result){
    if(result.length > 0){
		var html = "";
		html +='<option disabled selected value> SELECT STUDENT </option>';
		for(var a = 0; a < result.length; a++){
		  html +='<option value="'+result[a].student_reg_Id+'">'+result[a].surname+" "+result[a].firstname+" "+result[a].middlename+'</option>';
		}
		$('#student').html(html);
	  } else {
		var html = "";
		html +='<option disabled selected value>No Student Found</option>';
		$('#student').html(html);
	  }
}
</script>

<script >
    $(document).ready(function() {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>