<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Parents</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Parents record</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add new parent
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>DOB</th>
                                            <th>PHONE</th>
                                            <th>EMAIL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% parents.forEach(function(parent){%>
                                            <tr>
                                                <td><%= parent.title%></td>
                                                <td><%= parent.firstname%> <%= parent.middlename%> <%= parent.surname%></td>
                                                <td><%= parent.dob%></td>
                                                <td><%= parent.phone%></td>
                                                <td><%= parent.email%></td>
                                            </tr>
                                        <%});%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    Parent </span> 
                    <span class="fw-light">
                        Registration Form.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/parent_account/registration" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Title</label>
                               <select name="title" id="title" class="form-control" required>
                                   <option value="">SELECT TITLE</option>
                                   <% var option=[]
                                     titles.forEach(function(title){  %>
                                        <option value="<%= title.titleName%>"><%= title.titleName%></option>
                                    <%});%>
                               </select>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>Surname</label>
                                <input id="surname" name="surname" type="text" class="form-control" placeholder="e.g Paul">
                            </div>
                        </div>
                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>First Name</label>
                                <input id="firstname" name="firstname" type="text" class="form-control" placeholder="e.g Jude">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>Middle Name</label>
                                <input id="middlename" name="middlename" type="text" class="form-control" placeholder="e.g Ikwobe">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>email</label>
                                <input id="email" name="email" type="email" class="form-control" placeholder="e.g parentemail@gmail.com">
                            </div>
                        </div>
                        <div class="col-md-4 pr-0">
                            <div class="form-group form-group-default">
                                <label>phone No.</label>
                                <input id="user_phone" name="user_phone" type="number" class="form-control" placeholder="e.g 0813 576 8590">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-group-default">
                                <label>Date Of Birth</label>
                                <input id="dob" name="dob" type="date" class="form-control" placeholder="e.g 2003-11-21">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>Home Address</label>
                                <input id="home_address" name="home_address" type="text" class="form-control" placeholder="e.g Afab Estate house 10 life camp, Abuja FCT" required>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>photo</label>
                                <input  type="file" id="passp" name="passp" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="addStaff" class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>