<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/parents/sidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Search</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Search Lads Result</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <ol>
                                <% for (err1 of error){ %>
                                    <li class="text-warning"><%= err1.msg %></li>
                                <% } %> 
                            </ol>
                            
                            <%- messages('messages', locals) %>
                            <form action="/api/parents/wards_result" method="post">
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>lADS NAME</label>
                                            <select name="lads_name"  id="lads_name" class="form-control"  required>
                                                <option value="">SELECT LAD </option>
                                                <% var option=[]
                                                  lads.forEach(function(lad){  %>
                                                     <option value="<%= lad.studentId%>"><%= lad.surname%> <%= lad.firstname%> <%= lad.middlename%></option>
                                                 <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Session </label>
                                            <select name="schsession" class="form-control" id="schsession" required>
                                                <option value="">Select Session</option>
                                                <% var option = [];
                                                schsession.forEach(function(acdsession){ %>
                                                        <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Term</label>
                                            <select name="term_id" id="term_id" class="form-control" required>
                                                <option value="">SELECT TERM </option>
                                                <% var option = [];
                                                terms.forEach(function(term){ %>
                                                    <option value="<%= term.setup_id %>"><%= term.term %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Class</label>
                                            <select name="cls_id" id="cls_id" class="form-control" required>
                                                <option value="">SELECT CLASS NAME </option>
                                                <% var option = [];
                                                classt.forEach(function(clas){ %>
                                                    <option value="<%= clas.schoolclass_id %>"><%= clas.className %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div style="float: right;">
                                        <button type="submit"class="btn btn-primary">submit</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->

         
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>

