<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/settings') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Class</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">create class</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add Class
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>CLASS NAME</th>
                                            <th>CLASS CATEGORIES</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <% classt.forEach(function(clss){%>
                                            <tr>
                                                <td><%= clss.className%> </td>
                                                <td><%= clss.schoolCategory%> </td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <a href="/admin/classes_edit?class_id=<%= clss.Id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <a href="/admin/classes_delete?class_id=<%= clss.Id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger confirmdelete" data-original-title="Remove Student">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%});%>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    CLASS </span> 
                    <span class="fw-light">
                        SETUP.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/create_and_view_classes" method="post"  >
                  <div id="addmore">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group form-group-default">
                                <label>School Categories</label>
                                <select name="schCategory" id="sesion" class="form-control" required>
                                    <option value="">SELECT Session</option>
                                    <% var option = [];
                                    categories.forEach(function(acdsession){ %>
                                        <option value="<%= acdsession.schoolcategoryid %>"><%= acdsession.schoolCategory %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group form-group-default">
                                <label>Class Name</label>
                                <input type="text" name="className[]" class="form-control" placeholder="E.G Nursery One">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" name="add" id="add" class="btn btn-success">Add</button>
                            
                        </div>
                    </div>
                  </div>
                    
                    
                    <button type="submit"  class="btn ">submit</button>
                </form>
            </div>
            
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script>
    $(document).ready(function(){
   
     var revenue_name = $('#revenue_name').val();
    
   
       var i = 1;
       $('#add').click(function(){
           i++;
           $('#addmore').append(`
           <div class="row" id="row${i}">
                <div class="col-sm-5"> </div>
                <div class="col-sm-5">
                    <div class="form-group form-group-default">
                        <label>Class Name</label>
                        <input type="text" name="className[]" class="form-control" placeholder="E.G Nursery One">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
                </div>
            </div>
        `);
       });
       
       $(document).on('click', '.btn_remove', function(){
           var button_id = $(this).attr("id"); 
           $('#row'+button_id+'').remove();
       });

       
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>