<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/settings') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Seesion Setup</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Session Setup</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add seesion setup
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Class Name</th>
                                            <th>Subjects</th>
                                            <th>Term</th>
                                            <th>Sassion</th>
                                            <th>Class Code</th>
                                            <th>School ID</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Class Name</th>
                                            <th>Subjects</th>
                                            <th>Term</th>
                                            <th>Sassion</th>
                                            <th>Class Code</th>
                                            <th>School ID</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% sessioons.forEach(function(sessioon){%>
                                        <tr>
                                            <td><%= sessioon.className%> </td>
                                            <td><%= sessioon.subjects%> </td>
                                            <td><%= sessioon.term%></td>
                                            <td><%= sessioon.sesion%></td>
                                            <td><%= sessioon.classCode%></td>
                                            <td><%= sessioon.schoolId%></td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="<%= sessioon.schoolId%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="<%= sessioon.schoolId%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    Applicant </span> 
                    <span class="fw-light">
                        Registration Form.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/settings/accademic_session_setup" method="post" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>class Name</label>
                                <select name="className" id="className" class="form-control" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classess.forEach(function(cl){ %>
                                        <option value="<%= cl.className %>"><%= cl.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group form-group-default">
                                <label>Subject</label>
                                <select name="subjects" id="subjects" class="form-control" required>
                                    <option value="">SELECT Subject</option>
                                    <% var option = [];
                                    subjects.forEach(function(subject){ %>
                                        <option value="<%= subject.subjectName %>"><%= subject.subjectName %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group form-group-default">
                                <label>Term</label>
                                <select name="term" id="term" class="form-control" required>
                                    <option value="">SELECT Term</option>
                                    <% var option = [];
                                    terms.forEach(function(term){ %>
                                        <option value="<%= term.term %>"><%= term.term %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group form-group-default">
                                <label>Session</label>
                                <select name="sesion" id="sesion" class="form-control" required>
                                    <option value="">SELECT Session</option>
                                    <% var option = [];
                                    acdsession.forEach(function(acdsession){ %>
                                        <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group form-group-default">
                                <label>Class Code</label>
                                <input type="text" name="classCode" id="classCode" class="form-control" required />
                            </div>
                        </div>
                    </div>
                   
                    
                    
                   
                    <button type="submit"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>