<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/settings') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Teachers Setup</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">teachers Setup</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add 
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table  table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Name(s)</th>
                                            <th>Class Name</th>
                                            <th>Subject</th>
                                            <th>Term</th>
                                            <th>Session</th>
                                            
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name(s)</th>
                                            <th>Class Name</th>
                                            <th>Subject</th>
                                            <th>Term</th>
                                            <th>Session</th>
                                            
                                            <th>action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <%  staff.forEach(function(staff){ %>
                                            <% teachers.forEach(function(teacher){%>
                                                <% if (staff.staff_reg_id  == teacher.staff_reg_id) { %>  
                                                    <tr>
                                                        <td><%= staff.title %> <%= staff.surname %> <%= staff.firstname %> <%= staff.middlename %> </td>
                                                        <td><%= teacher.className%> </td>
                                                        <td><%= teacher.subjects%> </td>
                                                        <td><%= teacher.term%> </td>
                                                        <td><%= teacher.sesion%> </td>
                                                    
                                                        <td>
                                                            <div class="form-button-action">
                                                                <a href="/admin/settings/teacher_setup/edit?settingsid=<%= teacher.staff_setting_id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <a href="/admin/settings/teacher_setup/delete?settingsid=<%= teacher.staff_setting_id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger confirmdelete" data-original-title="Remove Student">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                <%}%>
                                            <%});%>
                                        <%});%>
                                       
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    teachers </span> 
                    <span class="fw-light">
                        Setup Form.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/settings/teacher_setup" method="post" >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>SELECT STAFF</label>
                                <select name="term" id="term" class="form-control" required>
                                    <option value="">SELECT Term</option>
                                    <% var option = [];
                                    terms.forEach(function(term){ %>
                                        <option value="<%= term.term %>"><%= term.term %> </option>
                                    <% });%>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>SELECT STAFF</label>
                                <select name="staff_reg_id" id="staff_reg_id" class="form-control" required>
                                    <option value="">SELECT STAFF</option>
                                    <% var option = [];
                                    staff.forEach(function(staff){ %>
                                        <option value="<%= staff.staff_reg_id %>"><%= staff.title %> <%= staff.surname %> <%= staff.firstname %> <%= staff.middlename %> </option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>SESSION</label>
                                <select name="sesion" id="sesion" class="form-control" required>
                                    <option value="">SELECT SESSION</option>
                                    <% var option = [];
                                    acdsession.forEach(function(session){ %>
                                        <option value="<%= session.acdsession %>"><%= session.acdsession %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>CLASS</label>
                                <select name="classname" id="sesion" class="form-control" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    schoolclass.forEach(function(sclass){ %>
                                        <option value="<%= sclass.className %>"><%= sclass.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>SUBJECTS</label>
                                <!-- <input type="text" name="subjects" id="subjects" class="form-control" required placeholder="e.g English Language">  -->
                                <select name="subjects" id="subjects" class="form-control" required>
                                    <option value="">SELECT SUBJECTS</option>
                                    <% var option = [];
                                    subjects.forEach(function(subject){ %>
                                        <option value="<%= subject.subjectName %>"><%= subject.subjectName %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>term name</label>
                                <input type="text" name="term_name" id="term_name" class="form-control" placeholder="e.g 1st " required>
                            </div>
                        </div>
                    </div> -->
                    
                    <button type="submit"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>