<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/settings') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <!-- <h4 class="page-title">Teachers Setup</h4> -->
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Update detail</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <%- messages('messages', locals) %>
                        </div>
                        <div class="card-body">
                            
                             <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                            <form action="/admin/settings/teacher_setup/edit?settingsid=<%= settingsid %>" method="post" >
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>SELECT STAFF</label>
                                            <select name="term" id="term" class="form-control" required>
                                                <% 
                                                terms.forEach(function(t){ %>
                                                    <% if (staff.term  == t.term) { %>  
                                                    <option value="<%= staff.term%>"><%= staff.term%></option>
                                                    <% }%>
                                                <% });%>
                                                <option value="">SELECT Term</option>
                                                <% var option = [];
                                                terms.forEach(function(term){ %>
                                                    <option value="<%= term.term %>"><%= term.term %> </option>
                                                <% });%>
                                            </select>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>SELECT STAFF</label>
                                            <select name="staff_reg_id" id="staff_reg_id" class="form-control" required>
                                                <% 
                                                teacher.forEach(function(staff){ %>
                                                    <% if (staff.staff_reg_id  == teacher.staff_reg_id) { %>  
                                                    <option value="<%= staff.staff_reg_id %>"><%= staff.surname %> <%= staff.firstname %> <%= staff.middlename %></option>
                                                    <% }%>
                                                <% });%>

                                                <% var option = [];
                                                teacher.forEach(function(staff){ %>
                                                    <option value="<%= staff.staff_reg_id %>"><%= staff.title %> <%= staff.surname %> <%= staff.firstname %> <%= staff.middlename %> </option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>SESSION</label>
                                            <select name="sesion" id="sesion" class="form-control" required>
                                                <%  acdsession.forEach(function(session){ %>
                                                    <% if (staff.sesion  == session.acdsession ) { %> 
                                                       <option value="<%= staff.sesion %>"><%= staff.sesion %></option>
                                                    <% }%>
                                                <% });%>
                                                <% var option = [];
                                                acdsession.forEach(function(session){ %>
                                                    <option value="<%= session.acdsession %>"><%= session.acdsession %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>CLASS</label>
                                            <select name="classname" id="sesion" class="form-control" required>
                                                <!-- <option value="">SELECT CLASS</option> -->
                                                <%  schoolclass.forEach(function(sclass){ %>
                                                    <% if (staff.className  == sclass.className ) { %> 
                                                       <option value="<%= staff.className %>"><%= staff.className %></option>
                                                    <% }%>
                                                <% });%>
                                                <% var option = [];
                                                schoolclass.forEach(function(sclass){ %>
                                                    <option value="<%= sclass.className %>"><%= sclass.className %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>SUBJECTS</label>
                                            
                                            <!-- <input type="text" name="subjects" id="subjects" class="form-control" required placeholder="e.g English Language">  -->
                                            <select name="subjects" id="subjects" class="form-control" required>
                                                <% subjects.forEach(function(subject){ %>
                                                    <% if (staff.subjectName  == subject.subjectName ) { %> 
                                                        <option value="<%= staff.subjectName %>"><%= staff.subjectName %></option>
                                                    <% }%>
                                                <% });%>

                                                <% var option = [];
                                                subjects.forEach(function(subject){ %>
                                                    <option value="<%= subject.subjectName %>"><%= subject.subjectName %></option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>term name</label>
                                            <input type="text" name="term_name" id="term_name" class="form-control" placeholder="e.g 1st " required>
                                        </div>
                                    </div>
                                </div> -->
                                <div style="text-align: center;">
                                    <button type="submit"   class="btn btn-primary">submit</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>