<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/settings') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Term</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Term Setup</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                            <%- messages('messages', locals) %>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <form action="/admin/setting/term_setup/edit?setting_term_id=<%= setting_term_id%>" method="post" >
                                    <!-- <form action="/admin/setting/term_setup" method="post" > -->
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-default">
                                                    <label>TERM NAME</label>
                                                    <input type="text" name="term" id="term" class="form-control" value="<%= term.term %>" placeholder="e.g First Term">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-default">
                                                    <label>ACD SESSION</label>
                                                    <select name="sesion" id="sesion" class="form-control" required>
                                                        <option value="<%= term.sesion %>"> <%= term.session %></option>
                                                        <% var option = [];
                                                        acdsession.forEach(function(acdsession){ %>
                                                            <% if(term.sesion == acdsession.id ) { %>
                                                            <% } else {%>
                                                            <option value="<%= acdsession.id %>"><%= acdsession.acdsession %></option>
                                                            <% }%>
                                                        <% });%>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-default">
                                                    <label>TERM ABRIVATION</label>
                                                    <input type="text" name="term_name" id="term_name" value="<%= term.term_name %>" class="form-control" placeholder="e.g 1st, 2ND, 3TH " required>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-default">
                                                    <label>term begins</label>
                                                    <input type="date" name="term_begins" id="term_begins" class="form-control" required>
                                                </div>
                                            </div>
                                        
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-default">
                                                    <label>term ends</label>
                                                    <input type="date" name="term_ends" id="term_ends" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-default">
                                                    <label>NUMBER OF DAYS OPENED</label>
                                                    <input type="text" name="no_of_times_opened" value="<%= term.no_of_times_opened %>" id="no_of_times_opened" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="float: right;">
                                            <button type="submit"  class="btn btn-primary">submit</button>
                                        </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>