<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/settings') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Term</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Term Setup</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    term setting
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>term</th>
                                            <th>sesion</th>
                                            <th>term begins</th>
                                            <th>term ends</th>
                                            <th>term name</th>
                                            <th>No Of times Open</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    
                                    <tbody>
                                        <% terms.forEach(function(term){%>
                                        <tr>
                                            <td><%= term.term%> </td>
                                            <td><%= term.session%> </td>
                                            <td><%= term.term_begins.toDateString()%> </td>
                                            <td><%= term.term_ends.toDateString()%> </td>
                                            <td><%= term.term_name%> </td>
                                            <td><%= term.no_of_times_opened%> </td>
                                            <td>
                                                <div class="form-button-action">
                                                    <a href="/admin/setting/term_setup/edit?setting_term_id=<%= term.setup_id%>"  data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <a href="/admin/setting/term_setup/delete?setting_term_id=<%= term.setup_id%>" data-toggle="tooltip" title="" class="btn btn-link confirmdelete btn-danger" data-original-title="Remove Student">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                    TERM </span> 
                    <span class="fw-light">
                        SETUP Form.
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/setting/term_setup" method="post" >
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>TERM NAME</label>
                                <input type="text" name="term" id="term" class="form-control" placeholder="e.g First Term">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>ACD SESSION</label>
                                <select name="sesion" id="sesion" class="form-control" required>
                                    <option value="">SELECT Session</option>
                                    <% var option = [];
                                    acdsession.forEach(function(acdsession){ %>
                                        <option value="<%= acdsession.id %>"><%= acdsession.acdsession %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>TERM ABRIVATION</label>
                                <input type="text" name="term_name" id="term_name" class="form-control" placeholder="e.g 1st, 2ND, 3TH " required>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>term begins</label>
                                <input type="date" name="term_begins" id="term_begins" class="form-control" required>
                            </div>
                        </div>
                    
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>term ends</label>
                                <input type="date" name="term_ends" id="term_ends" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>NUMBER OF DAYS OPENED</label>
                                <input type="text" name="no_of_times_opened" id="no_of_times_opened" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div style="float: right;">
                        <button type="submit"  class="btn btn-primary">submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>
<script >
   
    $(document).ready(function() {
        
        // $("#kin_phone").

        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    });
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>