<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/settings') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Class</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">create class</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-6">
                    <div class="card">
                        
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form action="/admin/classes_edit?class_id=<%= classt.Id%>" method="post"  >
                                <div id="addmore">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <div class="form-group form-group-default">
                                              <label>School Categories</label>
                                              <select name="schCategory" id="sesion" class="form-control" required>
                                                  <!-- <option value="">SELECT Session</option> -->
                                                  <% var option = [];
                                                  categories.forEach(function(acdsession){ %>
                                                    <% if (acdsession.schoolcategoryid == classt.classCategory){%>
                                                        <option value="<%= acdsession.schoolcategoryid %>"><%= acdsession.schoolCategory %></option>
                                                    <% }%>
                                                    <% if (acdsession.schoolcategoryid == classt.classCategory){%>
                                                        <!-- <option value="<%= acdsession.schoolcategoryid %>"><%= acdsession.schoolCategory %></option> -->
                                                    <% } else {%>
                                                      <option value="<%= acdsession.schoolcategoryid %>"><%= acdsession.schoolCategory %></option>
                                                    <% }%>
                                                  <% });%>
                                              </select>
                                          </div>
                                      </div>  
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>Class Name</label>
                                            <input type="text" name="className" class="form-control" value="<%= classt.className %>" placeholder="E.G Nursery One">
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                  
                                  <div style="float: right;">
                                    <button type="submit"  class="btn btn-round btn-primary">submit</button>
                                  </div>
                                  
                              </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>
