<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">FORMAT CENTER</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">dashboard</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">STUDENT DOWNLOAD CENTER</a>
                            </li>
                        </ul>
                    </div>
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="#0" data-toggle="modal" data-target="#assessment">
                                        <div class="row">
                                                
                                                <div class="col col-stats">
                                                    <div class="numbers">
                                                        <p class="card-category">STUDENT</p>
                                                        <h4 class="card-title">ASSESSMENT FORMAT</h4>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="#0" data-toggle="modal" data-target="#puntuality">
                                        <div class="row">
                                           
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">STUDENT</p>
                                                    <h4 class="card-title">PUNTUALITY FORMAT</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="#0" data-toggle="modal" data-target="#workhabit">
                                        <div class="row">
                                           
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">STUDENT</p>
                                                    <h4 class="card-title">WORK HABIT FORMAT</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="#0" data-toggle="modal" data-target="#pychomoto">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">STUDENT</h4>
                                                    <p class="card-category">PYCHOMOTOR FORMAT</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
                        <div class="col-sm-6 col-md-3">
                            <a href="#0" data-toggle="modal" data-target="#attention">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">STUDENT</h4>
                                                    <p class="card-category">ATTENTION FORMAT</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
        </div>
    </div>
    
</div>
<!-- modals  -->
<!-- Modal assessment -->
<div class="modal fade bd-example-modal-lg" id="assessment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    DOWNLOAD STUDENT ASSESSMENT FORMAT
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>class </label>
                                <select name="schoolclass_id" id="schoolclass_id" class="form-control" onchange="assessment()" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classt.forEach(function(classt){ %>
                                        <option value="<%= classt.className %>"><%= classt.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
            </div>
        </div>
    </div>
</div>


<!-- Modal puntuality -->
<div class="modal fade bd-example-modal-lg" id="puntuality" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    DOWNLOAD STUDENT PUNTUALITY FORMAT
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>class </label>
                                <select name="puntuality" id="puntualityn" class="form-control" onchange="Puntuality()" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classt.forEach(function(classt){ %>
                                        <option value="<%= classt.className %>"><%= classt.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
            </div>
        </div>
    </div>
</div>

<!-- Modal workhabit -->
<div class="modal fade bd-example-modal-lg" id="workhabit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    DOWNLOAD STUDENT WORK HABIT FORMAT
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>class </label>
                                <select name="workh" id="workh" class="form-control" onchange="workhabit()" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classt.forEach(function(classt){ %>
                                        <option value="<%= classt.className %>"><%= classt.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
            </div>
        </div>
    </div>
</div>

<!-- Modal pychomoto -->
<div class="modal fade bd-example-modal-lg" id="pychomoto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    DOWNLOAD STUDENT PYCHOMOTOR FORMAT
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>class </label>
                                <select name="pych" id="pych" class="form-control" onchange="pychomoto()" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classt.forEach(function(classt){ %>
                                        <option value="<%= classt.className %>"><%= classt.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
            </div>
        </div>
    </div>
</div>

<!-- Modal attention -->
<div class="modal fade bd-example-modal-lg" id="attention" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    DOWNLOAD STUDENT ATTENTION FORMAT
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>class </label>
                                <select name="att" id="att" class="form-control" onchange="attention()" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classt.forEach(function(classt){ %>
                                        <option value="<%= classt.className %>"><%= classt.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
            </div>
        </div>
    </div>
</div>

<%- include('../../layouts/admin/footer') %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $("#loading-image").hide();
  function assessment() {
    var classid = $("#schoolclass_id").val();
    console.log(classid);
    document.location.href = "/admin/download_assessment_format?class_id=" +classid;
  }

  function Puntuality() {
    var classid = $("#puntualityn").val();
    console.log(classid);
    document.location.href = "/admin/download_puntuality_format?class_id="+classid;
  }
    

  function workhabit() {
    var classid = $("#workh").val();
    console.log(classid);
    document.location.href = "/admin/download_workhabit_format?class_id="+classid;
  }

  function pychomoto() {
    var classid = $("#pych").val();
    console.log(classid);
    document.location.href = "/admin/download_pychomoto_format?class_id="+classid;
  }

  function attention() {
    var classid = $("#att").val();
    console.log(classid);
    document.location.href = "/admin/download_attention_format?class_id=" +classid;
  }
</script>
