<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <!-- <h4 class="page-title">User Profile</h4> -->
            <!-- Card With Icon States Color -->
                    <div class="page-header">
                        <h4 class="page-title">Registration Panel</h4>
                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="#">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">dashboard</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Stuudent Registration</a>
                            </li>
                        </ul>
                    </div>
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="/admin/admission/registration">
                                        <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="flaticon-add-user text-warning"></i>
                                                    </div>
                                                </div>
                                                <div class="col col-stats">
                                                    <div class="numbers">
                                                        <p class="card-category">Students</p>
                                                        <h4 class="card-title">Registration</h4>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body ">
                                    <a href="/admin/view_/registered_students">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-coins text-success"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <p class="card-category">View</p>
                                                    <h4 class="card-title">Student</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-round">
								<div class="card-body">
                                    <a href="/admin/search_/students">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-search-1 text-danger"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">Search</h4>
                                                    <!-- <p class="card-category"> Student Records</p> -->
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
                            <a href="/admin/ulpload_student/records">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center">
                                                    <i class="fas fa-upload text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">Upload</h4>
                                                    <p class="card-category">Student info</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
                        <div class="col-sm-6 col-md-3">
                            <a href="/admin/download_center">
                                <div class="card card-stats card-round">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center">
                                                    <i class="flaticon-download text-primary"></i>
                                                </div>
                                            </div>
                                            <div class="col col-stats">
                                                <div class="numbers">
                                                    <h4 class="card-title">DOWNLOAD</h4>
                                                    <p class="card-category">Student info</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
						</div>
					</div>
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>