<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Admitted Students</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Admitted student</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#home" role="tab" aria-selected="true">Search Form</a> </li>
                                    <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="card-body" id="home">
                            <form action="/admin/search_/students" method="POST">
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>first name</label>
                                            <input type="text" class="form-control" name="firstname" placeholder="e.g Hizrian" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Gender</label>
                                            <select class="form-control" name="gender" id="gender">
                                                <option selected value=""></option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row mt-3 mb-1">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Class</label>
                                             <select class="form-control" name="className" onchange="getclass()" id="classname">
                                                <option selected value=""></option>
                                                <% classes.forEach(function(classs){%>
                                                 <option value="<%= classs.className%>"><%= classs.className%></option>
                                                <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Class Categories</label>
                                             <select class="form-control" name="classCategory" id="category">
                                                <option selected value=""></option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>guardian name</label>
                                            <input type="text" class="form-control" name="guardian_name" placeholder="e.g Hizrian" value="">
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="text-right mt-3 mb-3">
                                    <button class="btn btn-success">Save</button>
                                    <!-- <button class="btn btn-danger">Reset</button> -->
                                </div>
                            </form>
                            
                        </div>

                        
                    </div>
                </div>
                <% if(students == ""){%>
                    <div class="col-md-12">
                        <div class="card">
                            No Search Result 
                        </div>
                    </div>
                <%} else {%>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" style="color:red">Search Result</h4>
                        </div>
                        <div class="card-body">
                           
                                <div class="table-responsive">
                                    <%- messages('messages', locals) %>
                                    <table id="basic-datatables" class="display table table-striped table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="th"></th>
                                                <th class="th">Student Name(s)</th>
                                                <th class="th">class Name</th>
                                                <th class="th">Gender</th>
                                                <th class="th">Date Of Birth</th>
                                                <th class="th">Status</th>
                                                <th class="th">Guardian</th>
                                                <th class="th" >Guardian Address</th>
                                                <th class="th">Phone</th>
                                                <th class="th">Year Of Graduation</th>
                                                <th class="th">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th >class Name</th>
                                                <th>Gender</th>
                                                <th>Date Of Birth</th>
                                                <th>Status</th>
                                                <th>Guardian</th>
                                                <th>Guardian Address</th>
                                                <th>Phone</th>
                                                <th>Year Of Graduation</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% students.forEach(function(student){%>
                                            <tr>
                                                <td>
                                                    <div class="avatar avatar-xl">
                                                        <img src="/<%= student.photo %>" alt="..." class="avatar-img rounded-circle">
                                                    </div>
                                                </td>
                                                <td><%= student.title %> <%= student.surname %> <%= student.firstname %> <%= student.middlename %> </td>
                                                <td><%= student.className %></td>
                                                <td><%= student.gender %></td>
                                                <td><%= student.dateofbirth %></td>
                                                <td><%= student.activity %></td>
                                                <td><%= student.guardian_name %></td>
                                                <td><%= student.guardian_address %></td>
                                                <td><%= student.phone %></td>
                                                <td><%= student.yearOfGraduation %></td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <a href="/admin/view_/registered_students/view?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                        <!-- <a href="/admin/view_/registered_students/edit?admission" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="Edit Info">
                                                            <i class="fa fa-edit"></i>
                                                        </a> -->
                                                        <a href="/admin/view_/registered_students/delete?admission=<%= student.student_reg_Id %>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove Student">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%});%>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <%}%>
                
            </div>
        </div>
    </div>
    
</div>
<script>
    function getclass() {
            var classname = $('#classname').val();
            $.ajax({
                url: "/admin/get/class_categories?category="+classname,
                method: "GET",
                success: function(response){
                    getclassGroupt(response)
                    console.log(response)
                }
            })

        }
        function getclassGroupt(result){
            if(result.length > 0){
                var html = "";
                html +='<option  selected value=""> SELECT STATE </option>';
                for(var a = 0; a < result.length; a++){
                //price = result[a].prices;
                html +='<option value="'+result[a].id+'">'+result[a].arm+'</option>';
                }
                $('#category').html(html);
            } else {
                var html = "";
                html +='<option selected value=""></option>';
                $('#category').html(html);
            }
        }
</script>


<%- include('../../layouts/admin/footer') %>
<script >
    $(document).ready(function() {
        
        $('#basic-datatables').DataTable({
            'searching'   : false,
            'ordering'    : false,
            'info'        : true,
            'autoWidth'   : true,
                   dom: 'Bfrtip',
                    buttons: [
                        'print',
                        'copy', 
                        'csv', 
                        'excel', 
                        'pdf',
                    ] ,  
            
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>