<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Registration</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Student Registration</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/admin/admission/registration" method="POST" enctype="multipart/form-data" >
                                <div class="row mt-3">
                                    <div class="col-md-2">
                                        <div class="form-group form-group-default">
                                            <label>Title</label>
                                            <select name="title" id="title" class="form-control" required>
                                                <option >SELECT TITLE</option>
                                                <% var option=[]
                                                  titles.forEach(function(title){  %>
                                                     <option value="<%= title.titleName%>"><%= title.titleName%></option>
                                                 <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Surname</label>
                                            <input type="text" class="form-control" name="surname" id="surname" placeholder="e.g John" >
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default">
                                            <label>firstname</label>
                                            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="e.g Jimmy" >
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default">
                                            <label>Middle Name</label>
                                            <input type="text" class="form-control" name="middlename" id="middlename" placeholder="Jimmy" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Student Id</label>
                                            <input type="text" class="form-control" name="studentId" id="studentId" placeholder="FUOJ/2021/200" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Birth Date</label>
                                            <input type="date" class="form-control"  id="dateofbirth" name="dateofbirth"  placeholder="Birth Date">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Gender</label>
                                            <select class="form-control" name="gender" id="gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Guardian Name</label>
                                            <input type="text" class="form-control" name="guardian_name" id="guardian_name" placeholder="e.g Mc John King">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Guardian Email</label>
                                            <input type="text" class="form-control"  id="guardian_email" name="guardian_email"  placeholder="e.g parentemail@gmail.com">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>Phone</label>
                                            <input type="number" class="form-control"  name="phone" id="phone" placeholder="+62008765678">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-3 ">
                                        <div class="form-group form-group-default">
                                            <label>class Name</label>
                                            <select class="form-control"  id="classname" name="className"   placeholder="Primary Five">
                                            <option >SELECT CLASS</option>
                                            <% var option = [];
                                            classname.forEach(function(cl){ %>
                                                <option value="<%= cl.className %>"><%= cl.className %></option>
                                            <% });%>
                                        </select>
                                        </div>
                                    </div>
                                  
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default">
                                            <label>Year Of Entry</label>
                                            <input type="text" class="form-control"  name="yearOfEntry" id="yearOfEntry" placeholder="e.g 2010">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default">
                                            <label>Graduation Year</label>
                                            <input type="text" class="form-control"  id="yearOfGraduation" name="yearOfGraduation"  placeholder="e.g 2016">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default">
                                            <label>Previous School</label>
                                            <input type="text" class="form-control"  id="previous_school" name="previous_school"  placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default">
                                            <label>Previous Class</label>
                                            <input type="text" class="form-control"  name="previous_class" id="previous_class" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            <label>guardian_address</label>
                                            <input type="text" class="form-control"  name="guardian_address" id="guardian_address" placeholder="e.g House 18 danmunde estate lifecamp, Abuja FCT Nigeria">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group form-group-default">
                                            <label>Student Pasport</label>
                                            <input type="file" name="photo" class="form-control" id="photo" accept="image/png, image/gif, image/jpeg" >
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="text-right mt-3 mb-3">
                                    <button class="btn btn-success" >Save</button>
                                </div>
                            </form>
                        </div>

                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>


<%- include('../../layouts/admin/footer') %>
