<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">User Profile</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Student Registration</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/admin/ulpload_student/records" method="post" enctype="multipart/form-data">

                                <div class="row mt-3">
                                    <div class="col-md-3">
                                        <div class="form-group form-group-default">
                                            <label>class Name</label>
                                            <select class="form-control"   name="className"   required>
                                            <option value="">SELECT CLASS</option>
                                            <% var option = [];
                                            classname.forEach(function(cl){ %>
                                                <option value="<%= cl.className %>"><%= cl.className %></option>
                                            <% });%>
                                        </select>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Excell File</label>
                                            <input type="file" class="form-control"  name="studentupload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                                        </div>
                                    </div>
                                </div>

                                
                                
                                <div class="text-right mt-3 mb-3">
                                    <button class="btn btn-success">Save</button>
                                    <!-- <button class="btn btn-danger">Reset</button> -->
                                </div>
                            </form>
                        </div>

                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
<script>
    function getclass() {
            var classname = $('#classname').val();
            $.ajax({
                url: "/admin/get/class_categories?category="+classname,
                method: "GET",
                success: function(response){
                    getclassGroupt(response)
                    console.log(response)
                }
            })

        }
        function getclassGroupt(result){
            if(result.length > 0){
                var html = "";
                html +='<option  selected value=""> SELECT STATE </option>';
                for(var a = 0; a < result.length; a++){
                //price = result[a].prices;
                html +='<option value="'+result[a].id+'">'+result[a].arm+'</option>';
                }
                $('#category').html(html);
            } else {
                var html = "";
                html +='<option  selected value="">No Class Category</option>';
                $('#classCategory').html(html);
            }
        }
</script>

<%- include('../../layouts/admin/footer') %>