
<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>
<!-- End Sidebar -->
<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <h4 class="page-title"><%= info.firstname.toUpperCase() %>, <%= info.surname.toUpperCase() %> <%= info.middlename.toUpperCase() %></h4>
      <div class="row">
        <div class="col-md-8">
          <div class="card card-with-nav">
            <div class="card-header">
              <div class="row row-nav-line">
                
                <ul class="nav  nav-line nav-color-secondary" id="line-tab" role="tablist">
                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> <span class="btn-label just-icon"><i class="flaticon-profile"></i> Profile</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Academic</a> </li>
                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Change/Update Passport</a> </li>
                </ul>
              </div>
            </div>
            <%- messages('messages', locals) %>
            <div  class="tab-content"  >
             
                
            
                <div class="tab-pane fade show active" id="home">
                    <div class="card-body">
                      <form id="form">
                        <!-- <form action="/admin/update_student_personal_info?studentid=<%= info.student_reg_Id %>" method="POST"> -->
                        <div class="row mt-3">
                          <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>First Name</label>
                                <input type="hidden" id="student_reg_id" value="<%= info.student_reg_Id %>" name="student_reg_id">
                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" value="<%= info.firstname %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Middle Name</label>
                                <input type="text" class="form-control" name="middlename" id="middlename" placeholder="Middle Name" value="<%= info.middlename %>">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group form-group-default">
                                <label>Surname</label>
                                <input type="text" class="form-control" name="surname" id="surname" placeholder="Surname" value="<%= info.surname %>">
                              </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>Birth Date</label>
                              <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" value="<%= info. dateofbirth %>" placeholder="mm/dd/yyyy">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>Gender</label>
                              <select class="form-control" name="gender" id="gender">
                               <option value="<%= info.gender %>" selected><%= info.gender %></option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-5">
                            <div class="form-group form-group-default">
                              <label>Guardian email</label>
                              <input type="email" class="form-control" id="guardian_email" name="guardian_email" value="<%= info. guardian_email %>">
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="form-group form-group-default">
                              <label>Guardian Phone Number.</label>
                              <input type="text" class="form-control" value="<%= info.phone %>" name="phone" id="phone" placeholder="Phone">
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3 mb-1">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Guardian's Name</label>
                              <input type="text" class="form-control" value="<%= info.guardian_name%>" name="guardian_name" id="guardian_name" placeholder="Guardian's Name">
                              
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-12">
                            <div class="form-group form-group-default">
                              <label>Guardian Address</label>
                              <textarea class="form-control" name="guardian_address" id="guardian_address" placeholder="Guardian Address" rows="3"><%= info.guardian_address%></textarea>
                            </div>
                          </div>
                        </div>
                        
                        <div class="text-right mt-3 mb-3">
                          <button class="btn btn-primary" id="button1">Save Changes</button>
                          <!-- <button class="btn btn-danger">Reset</button> -->
                        </div>
                      </form>
                    </div>
                </div>

                <div  class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="line-home-tab" >
                  <div class="card-body">
                    <form action="/admin/update_academic_info" method="POST">
                      <div class="row mt-3">
                        <div class="col-md-6">
                           
                            <select name="className" id="className" class="form-control">
                              <option value="<%= info.className %>"><%= info.className %></option>
                              <% var option = [];
                              schclass.forEach(function(clas){ %>
                                <% if (info.className == clas.className){%>
                                    
                                <%}%>
                                <option value="<%= clas.className %>"><%= clas.className %></option>
                              <% });%>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-group-default">
                              <label>Previous School </label>
                              <input type="text" class="form-control" name="previous_school" id="previous_school" value="<%= info.previous_school %>" placeholder="">
                            </div>
                          </div>
                         
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>Year of entry </label>
                            <input type="hidden" id="student_reg_id" value="<%= info.student_reg_Id %>" name="student_reg_id">
                            <input type="text" class="form-control" name="yearOfEntry" id="yearOfEntry" value="<%= info.yearOfEntry %>" placeholder="2017">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <label>graduation Year</label>
                            <input type="text" class="form-control" value="<%= info.yearOfGraduation %>"  name="yearOfGraduation" id="yearOfGraduation" placeholder="2017">
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="text-right mt-3 mb-3">
                        <button class="btn btn-success" id="button2">Save Changes</button>
                      </div>
                    </form>
                  </div>
                </div>

                <div  class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="line-home-tab" >
                   <div class="card-body">
                    <form action="/admin/update_student_passport?studentid=<%= info.student_reg_Id %>" method="POST" enctype="multipart/form-data">
                       
                      <div class="row mt-3">
                        <div class="col-md-8">
                          <div class="form-group form-group-default">
                            <label>Passport </label>
                            <input type="file" class="form-control" id="student_image" name="student_image" accept="image/png, image/gif, image/jpeg" required placeholder="">
                          </div>
                        </div>
                        <div class="col-md-4 mt-3">
                          <button class="btn btn-success" >Upload</button>
                        </div>
                      </div>
                      
                     
                    </form>
                  </div>
                </div>
          </div>
          
        </div>
          
          
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-secondary">
            <div class="card-header" style="background-image: url('assets/img/blogpost.jpg')">
              <div class="profile-picture">
                <div class="avatar avatar-xl">
                  <% if (info.photo == "" || info.photo == null){%>
                    <img src="/avata.png" alt="..." class="avatar-img rounded-circle">
                    <% } else {%>
                  <img src="/<%= info.photo%>" alt="..." class="avatar-img rounded-circle">
                  <%}%>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="user-profile text-center">
                <div class="name"><%= info.firstname %>  <%= info.middlename %> <%= info.surname %></div>
                <div class="job"><%= info.className %> >  Student 
                </div>
                <div class="social-media">
                  <a class="btn btn-info btn-twitter btn-sm btn-link" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                  </a>
                  <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                  </a>
                  <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                    <span class="btn-label just-icon"><i class="flaticon-dribbble"></i> </span> 
                  </a>
                </div>
                <!-- <div class="view-profile">
                  <a href="#" class="btn btn-secondary btn-block">View Full Profile</a>
                </div> -->
              </div>
            </div>
            <div class="card-footer">
              <!-- <div class="row user-stats text-center">
                <div class="col">
                  <div class="number">125</div>
                  <div class="title">Asignts</div>
                </div>
                <div class="col">
                    <div class="number">125</div>
                    <div class="title">Pract</div>
                  </div>
                <div class="col">
                  <div class="number">25K</div>
                  <div class="title">Text</div>
                </div>
                <div class="col">
                  <div class="number">134</div>
                  <div class="title">Exam</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<%- include('../../layouts/admin/footer') %>

<script>
  $(document).ready(function(){
var x = '<%- info.student_reg_Id %>'
var reg_id = parseInt(x);
console.log(reg_id)
$("#button1").click(function (e) {
    e.preventDefault();
    var firstname = $("#firstname").val();
    var surname = $("#surname").val();
    var middlename = $("#middlename").val();
    var guardian_email = $("#guardian_email").val();
    var phone = $("#phone").val();
    var dateofbirth = $("#dateofbirth").val();
    var gender = $("#gender").val();  
    var guardian_name = $("#guardian_name").val();
    var guardian_address = $("#guardian_address").val();
    var id = $("#student_reg_id").val(); 
    $.ajax({
      url: "/admin/update_student_personal_info",
      method: "POST",
      cache: false,
      dataType:'json',
      // timeout: 3000,
      data: {
        firstname: firstname,
        surname: surname,
        middlename: middlename,
        guardian_email: guardian_email,
        phone: phone,
        dateofbirth: dateofbirth,
        gender: gender,
        guardian_name: guardian_name,
        guardian_address: guardian_address,
        id:id
      },
      success: function (response) {
          if (response.msg == "success") {
                Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Your request is successfully submited",
                showConfirmButton: false,
                timer: 5000,
                
                });
          } else {
            Swal.fire({
              position: "top-end",
              title: response.msg,
              showCancelButton: true,
             
            })
          }
        
      },
      error: function (e) {
        Swal.fire({
                position: "top-end",
                icon: "warning",
                title: e.message,
                showConfirmButton: false,
                timer: 5000,
                
            });
      },
    });
  });



  $("#button2").click(function (e) {
    e.preventDefault();
    var className = $("#className").val();
    var yearOfEntry = $("#yearOfEntry").val();
    var yearOfGraduation = $("#yearOfGraduation").val();
    var previous_school = $("#previous_school").val();
    var id = $("#student_reg_id").val(); 
    $.ajax({
      url: "/admin/update_academic_info",
      method: "POST",
      cache: false,
      dataType:'json',
      // timeout: 3000,
      data: {
        className: className,
        yearOfEntry: yearOfEntry,
        yearOfGraduation: yearOfGraduation,
        previous_school: previous_school,
        id:id
      },
      success: function (response) {
          if (response.msg == "success") {
                Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Your request is successfully submited",
                showConfirmButton: false,
                timer: 5000,
                
                });
          } else {
            Swal.fire({
              position: "top-end",
              title: response.msg,
              showCancelButton: true,
             
            })
          }
        
      },
      error: function (e) {
        Swal.fire({
                position: "top-end",
                icon: "warning",
                title: e.message,
                showConfirmButton: false,
                timer: 5000,
                
            });
      },
    });
  });


  $("#button3").click(function(evt){	 
       evt.preventDefault();
       var formData = new FormData($(this)[0]);
       console.log(reg_id);
       console.log(reg_id);
    $.ajax({
        url: '/admin/update_student_passport?studentid='+reg_id,
        type: 'POST',
        data: formData,
        async: false,
        cache: false,
        contentType: false,
        enctype: 'multipart/form-data',
        processData: false,
        success: function (response) {
         
          if (response.msg == "success") {
                Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Your request is successfully submited",
                showConfirmButton: false,
                timer: 5000,
                
                });
          } else {
            Swal.fire({
              position: "top-end",
              title: response.msg,
              showCancelButton: true,
             
            })
          }
        }
    });
    return false;
  });
});
</script>
