<%- include('../layouts/home/head') %>
<%- include('../layouts/home/regNav') %>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <!-- <ol>
          <li><a href="/">Home</a></li>
          <li>Registration</li>
        </ol> -->
        <!-- <h2>Inner Page</h2> -->

      </div>
    </section>
    <!-- End Breadcrumbs -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Account creation</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <!-- <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
  
                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
  
                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55s</p>
                </div>
  
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div> -->
  
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            
              <form action="/create_account" method="post"  class="php-email-form1" enctype="multipart/form-data">
                <% for (err1 of Error){ %>
                  <li><%= err1.msg %></li>
                  <% } %>  <%= err %>
                  <%- messages('messages', locals) %>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name">SCHOOL FULL NAME <span style="color: red;">*</span> </label>
                        <input type="text" name="client" class="form-control bd" required id="name" placeholder="e.g School Master Academic" />
                        <div class="validate"></div>
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label for="name">Client Code *</label>
                        <input type="text" class="form-control bd" name="service_code" required id="service_code" placeholder="e.g SMA "  />
                        <div class="validate"></div>
                    </div> -->
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">SCHOOL NUMBER <span style="color: red;">*</span></label>
                      <input type="number" name="client_phone" class="form-control bd" required id="name" placeholder="e.g 0900 000 0000" />
                      <div class="validate"></div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="name">SCHOOL EMAIL <span style="color: red;">*</span></label>
                      <input type="email" class="form-control bd" name="client_email" required id="service_code" placeholder="e.g info@schoolmaster.com "  />
                      <div class="validate"></div>
                    </div>
                </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">COUNTRY <span style="color: red;">*</span></label>
                        <select name="country_id" class="form-control bd"  id="country" onchange="getCountry()" required>
                          <option disabled selected value> SELECT COUNTRY</option>
                          <% var option = [];
                          for(item of country){  %> 
                          <option value ="<%= item.country_id %>"><%= item.country %></option>
                          <% } %>
                      </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">STATE <span style="color: red;">*</span></label>
                        <select name="state_id" class="form-control bd" id="state" onchange="getState()"  required>
                          <option disabled selected value>SELECT STATE </option>
                  
                        </select>
                      </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">LOCAL GOVT. <span style="color: red;">*</span></label>
                      <select name="lga_id" class="form-control bd" id="lga_id" onchange="getLGA()" required>
                        <option disabled selected value>SELECT LGA </option>
                     </select>
                    </div>
                    <div class="form-group col-md-6">
                      <!-- <label for="name"></label> -->
                      <textarea class="form-control bd" name="client_address" id="client_address" placeholder="Clinet Address" ></textarea>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">ADMIN SURNAME <span style="color: red;">*</span></label>
                    <input type="text" name="admin_surname" class="form-control bd" placeholder="e.g Paul" required/>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">ADMIN FIRST NAME <span style="color: red;">*</span></label>
                    <input type="text" class="form-control bd" name="admin_firstname"  placeholder="e.g Jude " required />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">ADMIN MIDDLE NAME</label>
                      <input type="text" name="admin_middlename" class="form-control bd" placeholder="e.g Ikwobe" />
                      <div class="validate"></div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="name">ADMIN PHONE NUMBER <span style="color: red;">*</span></label>
                      <input type="number" class="form-control bd" name="client_admin_phone"  placeholder="e.g 0900 000 0000 " required />
                      <div class="validate"></div>
                    </div>
                </div>
                <div class="form-row">
                  <!-- <div class="form-group col-md-6">
                    <label for="name">ADMIN EMAIL <span style="color: red;">*</span> </label>
                    <input type="email" name="client_admin_email" class="form-control bd" placeholder="e.g admin@schoolmaster.com" required/>
                    <div class="validate"></div>
                  </div> -->
                  <div class="form-group col-md-12">
                    <label for="name">SCHOOL LOGO *</label>
                  <input type="file" class="form-control bd" name="service_logo" id="service_logo"  required style="overflow: hidden;"/>
                  <div class="validate"></div>
                  </div>
                </div>
                <!-- <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Supervisor First Name * </label>
                    <input type="text" name="supervisor_firstname" class="form-control bd" placeholder="e.g Jimmy" required/>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Supervisor Middle Name </label>
                    <input type="text" class="form-control bd" name="supervisor_middlename"  placeholder="e.g J "  />
                    <div class="validate"></div>
                  </div>
                </div> -->
                <!-- <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Supervisor Phone Numb. * </label>
                    <input type="number" name="client_supervisor_phone" class="form-control bd" placeholder="e.g 0900 000 0000" required/>
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Supervisor Email</label>
                    <input type="email" class="form-control bd" name="client_supervisor_email"  placeholder="e.g supervisor@info.com " required />
                    <div class="validate"></div>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <label for="name">Logo *</label>
                  <input type="file" class="form-control bd" name="service_logo" id="service_logo"  required/>
                  <div class="validate"></div>
                </div> -->
                <!-- <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control bd" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                  <div class="validate"></div>
                </div> -->
                
                <div class="text-center"><button type="submit">REGISTER</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

  </main><!-- End #main -->
<script>
    /*
* select category to get subcategory
*/
function getCountry() {
  var country_id = $("#country").val();
  
  $.ajax({
    url: "/api/getstate/"+country_id,
    method: "GET",
    success: function(response){
      getStates(response)
      console.log(response)
    }
  })
}

function getStates(result){
  if(result.length > 0){
    var html = "";
    html +='<option disabled selected value> SELECT STATE </option>';
    for(var a = 0; a < result.length; a++){
      //price = result[a].prices;
      html +='<option value="'+result[a].state_id+'">'+result[a].state+'</option>';
    }
    $('#state').html(html);
  } else {
    var html = "";
    html +='<option disabled selected value></option>';
    $('#state').html(html);
  }
}
function getState() {
  let stateID = $("#state").val();
  console.log('this a state id' + stateID);
  $.ajax({
    url: "/api/getlga/"+stateID,
    method: "GET",
    success: function(response){
      getLgarecords(response)
      console.log(getLgarecords)
    }
  })
}

function getLgarecords(result){
  if(result.length > 0){
    var html = "";
    html +='<option disabled selected value> SELECT LGA</option>';
    for(var a = 0; a < result.length; a++){
      html +='<option value="'+result[a].lga_id+' ">'+result[a].lga+'</option>';
    }
    $('#lga_id').html(html);
  } else {
    var html = "";
    html +='<option disabled selected value></option>';
    $('#lga_id').html(html);
  }
}

function getLGA() {
  let lgaID = $("#lga_id").val();
  console.log('this a lga id' + lgaID);
  $.ajax({
    url: "/api/getcity/"+lgaID,
    method: "GET",
    success: function(response){
        getCityrecords(response)
      console.log(getCityrecords)
    }
  })
}

function getCityrecords(result){
  if(result.length > 0){
    var html = "";
    html +='<option disabled selected value> SELECT LGA</option>';
    for(var a = 0; a < result.length; a++){
      html +='<option value="'+result[a].city_id+' ">'+result[a].city+'</option>';
    }
    $('#city_id').html(html);
  } else {
    var html = "";
    html +='<option disabled selected value> No city found </option>';
    $('#city_id').html(html);
  }
}
</script>
<%- include('../layouts/home/footer') %>