<%- include('../layouts/home/head') %>
<%- include('../layouts/home/regNav') %>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">  </div>
    </section><!-- End Breadcrumbs -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Login</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <!-- <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
  
                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
  
                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55s</p>
                </div>
  
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div> -->
  
            </div>
  
            <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
            
              <form action="/login" method="post"  class="php-email-form1" >
               
                  <%- messages('messages', locals) %>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="name">Email</label>
                        <input type="email" name="username" class="form-control bd" required  placeholder="e.g info@schmaster.com" />
                        <div class="validate"></div>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                      <label for="name">Password</label>
                      <input type="password" name="password" class="form-control bd" required  />
                      <div class="validate"></div>
                    </div>
                    
                </div>
                 
                
                <div class="text-center"><button type="submit">Login</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

  </main><!-- End #main -->

<%- include('../layouts/home/footer') %>