<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title><%= appname %></title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="assets/img/icon.ico" type="image/x-icon"/>

	
	

</head>