<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <%- include('side_top') %>

            <ul class="nav">
                <% if (link == '/admin/dashboard'){%>
                    <li class="nav-item active">
                        <a href="/admin/dashboard">
                            <i class="fas fa-home text-primary"></i>
                            <p>Main Panel</p>
                            <!-- <span class="badge badge-count">5</span> -->
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/dashboard">
                                <i class="fas fa-home text-primary"></i>
                                <p>Main Panel</p>
                                <!-- <span class="badge badge-count">5</span> -->
                            </a>
                        </li>
                    <% }%>
                <% if (link == '/admin/panel/dashboard'){%>
                <li class="nav-item active">
                    <a href="/admin/panel/dashboard">
                        <i class="fas fa-home text-danger"></i>
                        <p>Academic Panel</p>
                        <span class="badge badge-count">5</span>
                    </a>
                </li>
                <% } else {%>
                    <li class="nav-item ">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home text-danger"></i>
                            <p>Academic Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                <% }%>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Academics</h4>
                </li>
                
                <% if (link == '/admin/aplicant_registration'){%>
                <li class="nav-item active ">
                    <a href="/admin/aplicant_registration">
                        <i class="fas fa-user-plus text-warning"></i>
                        <p>Staff Registration</p>
                        
                    </a>
                </li>
                <% } else {%>
                    <li class="nav-item ">
                        <a href="/admin/aplicant_registration">
                            <i class="fas fa-user-plus text-warning"></i>
                            <p>Staff Registration</p>
                            
                        </a>
                    </li>
                <% }%>
                <% if (link == '/admin/parent_account/registration'){%>
                    <li class="nav-item active ">
                        <a href="/admin/parent_account/registration">
                            <i class="fas fa-user-plus text-success"></i>
                            <p>Parent Registration</p>
                            
                        </a>
                    </li>
                    <% } else {%>
                        <li class="nav-item ">
                            <a href="/admin/parent_account/registration">
                                <i class="fas fa-user-plus text-success"></i>
                                <p>Parent Registration</p>
                                
                            </a>
                        </li>
                    <% }%>
                <!-- students  -->
                <li class="nav-item  ">
                    <a href="/admin/admission/panel">
                        <i class="fas fa-users text-primary"></i>
                        <p>Student</p>
                        
                    </a>
                </li>
              
                <!-- examination management -->
                <li class="nav-item">
                    <a  href="/admin/examination/exam_panel">
                        <i class="fas fa-outdent text-warning"></i>
                        <p>examination</p>
                        <!-- <e class="caret"></span> -->
                    </a>
                    
                </li>
                <!-- certificates -->
                <li class="nav-item">
                    <a  href="/admin/certificate_panel">
                        <i class="fas fa-certificate text-success"></i>
                        <p>Certificates</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                
                </li>
               <!-- subject -->
                <li class="nav-item">
                    <a href="/admin/subject_center">
                        <i class=" far fa-chart-bar text-info"></i>
                        <p>Subject Center</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                   
                </li>
                <li class="nav-item">
                    <a href="/admin/skill_management_settings">
                        <i class=" far fa-folder-open text-danger"></i>
                        <p>Assessments</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                   
                </li>
                <!-- timetable -->
                <li class="nav-item">
                    <a href="#timetable">
                        <i class="fas fa-table"></i>
                        <p>Time Tables</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                    
                </li>
                <!-- library -->
                <li class="nav-item">
                    <a href="/api/labrary/library_dashboard">
                        <i class="fas fa-book-reader text-success"></i>
                        <p>Library</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                </li>
                <!-- attendance -->
                <li class="nav-item">
                    <a  href="/attendance/attendance">
                        <i class="far fa-chart-bar text-success"></i>
                        <p>Attendance</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                    
                </li>

                <!-- seetings -->
                <li class="nav-item">
                    <a  href="/admin/settings/setup_panel">
                        <i class="fas fa-cogs text-danger"></i>
                        <p>Settings</p>
                        <!-- <span class="caret"></span> -->
                    </a>
                    
                </li>
                
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->