<!-- Sidebar -->
<div class="sidebar">
			
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            Hizrian
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="/profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="/edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <% if (link == '/admin/panel/dashboard'){%>
                <li class="nav-item active">
                    <a href="/admin/panel/dashboard">
                        <i class="fas fa-home"></i>
                        <p>Panel</p>
                        <span class="badge badge-count">5</span>
                    </a>
                </li>
                <% } else {%>
                    <li class="nav-item ">
                        <a href="/admin/panel/dashboard">
                            <i class="fas fa-home"></i>
                            <p>Panel</p>
                            <span class="badge badge-count">5</span>
                        </a>
                    </li>
                <% }%>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Academics</h4>
                </li>
                <% if (link == '/admin/aplicant_registration'){%>
                <li class="nav-item active ">
                    <a href="/admin/aplicant_registration">
                        <i class="fas fa-user-plus"></i>
                        <p>Applicant Registration</p>
                        
                    </a>
                </li>
                <% } else {%>
                    <li class="nav-item ">
                        <a href="/admin/aplicant_registration">
                            <i class="fas fa-user-plus"></i>
                            <p>Applicant Registration</p>
                            
                        </a>
                    </li>
                <% }%>
                <!-- students  -->
                <li class="nav-item active ">
                    <a href="/admin/aplicant_registration">
                        <i class="fas fa-users"></i>
                        <p>Student</p>
                        
                    </a>
                </li>
                <% if (link == '/admin/admission/registration' || link == '/admin/view_/registered_students'){%>
                <li class="nav-item active">
                    <a data-toggle="collapse" href="#students">
                        <i class="fas fa-users"></i>
                        <p>Students</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse " id="students">
                        <ul class="nav nav-collapse">
                            <% if (link == '/admin/admission/registration'){%>
                            <li class="nav-item active">
                                <a href="/admin/admission/registration">
                                    <span class="sub-item">Student Admission</span>
                                </a>
                            </li>
                            <% } else {%>
                                <li class="nav-item ">
                                    <a href="/admin/admission/registration">
                                        <span class="sub-item">Student Admission</span>
                                    </a>
                                </li>
                             <% }%>
                            <% if (link == '/admin/view_/registered_students'){%>
                               <li class="nav-item active">
                                <a href="/admin/view_/registered_students">
                                    <span class="sub-item">Student Details</span>
                                </a>
                            </li>
                            <% } else {%>
                                <li class="nav-item ">
                                    <a href="/admin/view_/registered_students">
                                        <span class="sub-item">Student Details</span>
                                    </a>
                                </li>
                             <% }%>
                        </ul>
                    </div>
                </li>
                <% } else {%>  
                    <li class="nav-item ">
                        <a data-toggle="collapse" href="#students">
                            <i class="fas fa-users"></i>
                            <p>Students</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse " id="students">
                            <ul class="nav nav-collapse">
                              
                                    <li>
                                        <a href="/admin/admission/registration">
                                            <span class="sub-item">Student Admission</span>
                                        </a>
                                    </li>
                                
                                <li>
                                    <a href="/admin/view_/registered_students">
                                        <span class="sub-item">Student Details</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                <% } %>  
                <!-- examination management -->
                <li class="nav-item">
                    <a data-toggle="collapse" href="#examination">
                        <i class="fas fa-table"></i>
                        <p>examination</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="examination">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="tables/tables.html">
                                    <span class="sub-item">Exam management</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Generate Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">CCE Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">ICSE Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- certificates -->
                <li class="nav-item">
                    <a data-toggle="collapse" href="#certificates">
                        <i class="fas fa-layer-group"></i>
                        <p>Certificates</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="certificates">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="components/avatars.html">
                                    <span class="sub-item">Bulk Generate Certificates</span>
                                </a>
                            </li>
                            <li>
                                <a href="components/buttons.html">
                                    <span class="sub-item">Certificate Templates</span>
                                </a>
                            </li>
                            <li>
                                <a href="components/gridsystem.html">
                                    <span class="sub-item">Generate Individual Templates</span>
                                </a>
                            </li>
                            <li>
                                <a href="components/panels.html">
                                    <span class="sub-item">Generated Certificates</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </li>
               <!-- subject -->
                <li class="nav-item">
                    <a data-toggle="collapse" href="#subject">
                        <i class="fas fa-table"></i>
                        <p>Subject Center</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subject">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="tables/tables.html">
                                    <span class="sub-item">Course/Subject</span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Datatables</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </li>
                <!-- timetable -->
                <li class="nav-item">
                    <a data-toggle="collapse" href="#timetable">
                        <i class="fas fa-table"></i>
                        <p>Time Tables</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="timetable">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="tables/tables.html">
                                    <span class="sub-item">Classroom Allocation</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Create Wekdays</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Institutional Timetable</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Manage Subjects</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Manage timetable</span>
                                </a>
                            </li>
                            <li>
                                <a href="tables/datatables.html">
                                    <span class="sub-item">Teacher timetable</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- library -->
                <li class="nav-item">
                    <a data-toggle="collapse" href="#library">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Library</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="library">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="maps/googlemaps.html">
                                    <span class="sub-item">Library settings</span>
                                </a>
                            </li>
                            <li>
                                <a href="maps/fullscreenmaps.html">
                                    <span class="sub-item">Manage books</span>
                                </a>
                            </li>
                            <li>
                                <a href="maps/jqvmap.html">
                                    <span class="sub-item">Manage Logs</span>
                                </a>
                            </li>
                            <li>
                                <a href="maps/jqvmap.html">
                                    <span class="sub-item">Issue Books</span>
                                </a>
                            </li>
                            <li>
                                <a href="maps/jqvmap.html">
                                    <span class="sub-item">Library fines</span>
                                </a>
                            </li>
                            <li>
                                <a href="maps/jqvmap.html">
                                    <span class="sub-item">Return Books</span>
                                </a>
                            </li>
                            <li>
                                <a href="maps/jqvmap.html">
                                    <span class="sub-item">Search Books</span>
                                </a>
                            </li>
                            <li>
                                <a href="maps/jqvmap.html">
                                    <span class="sub-item">Books Renewal</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- attendance -->
                <li class="nav-item">
                    <a data-toggle="collapse" href="#attendance">
                        <i class="far fa-chart-bar"></i>
                        <p>Attendance</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="attendance">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="charts/charts.html">
                                    <span class="sub-item">Attendance Register</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Attendance Report</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Attendance certificate</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Generate transfer certificate</span>
                                </a>
                            </li>
                            <li>
                                <a href="charts/sparkline.html">
                                    <span class="sub-item">Certificate Template Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item">
                    <a href="widgets.html">
                        <i class="fas fa-desktop"></i>
                        <p>Widgets</p>
                        <span class="badge badge-count badge-success">4</span>
                    </a>
                </li>
                
                
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->