<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/teacher/dsidebar') %>

<div class="main-panel">
    <div class="content">

        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">  <i class="flaticon-windows text-warning"></i></h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/api/teachers/continious_assesment">CONTINIOUS ASSESSMENT</a>
                    </li>
                   
                </ul>
            </div>
            <!-- <h4 class="page-title"></h4> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true"> UPLOAD CONTINIOUS ASSESSMENT </a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/api/teachers/attention_skils" method="post" enctype="multipart/form-data">
								
								<div class="form-group form-group-default">
									<label>Upload Assessment </label>
									<input type="file" class="form-control" name="assessment" \>
								</div>
									
								<div class="text-right mt-3 mb-3">
									<button class="btn btn-info">Upload Assessment</button>
									<!-- <button class="btn btn-danger">Reset</button> -->
								</div>
                                   
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->
            
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>

<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getclass() {
  var classid = $("#classname").val();
  console.log(classid)
$('#loading-image').show();
  $.ajax({
    url: "/api/teachers/get_student_by_class/"+classid,
    method: "GET",
    success: function(response){
        getStudent(response)
        console.log(response)
    },
    complete: function(){
        $('#loading-image').hide();
      }
  })
}

function getStudent(result){
    if(result.length > 0){
		var html = "";
		html +='<option disabled selected value> SELECT STUDENT </option>';
		for(var a = 0; a < result.length; a++){
		  html +='<option value="'+result[a].student_reg_Id+'">'+result[a].surname+" "+result[a].firstname+" "+result[a].middlename+'</option>';
		}
		$('#student').html(html);
	  } else {
		var html = "";
		html +='<option disabled selected value>No Student Found</option>';
		$('#student').html(html);
	  }
}
</script>

