<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/teacher/dsidebar') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Assessment</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home text-warning"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">continuous assessment</a>
                    </li>
                   
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    uploade continuous assessment
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <div class="table-responsive">
                                <table id="basic-datatables" class="cell-border table table-striped table-hover" style="width:100%">
                                    <thead>
                                        <tr style="text-transform: uppercase;">
                                            <th></th>
                                            <th>Name(s) </th>
                                            <th>class </th>
                                            <th>subjectName</th>
                                            <th>schoolCategory</th>
                                            <th>A1 </th>
                                            <th>A2 </th>
                                            <th>A3 </th>
                                            <th>A4 </th>
                                            <th>A5 </th>
                                            <th>A6 </th>
                                            <th>obtainable score </th>
                                            <th>subject score </th>
                                            <th>subject average </th>
                                            <th>subject grade </th>
                                            <th>grade title </th>
                                            <th>subject position </th>
                                            <th>gp </th>
                                            <th>min score </th>
                                            <th>max score </th>
                                            <th>firstterm score </th>
                                            <th>secondterm score </th>
                                            <th>sum secondterm </th>
                                            <th>avg secondterm </th>
                                            <th>thirdterm score </th>
                                            <th>sum thirdterm </th>
                                            <th>fourthterm score </th>
                                            <th>sum fourthterm </th>
                                            <th>overall score </th>
                                            <th>average overall </th>
                                            <th>overall subject grade </th>
                                            <th>term subject position </th>
                                            <th>subject remark </th>

                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% results.forEach(function(result){%>
                                        <tr>
                                            <td><%= result.title%> </td>
                                            <td><%= result.surname%> <%= result.firstname%>  <%= result.middlename%> </td>
                                            <td><%= result.className%> </td>
                                            <td><%= result.subjectName%> </td>
                                            <td><%= result.schoolCategory%> </td>
                                            <td><%= result.term%> </td>
                                            <td><%= result.A1%> </td>
                                            <td><%= result.A2%> </td>
                                            <td><%= result.A3%> </td>
                                            <td><%= result.A4%> </td>
                                            <td><%= result.A5%> </td>
                                            <td><%= result.A6%> </td>
                                            <td><%= result.obtainable_score%> </td>
                                            <td><%= result.subject_score%> </td>
                                            <td><%= result.subject_average%> </td>
                                            <td><%= result.subject_grade%> </td>
                                            <td><%= result.grade_title%> </td>
                                            <td><%= result.subject_position%> </td>
                                            <td><%= result.gp%> </td>
                                            <td><%= result.min_score%> </td>
                                            <td><%= result.max_score%> </td>
                                            <td><%= result.firstterm_score%> </td>
                                            <td><%= result.secondterm_score%> </td>
                                            <td><%= result.sum_secondterm%> </td>
                                            <td><%= result.avg_secondterm%> </td>
                                            <td><%= result.thirdterm_score%> </td>
                                            <td><%= result.sum_thirdterm%> </td>
                                            <td><%= result.fourthterm_score%> </td>
                                            <td><%= result.sum_fourthterm%> </td>
                                            <td><%= result.overall_score%> </td>
                                            <td><%= result.average_overall%> </td>
                                            <td><%= result.overall_subject_grade%> </td>
                                            <td><%= result.term_subject_position%> </td>
                                            <td><%= result.subject_remark%> </td>
                                            
                                        </tr>
                                        <%});%>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    <span class="fw-mediumbold">
                        continuous   </span> 
                    <span class="fw-light">
                        assessment
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/api/teachers/add/continious_assesment" method="post" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>class </label>
                                <select name="schoolclass_id" id="schoolclass_id" class="form-control" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classts.forEach(function(classt){ %>
                                        <option value="<%= classt.Id %>"><%= classt.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>SCHOOL CATEGORY </label>
                                <select name="schoolcategory_id" id="schoolcategory_id" class="form-control" required>
                                    <option value="">SELECT SCHOOL CATEGORY </option>
                                    <% var option = [];
                                    schoolCategorys.forEach(function(category){ %>
                                        <option value="<%= category.schoolcategoryid %>"><%= category.schoolCategory %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>subject </label>
                                <select name="school_id" id="school_id" class="form-control" required>
                                    <option value="">SELECT SUBJECT </option>
                                    <% var option = [];
                                    subjects.forEach(function(subject){ %>
                                        <option value="<%= subject.Id %>"><%= subject.subjectName %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-default">
                                <label>Term </label>
                                <select name="term_id" id="term_id" class="form-control" required>
                                    <option value="">SELECT TERM </option>
                                    <% var option = [];
                                    terms.forEach(function(term){ %>
                                        <option value="<%= term.setup_id %>"><%= term.term %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Upload the continuous assess excel file </label>
                                <input type="file" style="border: none;" name="assessment" id="assessment" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/admin/footer') %>

<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getclass() {
  var classid = $("#classname").val();
  console.log(classid)
$('#loading-image').show();
  $.ajax({
    url: "/api/teachers/get_student_by_class/"+classid,
    method: "GET",
    success: function(response){
        getStudent(response)
        console.log(response)
    },
    complete: function(){
        $('#loading-image').hide();
      }
  })
}

function getStudent(result){
    if(result.length > 0){
		var html = "";
		html +='<option disabled selected value> SELECT STUDENT </option>';
		for(var a = 0; a < result.length; a++){
		  html +='<option value="'+result[a].student_reg_Id+'">'+result[a].surname+" "+result[a].firstname+" "+result[a].middlename+'</option>';
		}
		$('#student').html(html);
	  } else {
		var html = "";
		html +='<option disabled selected value>No Student Found</option>';
		$('#student').html(html);
	  }
}
</script>

