<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Continious Assesment</h4>
            <div class="row">
                <div class="col-md-9">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">Work Habit</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/api/teachers/punctuality" method="post" >
                                    <div class="row mt-3">
                                        <div class="col-md-9">
                                            <div class="form-group form-group-default">
                                                <label>Class</label>
                                                <select name="classname"  id="classname" class="form-control" onchange="getclass()" required>
                                                    <option value="">SELECT CLASS NAME</option>
                                                    <% var option=[]
                                                    classt.forEach(function(clss){  %>
                                                        <option value="<%= clss.Id%>"><%= clss.className%></option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                   
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->
            <% if(count >= 1) {%>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="float: right;">
                            <h4 class="card-title">Multi Filter Select</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table  table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Class</th>
                                            <th>Student</th>
                                            <th>Term</th>
                                            <th>Sesion</th>
                                            <th>Subject</th>
                                            <th>Assessment Type</th>
                                            <th>Score</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Class</th>
                                            <th>Student</th>
                                            <th>Term</th>
                                            <th>Sesion</th>
                                            <th>Subject</th>
                                            <th>Assessment Type</th>
                                            <th>Score</th>
                                            <th>action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% assessments.forEach(function(assessment){%>
                                       <tr>
                                           <td><%= assessment.className%></td>
                                           <td><%= assessment.surname%> <%= assessment.firstname%> <%= assessment.middlename%></td>
                                           <td><%= assessment.term%></td>
                                           <td><%= assessment.sesion%></td>
                                           <td><%= assessment.subjects%></td>
                                           <td><%= assessment.assessment_type%></td>
                                           <td><%= assessment.score%></td>
                                           <td></td>
                                       </tr>
                                       <%});%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>

            <%} else {%>
            <%} %>
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>

<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getclass() {
  var classid = $("#classname").val();
  console.log(classid)
  document.location.href ='/api/teachers/get_class?classassesmentid='+classid
}


</script>

<script >
    $(document).ready(function() {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>