<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/admission') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Continious Assesment</h4>
          
            <!-- end form row -->
            <% if(count >= 1) {%>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="float: right;">
                            <h4 class="card-title" style="text-align: center;"><%= classifo.className%> Students Records</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table  table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>class Name</th>
                                            <th>yearOfEntry</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>DOB</th>
                                            <th>class Name</th>
                                            <th>Entry Year</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% students.forEach(function(student){%>
                                       <tr>
                                           <td><%= student.title %></td>
                                           <td><%= student.surname%> <%= student.firstname%> <%= student.middlename%></td>
                                           <td><%= student.gender%></td>
                                           <td><%= student.dateofbirth%></td>
                                           <td><%= student.className%></td>
                                           <td><%= student.yearOfEntry%></td>
                                           <td>
                                            <div class="form-button-action">
                                                <!-- <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-succes " data-original-title="View Detail">
                                                    <i class="fa fa-eye"></i>
                                                </button> -->
                                                <a href="/api/teachers/add/continious_assesment?studentidentification=<%= student.student_reg_Id %>&classassessmentid=<%= classid%>" data-toggle="tooltip" title="" class="btn btn-link btn-primary " data-original-title="add Continious Assess">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <!-- <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove Student">
                                                    <i class="fa fa-times"></i>
                                                </button> -->
                                            </div>
                                           </td>
                                       </tr>
                                       <%});%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>

            <%} else {%>
            <%} %>
        </div>
    </div>
    
</div>

<%- include('../../layouts/admin/footer') %>


<script >
    $(document).ready(function() {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>