<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
      <div class="container d-flex align-items-center">
  
        <h1 class="logo mr-auto"><a href="/">schmaster</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <% if(login) {%>
              
            <% if (link == "/"){%>
               <li class="active"><a href="/">Home</a></li>
            <%} else {%>
               <li><a href="/">Home</a></li>
            <%}%>
            <% if (link == "/about_us"){%>
               <li class="active"><a href="/about_us">About</a></li>
            <%} else {%>
               <li><a href="/about_us">About</a></li>
            <%}%>
            <% if (link == "/our_services"){%>
               <li class="active"><a href="/our_services">Services</a></li>
            <%} else {%>
               <li><a href="/our_services">Services</a></li>
            <%}%>
            <% if (link == "/contact_us"){%>
               <li class="active"><a href="/contact_us">Contact</a></li>
            <%} else {%>
               <li><a href="/contact_us">Contact</a></li>
            <%}%>
            <% if (user.group_id == 333333){%>
               <li><a href="/api/teachers/dashboard" >Dashboard</a></li> 
            <%} else if (user.group_id == 111111) {%>
               <li><a href="/admin/panel/dashboard" >Dashboard</a></li>
            <%} else if (user.group_id == 444444) {%>
               <li><a href="/api/parents/dashboard" >Dashboard</a></li> 
            <%} else if (user.group_id == 222222) {%>
               <li><a href="/api_supervisor/dashboard" >Dashboard</a></li> 
            <%}  else {%>
               <li><a href="/api_student/dashboard" >Dashboard</a></li> 
            <%}%>
            <li><a href="/logout">Logout</a></li>

            <%} else {%>
              <% if (link == "/"){%>
              <li class="active"><a href="/">Home</a></li>
           <%} else {%>
              <li><a href="/">Home</a></li>
           <%}%>
           <% if (link == "/about_us"){%>
              <li class="active"><a href="/about_us">About</a></li>
           <%} else {%>
              <li><a href="/about_us">About</a></li>
           <%}%>
           <% if (link == "/our_services"){%>
              <li class="active"><a href="/our_services">Services</a></li>
           <%} else {%>
              <li><a href="/our_services">Services</a></li>
           <%}%>
           <% if (link == "/contact_us"){%>
              <li class="active"><a href="/contact_us">Contact</a></li>
           <%} else {%>
              <li><a href="/contact_us">Contact</a></li>
           <%}%>
           <% if (link == "/login"){%>
              <li class="active"><a href="/login">Sign in</a></li>
           <%} else {%>
              <li><a href="/login">Sign in</a></li>
           <%}%>
           <% if (link == "/create_account"){%>
              <li class="active"><a href="/create_account">Sign Up</a></li>
           <%} else {%>
              <li><a href="/create_account">Sign Up</a></li>
           <%}%>
              
             
            <%}%>
          </ul>
          </nav><!-- .nav-menu -->
    
          <!-- <a href="/create_account" class="get-started-btn scrollto">Sign Up</a> -->
  
      </div>
    </header><!-- End Header -->