<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/exammination') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Exam Management</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/examination/exam_panel">Exam panel</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/exam/exam_management/create_exam">Exam Management</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">create exam subjects</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#"><%= classt.className%></a>
                    </li>
                </ul>
                <div class="btn-group btn-group-page-header ml-auto">
                    <button type="button" class="btn btn-light btn-round btn-page-header-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="arrow"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-file-import  "></i> Upload Course Subjecc</a>
                        <!-- <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> -->
                    </div>
                </div>
            </div>
           
            <div class="row " id="subj" >
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="float: right;">
                            <!-- <button class="btn btn-info btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                <i class="fa fa-plus"></i> subject
                            </button> -->
                            
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="/admin//exam/exam_management/create_exam/class?id=<%= classid%>" method="post" >
                                    <table  class="display table " >
                                        
                                        <tbody id="table">
                                            <tr class="tr">
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>Session</label>
                                                        <select name="yearsession"  id="session" class="form-control"  required>
                                                            <option value="">SELECT SESSIONS</option>
                                                            <% var option=[]
                                                            term_session.forEach(function(session){  %>
                                                                 <option value="<%= session.id%>"><%= session.acdsession%></option>
                                                             <%});%>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>Term</label>
                                                        <select name="term"  id="term" class="form-control"  required>
                                                            <option value="">SELECT TERM </option>
                                                            <% var option=[]
                                                            terms.forEach(function(term){  %>
                                                                 <option value="<%= term.setup_id %>"><%= term.term%></option>
                                                             <%});%>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group form-group-default">
                                                        <label>Subject</label>
                                                        <select name="subject[]"  id="subject" class="form-control"  required>
                                                            <option value="">SELECT CLASS NAME</option>
                                                            <% var option=[]
                                                            subjects.forEach(function(subject){  %>
                                                                 <option value="<%= subject.Id%>"><%= subject.subjectName%></option>
                                                             <%});%>
                                                        </select>
                                                    </div>
                                                </td>
                                                
                                                <td>
                                                    <button type="button" name="add" id="add" class="btn btn-success">Add</button>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                    <div style="float: right; padding-right: 30px ;">
                                        <button type="submit"  class="btn ">submit</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    
                    <%if(realExm == "") {%>
                    <%} else {%>
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="multi-filter-select" class="display table table-striped table-hover" >
                                        <thead>
                                            <tr>
                                                <th>Subject Name</th>
                                                <th>Teachers Name</th>
                                                <th>Action</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody id="table">
                                            <% exams.forEach(function(exam){%> 
                                                <tr>
                                                    <td><%= exam.classN %></td>
                                                    <td><%= exam.term %></td>
                                                    <td><%= exam.asession %></td>
                                                    <td><%= exam.subjectN %></td>
                                                </tr>
                                            <%});%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <%}%>
                            
                </div>

                
            </div>
            <!-- end table -->

        
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>
<script>
 $(document).ready(function(){

var revenue_name = $('#revenue_name').val();


  var i = 1;
  $('#add').click(function(){
      i++;
      $('#table')
      .append(`
        <tr id="tr${i}">
            <td></td>
            <td></td> 
            <td> 
                <div class="form-group form-group-default"> <label>Subject</label>  
                    <select name="subject[]"  id="subject" class="form-control"  required> 
                        <option value="">SELECT CLASS NAME</option> 
                        <% var option=[] %> 
                        <%  for(subject of subjects){ %> 
                            <option value="<%= subject.Id %>"><%= subject.subjectName%></option> 
                        <% } %> 
                    </select> 
                </div> 
            </td>
            <td>
                <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
            <td>  
        </tr> `);
  });
  
  $(document).on('click', '.btn_remove', function(){
      var button_id = $(this).attr("id"); 
      $('#tr'+button_id+'').remove();
  });
  
});
</script>

