<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/performace_skill') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <h4 class="page-title">Performace Skills</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-header">
                            <div class="row row-nav-line">
                                <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                  <li class="nav-item"> <a class="nav-link active " data-toggle="tab" href="#home" role="tab" aria-selected="true">SEARCH STUDENT PERFORMACE SKILLS</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target="#addRowModal">UPLOAD PERFORMACE SKILLS</a> </li>
                                  <!-- <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a> </li>
                                  <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Settings</a> </li> -->
                                </ul>
                              </div>
                        </div>
                        <div class="card-body" id="home">
                            <%- messages('messages', locals) %>
                            <form action="/admin/admission/registration" method="post" enctype="multipart/form-data">
                                <div class="row mt-3">
                                    <div class="col-md-9">
                                        <div class="form-group form-group-default">
                                            <label>CLASS NAME</label>
                                            <select name="title"  id="classname" class="form-control" required>
                                                <option value="">SELECT CLASS NAME</option>
                                                <% var option=[]
                                                  classt.forEach(function(clss){  %>
                                                     <option value="<%= clss.Id%>"><%= clss.className%></option>
                                                 <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group form-group-default">
                                            <label>SESSION</label>
                                            <select name="acdseesion"  id="acdseesion" class="form-control"  required>
                                                <option value="">SELECT SESSION</option>
                                                <% var option=[]
                                                schsession.forEach(function(session){  %>
                                                     <option value="<%= session.acdsession%>"><%= session.acdsession%></option>
                                                 <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group form-group-default">
                                            <label>TERM</label>
                                            <select name="term_id" id="term_id" class="form-control" onchange="getclass()" required>
                                                <option value="">SELECT TERM </option>
                                                <% var option = [];
                                                terms.forEach(function(term){ %>
                                                    <option value="<%= term.term %>"><%= term.term %> </option>
                                                <% });%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="/loader1.gif" alt="" id="loading-image" style="width: 100px; height: 100px;" >
                                    </div>
                                </div>
                                
                            </form>
                        </div>

                    </div>
                </div>
        
            </div>
            <!-- end form row -->

            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <h4 class="card-title">Multi Filter Select</h4> -->
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Student Attendent</th>
                                            <th>totals</th>
                                            <th>className</th>
                                            <th>term</th>
                                            <th>sesion</th>
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Student Attendent</th>
                                            <th>totals</th>
                                            <th>className</th>
                                            <th>term</th>
                                            <th>sesion</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="table">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" style="text-align: center;">
                    UPLOAD STUDENT PUNTUALITY
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <!-- <p class="small">Create a new row using this form, make sure you fill them all</p> -->
                <form action="/admin/upload/performance/get_punctuality" method="post" enctype="multipart/form-data">
                   
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>class </label>
                                <select name="schoolclass_id" id="schoolclass_id" class="form-control" required>
                                    <option value="">SELECT CLASS</option>
                                    <% var option = [];
                                    classt.forEach(function(classt){ %>
                                        <option value="<%= classt.className %>"><%= classt.className %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>Term </label>
                                <select name="term_id" id="term_id" class="form-control" required>
                                    <option value="">SELECT TERM </option>
                                    <% var option = [];
                                    terms.forEach(function(term){ %>
                                        <option value="<%= term.term %>"><%= term.term %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-default">
                                <label>Session </label>
                                <select name="schsession" class="form-control" id="">
                                    <option value="">Select Session</option>
                                    <% var option = [];
                                    schsession.forEach(function(acdsession){ %>
                                            <option value="<%= acdsession.acdsession %>"><%= acdsession.acdsession %></option>
                                    <% });%>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Upload Performace Skills excel file </label>
                                <input type="file" style="border: none;" name="punctuality" id="punctuality" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" style="float: right;"  class="btn ">submit</button>
                </form>
            </div>
            <div class="modal-footer no-bd">
               
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>

<%- include('../../layouts/admin/footer') %>

<script>
    /*
* select category to get subcategory
*/
$('#loading-image').hide();
function getclass() {
  var classid = $("#classname").val();
  var acdses = $("#acdseesion").val();
  var term_id = $("#term_id").val();
//   console.log(classname)
$('#loading-image').show();
  $.ajax({
    url: "/admin/view/performance/get_punctuality?class_id="+classid+"&acdsession="+acdses+"&term="+term_id,
    method: "GET",
    success: function(response){
      getStates(response)
      console.log(response)
    },
    complete: function(){
        $('#loading-image').hide();
      }
  })
}

function getStates(result){
  if(result.length > 0){
    var html = "";
    for(var a = 0; a < result.length; a++){
      //price = result[a].prices;
       html +='<tr>';
        html +='<td>'+result[a].surname+" "+result[a].firstname+" "+result[a].middlename+' </td>';
         html +='<td>'+result[a].totals+'</td>';
         html +='<td>'+result[a].className+'</td>';
         html +='<td>'+result[a].term+'</td>';
         html +='<td>'+result[a].sesion+'</td>';
     html +='</tr>';
     
    }
    $('#table').html(html);
  } else {
    var html = "";
    html +='<option disabled selected value></option>';
    $('#state').html(html);
  }
}
</script>