<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/timetable') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">TimeTable</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">TimeTable</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#"><%= classt.className %></a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">SETTING TIMETABLE FOR <%= classt.className.toUpperCase() %></h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form action="/admin/create/school_general_time_table" method="post" >
                                <div id="addmore">
                                    <div class="row">
                                        
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-default">
                                                <input type="hidden" name="classid" value="<%= classt.Id %>">
                                                <input type="hidden" name="sessionN" value="<%= acdsession %>">
                                                
                                                <label>SUBJECTS</label>
                                                <select name="subjectId[]" class="form-control"  required>
                                                    <option value="">SELECT SUBJECTS </option>
                                                    <% var option=[]
                                                    subjects.forEach(function(subject){  %>
                                                        <option value="<%= subject.Id %>"><%= subject.subjectName%> </option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-default">
                                                <label>STAFF</label>
                                                <select name="StaffId[]"   class="form-control"  required>
                                                    <option value="">SELECT STAFF </option>
                                                    <% var option=[]
                                                    teachers.forEach(function(teacher){  %>
                                                        <option value="<%= teacher.staff_reg_id%>"><%= teacher.surname%> <%= teacher.firstname%> <%= teacher.middlename%></option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>ALT STAFF</label>
                                                <select name="AltStaffId[]"   class="form-control"  required>
                                                    <option value="">SELECT AIT STAFF </option>
                                                    <% var option=[]
                                                    teachers.forEach(function(teacher){  %>
                                                        <option value="<%= teacher.staff_reg_id%>"><%= teacher.surname%> <%= teacher.firstname%> <%= teacher.middlename%></option>
                                                    <%});%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>PERIOD</label>
                                                <select name="PeriodNum[]"   class="form-control"  required>
                                                    <option value="">SELECT PERIOD </option>
                                                    <option value="1">1<super>ST</super> Period </option>
                                                    <option value="2">2<super>ND</super> Period </option>
                                                    <option value="3">3<super>RD</super> Period </option>
                                                    <option value="4">4<super>TH</super> Period </option>
                                                    <option value="5">5<super>TH</super> Period </option>
                                                    <option value="6">6<super>TH</super> Period </option>
                                                    <option value="7">7<super>TH</super> Period </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>WEEK</label>
                                                <select name="WeekDay[]"   class="form-control"  required>
                                                    <option value="">SELECT WEEK </option>
                                                    <option value="1">1<supscript>ST</supscript>  </option>
                                                    <option value="2">2<super>ND</super>  </option>
                                                    <option value="3">3<super>RD</super>  </option>
                                                    <option value="4">4<super>TH</super>  </option>
                                                    <option value="5">5<super>TH</super>  </option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-2">
                                            <div class="form-group form-group-default">
                                                <label>DURATION</label>
                                                <select name="Duration[]"   class="form-control"  required>
                                                    <option value="">SELECT DURATION </option>
                                                    <option value="45 M">45 Minutes </option>
                                                    <option value="1 Hour">1 Hour </option>
                                                    <option value="1 Hour 30 M">1 Hour 30 M </option>
                                                    <option value="2 Hour">2 Hour </option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-default">
                                                <label>FROM</label>
                                               <input type="time" class="form-control" name="PeriodTimeStart[]">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-default">
                                                <label>TO</label>
                                               <input type="time" class="form-control" name="PeriodTimeEnd[]">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group form-group-default">
                                                <label>DATE</label>
                                               <input type="date" class="form-control" name="PeriodDate[]">
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div  style="float: left;">
                                                <button type="button" name="add" id="add" class="btn btn-warning"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="float: right;">
                                    <button type="submit" class="btn btn-info">submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>



<%- include('../../layouts/admin/footer') %>
<script>
    $(document).ready(function(){
   
     var revenue_name = $('#revenue_name').val();
    
   
       var i = 1;
       $('#add').click(function(){
           i++;
           $('#addmore').append(`
           <div class="row" id="row${i}">
            
            <div class="col-sm-3">
                <div class="form-group form-group-default">
                    <label>SUBJECTS</label>
                    <select name="subjectId[]" class="form-control"  required>
                        <option value="">SELECT SUBJECTS </option>
                        <% var option=[]
                        subjects.forEach(function(subject){  %>
                            <option value="<%= subject.Id %>"><%= subject.subjectName%> </option>
                        <%});%>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-group-default">
                    <label>STAFF</label>
                    <select name="StaffId[]"   class="form-control"  required>
                        <option value="">SELECT STAFF </option>
                        <% var option=[]
                        teachers.forEach(function(teacher){  %>
                            <option value="<%= teacher.staff_reg_id%>"><%= teacher.surname%> <%= teacher.firstname%> <%= teacher.middlename%></option>
                        <%});%>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group form-group-default">
                    <label>ALT STAFF</label>
                    <select name="AltStaffId[]"   class="form-control"  required>
                        <option value="">SELECT AIT STAFF </option>
                        <% var option=[]
                        teachers.forEach(function(teacher){  %>
                            <option value="<%= teacher.staff_reg_id%>"><%= teacher.surname%> <%= teacher.firstname%> <%= teacher.middlename%></option>
                        <%});%>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group form-group-default">
                    <label>PERIOD</label>
                    <select name="PeriodNum[]"   class="form-control"  required>
                        <option value="">SELECT PERIOD </option>
                        <option value="1">1<super>ST</super> Period </option>
                        <option value="2">2<super>ND</super> Period </option>
                        <option value="3">3<super>RD</super> Period </option>
                        <option value="4">4<super>TH</super> Period </option>
                        <option value="5">5<super>TH</super> Period </option>
                        <option value="6">6<super>TH</super> Period </option>
                        <option value="7">7<super>TH</super> Period </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group form-group-default">
                    <label>WEEK</label>
                    <select name="WeekDay[]"   class="form-control"  required>
                        <option value="">SELECT WEEK </option>
                        <option value="1">1<supscript>ST</supscript> WEEK </option>
                        <option value="2">2<super>ND</super> WEEK </option>
                        <option value="3">3<super>RD</super> WEEK </option>
                        <option value="4">4<super>TH</super> WEEK </option>
                        <option value="5">5<super>TH</super> WEEK </option>
                        <option value="6">6<super>TH</super> WEEK </option>
                        <option value="7">7<super>TH</super> WEEK </option>
                    </select>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="form-group form-group-default">
                    <label>FROM</label>
                    <input type="time" class="form-control" name="PeriodTimeStart[]">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-group-default">
                    <label>TO</label>
                    <input type="time" class="form-control" name="PeriodTimeEnd[]">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-group-default">
                    <label>DATE</label>
                    <input type="date" class="form-control" name="PeriodDate[]">
                </div>
            </div>
                           
                <div class="col-sm-1">
                    <div style="flaot:left">
                        <button name="remove" class="btn btn-danger btn-sm btn_remove" id="${i}">X</button>
                    </div>
                </div>
            </div>
        `);
       });
       
       $(document).on('click', '.btn_remove', function(){
           var button_id = $(this).attr("id"); 
           $('#row'+button_id+'').remove();
       });

       
       
       
   });
   </script>