<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/timetable') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Term</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Term Setup</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <!-- <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    add term setting
                                </button>
                            </div> -->
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <form>
                                
                                <div class="row" id="addmore"> 
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-default">
                                            <label>class</label>
                                            <select id="examclassid" onchange="getexamclass()"   class="form-control"  required>
                                                <option value="">SELECT CLASS NAME</option>
                                                <% var option=[]
                                                classMember.forEach(function(clss){  %>
                                                    <option value="<%= clss.Id%>"><%= clss.className%></option>
                                                <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>


<%- include('../../layouts/admin/footer') %>
<script>
function getexamclass () {
    $('#addmore').append(`
    <div class="col-sm-12">
        <div class="form-group form-group-default">
            <label>SESSION</label>
            <select id="sessionid" onchange="getSession()"   class="form-control"  required>
                <option value="">SELECT ACD SESSION</option>
                <% var option=[]
                acdsession.forEach(function(clss){  %>
                    <option value="<%= clss.acdsession%>"><%= clss.acdsession%></option>
                <%});%>
            </select>
        </div>
    </div>
    `);
}



function getSession () {
    var examclassid = $("#examclassid").val();
    var sessionid = $("#sessionid").val();
    // var weekNumber = $("#examclassid").val();
    console.log(sessionid)
    document.location.href ='/admin/create/school_general_time_table?classid='+examclassid+'&session='+sessionid
}

function submitvalues () {
    
}
</script>