<%- include('../../layouts/admin/head') %>
<%- include('../../layouts/admin/nav') %>
<%- include('../../layouts/admin/sidebars/timetable') %>

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Term</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">setting</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Term Setup</a>
                    </li>
                </ul>
            </div>
            <div class="row">
               

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <!-- <div class="d-flex align-items-center">
                                <h4 class="card-title"></h4>
                                -->
                        </div>
                        <div class="card-body">
                            <%- messages('messages', locals) %>
                            <table class="table table-bordered table-head-bg-warning table-bordered-bd-warning  " style="color: black;">
                                <thead>
                                    <tr>
                                        <th scope="col"><aside><h3>DAYS</h3></aside></th>
                                        <th scope="col">CLASSES</th>
                                        <th scope="col"><aside><h3></h3></aside></th>
                                        <th scope="col">7:00-8:10</th>
                                        <th scope="col">7:00-8:10</th>
                                        <th scope="col">7:00-8:10</th>
                                        <th scope="col">7:00-8:10</th>
                                        <th scope="col"><aside><h3>BREAK</h3></aside></th>
                                        <th scope="col">7:00-8:10</th>
                                        <th scope="col">7:00-8:10</th>
                                        <th scope="col">7:00-8:10</th>
                                        <!-- <th scope="col">Handle</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="6" class="csstransforms"> 
                                           <aside><h3>  MONDAY </h3></aside> 
                                        </td>
                                        <td>SS3</td>
                                        <td rowspan="6" class="csstransforms">
                                            <aside><h3>  DEVOTION </h3></aside> 
                                        </td>
                                        <td>@mdo</td>
                                        <td > 1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td rowspan="6" class="csstransforms">
                                            <aside><h3>  LONG BREAK </h3></aside> 
                                        </td>
                                        <td > 1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <td>SS2</td>
                                        <td>@mdo</td>
                                        <td > 1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <td>SS1</td>
                                        <td>@mdo</td>
                                        <td > 1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                       
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <td>JSS3</td>
                                        <td>@mdo</td>
                                        <td > 1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <td>JSS2</td>
                                        <td>@mdo</td>
                                        <td > 1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <td>JSS1</td>
                                        <td>@mdo</td>
                                        <td > 1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                       
                                        <td>Mark</td>
                                        <td>Otto</td>
                                    </tr>
                                     <!--
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    
</div>


<%- include('../../layouts/admin/footer') %>
